#home_shadow {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	background: rgb(54, 25, 25); /* Fall-back for browsers that don't support rgba */
    background: rgba(54, 25, 25, .3);
}

#home_wrapper {
	width: 480px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -70px;
	margin-left: -240px;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #DFE0E4;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#home_wrapper select {
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    /*background-image: url(image-path('arrow_down.png'));*/
    background: url(image-path('arrow_down.png')) no-repeat;
    background-position: center right;
    border: 1px solid #AAA;
    width: 100%;
    height: 40px;
    font-family: "Open Sans", helvetica, arial;
    font-size: 13px;
    color: #444;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 0 10px 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    background-color: #fefafa;
    border:  1px solid #fdeded;
}

.home_title {
	font-family: "Open Sans", helvetica, arial;
    font-size: 25px;
    color: #F05053;
    margin-bottom: 15px;
	text-align: center;
}

.home_search_button {
	width: 100%;
	height: 40px;
	background-color: #F16164;
	border: 0;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	cursor: pointer;
	border-bottom: 2px solid #B14739;

	-webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.home_search_button:hover {
	background-color: #F05053;
}