// Place all the styles related to the adverts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* MASONRY */

#advert_container {
	overflow: hidden;
	border: 0px solid red;
}

#masonry-container {
  clear: both;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  border: 0px solid red;
}

.centered { margin: 0 auto; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* ------------------------------*/

/* MASONRY BOX */

.box {
	background-color: #fff;
	margin: 10px;
	width: 252px;
	display: none;
	background-color: #fff;
	border: 1px solid #DFE0E4;
}

.box_image {
	position: relative;
	background-color: #dbdde2;
	height: 135px;
}

.box_price {
	position: absolute;
	top: 20px;
	right: 0;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	background-color:rgba(255,0,0,0.5);
	padding: 5px;
}

.box_content_wrapper {
	padding: 10px 10px 7px 10px;
	overflow: hidden;
	background-color: #F6F7F8;
	border-bottom: 1px solid #e5e6e9;
}

.box_user_avatar {
	width: 30px;
	height: 30px;
	float: left;
	border: 0px solid red;
}

.box_make {
	width: 192px;
	float: right;
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	color: #224a5d;
	text-transform: uppercase;
	border: 0px solid red;

	-webkit-transition: color 150ms linear;
  	-moz-transition: color 150ms linear;
  	-o-transition: color 150ms linear;
  	-ms-transition: color 150ms linear;
  	transition: color 150ms linear;
}

.box_model {
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	margin-top: -1px;
	text-transform: uppercase;
	border: 0px solid red;

	-webkit-transition: color 150ms linear;
  	-moz-transition: color 150ms linear;
  	-o-transition: color 150ms linear;
  	-ms-transition: color 150ms linear;
  	transition: color 150ms linear;
}

a:hover .box_make, a:hover .box_model {
	color: #336f8c;
}

.box_attr {
	font-family: 'PT Sans', sans-serif;
	font-size: 11px;
	color: #777777;
	padding: 0px 10px 0 10px;
	border: 0px solid red;
}

.box_footer {
	height: 35px;
	line-height: 32px;
	padding: 0 10px 0 10px;
	font-family: "Open Sans", helvetica, arial;
	font-size: 11px;
	color: #777777;
	border-bottom: 1px solid #ececec;
}

.box_icons {
	position: absolute;
	top: 420px;
	right: 15px;
}

.box_icons li {
	display: inline-block;
	border: 0px solid red;
}

/*----------------------------*/




