#landing_page_wrapper {
	width: 100%;
	padding: 20px;
	background-color: #fdfdfd;
}

.landing_heading,
.landing_subheading,
.landing_text {
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	text-align: center;
	color: #204056;
	border: 0px solid red;
}

.landing_subheading {
	font-size: 20px;
}	

.landing_text {
	max-width: 750px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 16px;
}		

#advert_example {
	width: 282px;
	margin: auto;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #e5e6e9;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#advert_example_footer {
	width: 100%;
	margin-top: -6px;
	margin-bottom: -6px;
}

ul.advert_user_benefit {
	width: 120px;
	height: auto;
	position: absolute;
	top: 15px;
	left: -80px;
	padding: 5px;
	background-color: #f7f7f7;
	border: 1px solid #e5e6e9;

	-webkit-border-radius:3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: 2px 1px 3px 0px rgba(193,193,193,0.6);
	-moz-box-shadow: 2px 1px 3px 0px rgba(193,193,193,0.6);
	box-shadow: 2px 1px 3px 0px rgba(193,193,193,0.6);
}

ul.advert_user_benefit li {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	margin-bottom: 5px;
	text-align: center;
	color: #777;
	background-color: #fdfdfd;
	border: 1px solid #efeff1;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

ul.advert_user_benefit li:last-child {
	margin-bottom: 0;
}

#landing_search {
	max-width: 520px;
	margin: auto;
	text-align: left;
	padding: 0 10px 0 10px;
	margin-top: 20px;
	border: 0px solid red;
}

#landing_search ul {
	border: 0px solid red;
	margin-bottom: 20px;
}

#landing_search li {
	width: 100%;
	border: 0px solid green;
}

/*#landing_search select {
	-webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background: url(image-path('arrow_down.png')) no-repeat;
    background-position: center right;
    border: 1px solid #AAA;
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
    font-family: "Open Sans", helvetica, arial;
    font-size: 13px;
    color: #444;
    overflow: hidden;
    padding: 0 10px 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    background-color: #fefafa;
    border:  1px solid #fdeded;

    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(250,229,229,0.5);
    -moz-box-shadow: inset 0px 0px 2px 0px rgba(250,229,229,0.5);
    box-shadow: inset 0px 0px 2px 0px rgba(250,229,229,0.5);
}

.landing_input_field {
	width: 100%;
	height: 45px;
	padding: 0 10px 0 10px;
	color: #444444;
	font-family: "Open Sans", helvetica, arial;
	font-size: 12px;
	background-color: #fefafa;
    border:  1px solid #fdeded;

    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(250,229,229,0.5);
    -moz-box-shadow: inset 0px 0px 2px 0px rgba(250,229,229,0.5);
    box-shadow: inset 0px 0px 2px 0px rgba(250,229,229,0.5);
}*/

.landing_search_button {
	width: 100%;
	height: 45px;
	background-color: #F16164;
	border: 0;
	color: #fff;
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	cursor: pointer;
	border-bottom: 2px solid #B14739;

	-webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.landing_search_button:hover {
	background-color: #F05053;
}

/*-----------------------*/

.adverts_wrapper {
	max-width: 1200px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 70px;
	border: 0px solid red;
}

.aircraft_heading {
	margin: 30px 10px 20px 10px;
	font-family: 'Lato', sans-serif;
	font-size: 28px;
	font-weight: 900;
	color: #777;
	text-align: center;
	border: 0px solid red;
}

/* Media */

@media (max-width: 500px) {

  ul.advert_user_benefit {
  	display: none;
  }
}

/*------------------*/