/* NEW FORM ADVERT NAV*/

.new_advert_form_wrapper {
	margin: 20px 20px 60px 20px;
	height: 100%;
	overflow: hidden;
}

.new_advert_page {
	max-width: 720px;
	margin: auto;
	margin-top: 20px;
	overflow: hidden;
	border: 0px solid green;
}

.new_advert_header {
  font-family: "Open Sans", helvetica, arial;
  font-size: 25px;
  color: #F05053;
  margin-top: 20px;
  text-align: center;
}

.new_advert_note {
	padding: 10px;
	margin-top: 15px;
	background-color: #FEFAFA;
	border: 1px solid #FDEDED;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #BA2513;
	text-align: left;
	text-transform: none;

	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/* JS navigation */

.new_advert_nav {
	float: left;
	margin-right: 20px;	
	width: 220px;
}

.new_advert_nav ul {
	width: 100%;
	background-color: #fdfdfd;
	border: 1px solid #DFE0E4;
	position: relative;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.new_advert_nav li {
	padding: 15px;
	font-size: 14px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	border-bottom: 1px solid #DFE0E4;
}

.new_advert_nav li:last-child {
	border-bottom: none;
}

.new_advert_nav li a {
	color: #444;
}

.new_advert_nav li a:hover {
	color: #F04F54;
}

li.active a, li.active a:hover {
    color: #F04F54;
}

/*------------------*/

/* NEW ADVERT FORM */

.new_form_wrapper {
	width: 480px;
	float: left;
	background-color: #fdfdfd;
	padding: 0 20px 20px 20px;
	border: 1px solid #DFE0E4;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.new_form_wrapper li {
	display: inline-block;
}

.new_form_wrapper {
    display:none;
}
 
.new_form_wrapper.active {
    display:block;
}

ul.form {
	width: 100%;
	overflow: hidden;
	padding: 20px 0 10px 0;
	border-bottom: 1px solid #F2F2F4;
}

ul.form:last-child {
	border-bottom: 0px solid #F2F2F4;
	padding: 20px 0 0 0;
	margin-bottom: -10px;
}

ul.form li.form_field {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 48.8%;
	border: 0px solid red;
}

ul.form li.form_field:nth-child(odd) {
	margin-right: 0px;
}

ul.form li.form_field.one_column {
	width: 100%;
}

ul.form li.form_field.email_helper {
	margin-right: 10px;
}

ul.form li.form_field.phone_helper {
	margin-right: 0px;
}

li.four_columns {
	width: 47.8%;
}

.new_field,
.new_field_text {
	width: 100%;
	height: 40px;
  	padding: 0 10px 0 10px;
  	font-family: 'Open Sans', sans-serif;
  	font-size: 12px;
  	color: #000;
  	background-color: #fefafa;
  	border:  1px solid #fdeded;

  	-webkit-box-shadow: inset 0px 0px 2px 0px rgba(250,229,229,0.5);
  	-moz-box-shadow: inset 0px 0px 2px 0px rgba(250,229,229,0.5);
  	box-shadow: inset 0px 0px 2px 0px rgba(250,229,229,0.5);
}

.new_field_text {
	height: 125px;
}

.select_field select {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    /*background-image: url(image-path('arrow_down.png'));*/
    background: url(image-path('arrow_down.png')) no-repeat;
    background-position: center right;
    border: 1px solid #AAA;
    width: 100%;
	height: 40px;
  	font-family: 'Open Sans', sans-serif;
  	font-size: 12px;
  	color: #777;
    cursor: pointer;
    margin: 0;
    overflow: hidden;
    padding: 0 5px 0 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;

    background-color: #fefafa;
  	border:  1px solid #fdeded;

  	-webkit-box-shadow: inset 0px 0px 2px 0px rgba(250,229,229,0.5);
  	-moz-box-shadow: inset 0px 0px 2px 0px rgba(250,229,229,0.5);
  	box-shadow: inset 0px 0px 2px 0px rgba(250,229,229,0.5);
}

ul.form li.form_label {
	width: 100%;
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 10px;
}

.new_form_wrapper .form_label_small {
	font-family: "Open Sans", helvetica, arial;
	font-size: 12px;
	padding-top: 5px;
	display: block;
	font-weight: normal;
}

.required_fields {
	color: #F37A7C;
	float: right;
	font-family: "Open Sans", helvetica, arial;
	font-weight: normal;
	font-size: 12px;
}

/*--------------------*/


/* New course select dropdown list style */

:root .new_form_dropdown_list option,
:root .new_form_dropdown_list:after,
:root .new_form_dropdown_list::after,
:root .new_form_dropdown_list select
{
    color: #777;
}
 
:root .new_form_dropdown_list select,
:root .new_form_dropdown_list:after,
:root .new_form_dropdown_list::after
{
    display: block;
    background: #29ACC0;
}
 
:root .new_form_dropdown_list select,
:root .new_form_dropdown_list option
{
    padding: 7px;
}
 
:root .new_form_dropdown_list
{
    position: relative;
    display: inline-block;
    margin-right: 6px;
    border: 0;
}
 
:root .new_form_dropdown_list::after
{
    content: "\25bc";
    position: absolute;
    color: #fff;
    top: 0px;
    right: 0;
    display: block;
    width: 32px;
    font-size: 12px;
    line-height: 36px;
    text-align: center;
     
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}
 
:root .new_form_dropdown_list select
{
   width: 317px;
   height: 36px;
   color: #999;
   margin-left: 0px;
   vertical-align: middle;
   border: 1px solid #DFE0E4;
   background-color: #fff;
   font: normal 13px/13px 'PT Sans', sans-serif;
   outline: 0 none;
}

/* custom width for drop down menu in new form */
:root .new_form_built_year select {
	width: 153px;
}

:root .new_form_aircraft_usage,
:root .new_form_engine_type {
	margin-right: -4px;
}
/*----------------------*/
 
:root .new_form_dropdown_list option
{
    background: #fff;
    color: #111;
}

/*----------------------------*/

/* ADD IMAGES */

#upload_image_wrapper {
	border: 0px solid red;
}

#upload_image {
	border: 0px solid green;
}

#upload_image_icon {
	padding: 25px 0 0px 0;
	display: block;
	text-align: center;
	border: 0px solid green;
}

#big_text {
	padding: 0px 0 5px 0;
	display: block;
	text-align: center;
	font-weight: bold;
	color: #777;
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
	border: 0px solid green;
}

#small_text {
	width: 400px;
	margin:  auto;
	display: block;
	text-align: center;
	color: #999;
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
	border: 0px solid green;
}


#progress_bar {
	width: 100%;
	display: none;
	background-color: #F6F7F8;
	border-right: 1px solid #DFE0E4;
	border-left: 1px solid #DFE0E4;
	border-bottom: 1px solid #DFE0E4;
}

.bar_wrapper {
	overflow: hidden;
	width: 100%;
	padding: 20px 20px 0 20px;
}

.full_bar {
	height: 15px;
	background: #c9c9c9;
	width: 100%;
	border: 0px solid #DFE0E4;
}

.bar {
	width: 0%;
	height: 15px;
	background: #3FB34F;
}

#upload_image_button {
	text-align: center;
	margin: 15px 0 0 0;
	border: 0px solid red;
}

#upload_image_button_in_progress {
	padding: 20px;
	text-align: center;
	width: 100%;
}

.uploaded_image ul {
	width: 100%;
	margin-top: 20px;
}

.uploaded_image li {
	position: relative;
	width: 100%;
	max-height: 380px;
	margin-bottom: 20px;
}

.uploaded_image li img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

.delete_image {
	position: absolute;
	top: 10px;
	right: 10px;
	border: 0px solid red;
}

.status {
	border: 0px solid green;
}

.deld {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 10px;
	height: 10px;
	border: 1px solid blue;
}

.preview {
	border: 0px solid yellow;
}

.uploaded {
	border: 0px solid orange;
}

/*----------------------*/

/* IMAGE UPLOAD BUTTON */

label.upload_image input[type="file"] {
    position: fixed;
    top: -1000px;
}

/***** Example custom styling *****/
.upload_image {
	width: 160px;
	height: 40px;
	line-height: 38px;
    border-bottom: 2px solid #B14739;
    cursor: pointer;
    font-size: 14px;
    background: #f16164;
    display: inline-block;

    -webkit-transition: background 150ms linear;
  	-moz-transition: background 150ms linear;
  	-o-transition: background 150ms linear;
  	-ms-transition: background 150ms linear;
  	transition: background 150ms linear;

  	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.upload_image:hover {
    background: #F05053;
}
.upload_image:active {
    background: #F05053;
}

.upload_image span {
	color: #fff;
	padding-left: 25px;
	position: relative;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
}

.upload_image span img {
	position: absolute;
	top: -1px;
	left: -5px;
	border: 0px solid yellow;
}

/*----------------------*/

/* SUBMIT FORM BUTTON */

.new_advert_submit_button {
	width: 100%;
	height: 45px;
	color: #fff;
	cursor: pointer;
	background-color: #F16164;
	font-family: "Open Sans", helvetica, arial;
	font-size: 18px;
	border: none;
	border-bottom: 2px solid #B14739;

	-webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.new_advert_submit_button:hover {
	background-color: #F05053;
}

.sub_button {
	position: relative;
}

.submit_button_icon {
	position: absolute;
	top: 10px;
	left: 22px;
}

/*-------------------*/

/* MEDIA */

@media (max-width: 768px) {

	ul.form li {
		width: 100% !important; /* over-ride all li styles */
	}

	.new_advert_nav {
		margin-bottom: 20px;	
		width: 100%;
		text-align: center;
	}

	.new_form_wrapper {
		width: 100%;
		background-color: #fff;
		padding: 0 20px 20px 20px;
		border: 1px solid #DFE0E4;
	}

}

/*-----------------*/