/* PAGINATION */

.pagination {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
  background: white;
  cursor: default;
  border: 1px solid #DFE0E4;
  /* self-clearing method: */ 
}

.pagination a, .pagination span, .pagination em {
  width: 50%;
  text-align: center;
  padding: 12px 10px 12px 10px;
  display: block;
  float: left; 
  font-size: 14px;
  font-family: "Open Sans", helvetica, arial;
}

.pagination .disabled {
  color: #999999;
}

.pagination a {
  text-decoration: none;
  color: #555555;

  -webkit-transition: color 150ms linear;
  -moz-transition: color 150ms linear;
  -o-transition: color 150ms linear;
  -ms-transition: color 150ms linear;
  transition: color 150ms linear;
}

.pagination a:hover, .pagination a:focus {
  color: #105cb6;
}

.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; 
}

* html .pagination {
    height: 1%; }
  *:first-child + html .pagination {
    overflow: hidden; }
