/* PRICING */

.header_box {
	background-color: #FDFDFD;
	margin: 0 0 20px 0;
	overflow: hidden;
	border: 1px solid #DFE0E4;
}

.pricing_wrapper {
	margin: 20px;
}

.pricing {
	max-width: 1000px;
	margin: 0 auto;
	padding-bottom: 30px;
	margin-bottom: 60px;
	overflow: hidden;
}

b.text_highlight {
	color: #F16164;
}

.plan_text {
	margin: 40px 0 20px 0;
	color: #3E4056;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	border: 0px solid red;
}

.plan_text_small {
	max-width: 600px;
	color: #3E4056;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	padding: 10px 0 0 0;
	margin: 0 auto;
	margin-bottom: 30px;
	font-size: 16px;
	border: 0px solid red;
}

ul.micro_benefits {
	max-width: 1000px;
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: center;
	border: 0px solid red;
}

ul.micro_benefits li {
	width: 20%;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 2% 2%;
	font-size: 14px;
	font-style: italic;
	color: #3E4056;
	font-family: 'Open Sans', sans-serif;
	padding: 10px;
	background-color: #FDFDFD;
	border: 1px solid #DFE0E4;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

ul.plan_wrapper {
	margin-left: -2%; /* should match li left margin */
	margin-bottom: 40px;
	border: 0px solid red;
}

ul.plan_wrapper li {
	width: 47.7%;
	margin: 0 0 0 2%;
	display: inline-block;
	vertical-align: top;
	border: 0px solid red;
}

.plan_premium {
	width: 100%;
	padding-top: 20px;
	overflow: hidden;
	background-color: #fdfdfd;
	border: 1px solid #DFE0E4;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.plan_basic {
	width: 100%;
	padding-top: 20px;
	overflow: hidden;
	background-color: #fdfdfd;
	border: 1px solid #DFE0E4;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.plan_title {
	text-align: center;
	width: 100%;
	height: 60px;
	line-height: 60px;
	color: #666;
	text-transform: uppercase;
	font-family: "Open Sans", helvetica, arial;
	font-size: 30px;
}

/*.plan_free_month {
	position: absolute;
	top: -25px;
	right: 100px;
	text-align: center;
	width: 200px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-family: 'PT Sans', sans-serif;
	background-color: #F16164;
	border: 1px solid #DFE0E4;
}*/

.plan_for_whom {
	font-size: 17px;
	font-family: "Open Sans", helvetica, arial;
	text-align: center;
	margin-top: -5px;
	color: #666;
}

.plan_price {
	padding-left: 40px;
	margin: 20px 0 0 0;
	text-align: center;
	color: #3f5672;
	font-family: "Open Sans", helvetica, arial;
}

.plan_currency {
	font-size: 28px;
	vertical-align: 17px;
}

.plan_amount {
	font-size: 55px;
	position: relative;
}

.plan_old_price_basic,
.plan_old_price_premium {
	position: absolute;
	top: 14px;
	right: -63px;
	font-size: 18px;
	text-decoration: line-through;
}

.plan_old_price_basic {
	right: -58px;
}


.plan_month {
	font-size: 18px;
}

/*.plan_advantages ul {
	padding: 0px 20px 20px 20px;
	text-align: center;

}

.plan_advantages li {
	text-align: center;
	display: inline-block;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	color: #666;
}*/

.plan_subscribe_link {
	width: 150px;
	height: 45px;
	margin: 30px auto;
	line-height: 45px;
	font-size: 14px;
	background-color: #F16164;
	text-align: center;
	font-weight: 700;
	font-family: 'Lora', serif;
	color: #fff;
	border-bottom: 2px solid #B14739;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	-webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;
}

.plan_subscribe_link a {
	color: #fff;
}

.plan_subscribe_link:hover {
	background-color: #F05053;
}

.plan_benefits {
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #F6F7F8;
	text-align: center;
	font-size: 14px;
	color: #3F5672;
	text-transform: uppercase;
	font-family: 'PT Sans', sans-serif;
	border-top: 1px solid #edeef1;
}

.reassurance_text {
	text-align: center;
	padding: 0px 0 20px 0;
	margin-bottom: 40px;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	color: #8e8e8e;
	border-bottom: 1px solid #c8c9cd;
}

.billing_markup {
	color: #F16164;
}

/*-----------------*/

/* triangle */

/*.tri-down {
    position: relative;
    margin-bottom: 0em;
    border-bottom: 0px solid #e8e9ec;
    background: #5BB69A;
  }

.tri-down.premium {
	background: #D55C4B;
}

  /* Required for Down Triangle */
  /*.tri-down:before, .tri-down:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;
  }

  /* Stroke */
  /*.tri-down:before {
    bottom: -16px;
    left: 50%;
    margin-left: -8px;

    /* If 1px darken stroke slightly */
    /*border-top-color: #e8e9ec;
    border-width: 16px;
  }

  /* Fill */
  /*.tri-down:after {
    bottom: -15px;
    left: 50%;
    margin-left: -7px;
    border-top-color: #5BB69A;
    border-width: 15px;
  }

  .tri-down.premium:after {
	border-top-color: #D55C4B;
}*/

/*---------------------*/

/* QUESTIONS AND ANSWERS*/

ul.q_and_a  {
	font-size: 0px;
	margin-left: -2%; /* should match li left margin */
	padding: 0 0 20px 0;
	border: 0px solid red;
}

ul.q_and_a li {
	display: inline-block;
	margin: 0 0 2% 2%;
	vertical-align: top;
	background-color: #fdfdfd;
	border: 1px solid #DFE0E4;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

 ul.q_and_a.columns_2 li {
 	width: 48%;
 }

 ul.q_and_a li .question {
 	display: block;
 	color: #3F5672;
 	font-size: 18px;
 	font-family: 'Lora', serif;
 	font-weight: bold;
 	padding: 20px;
 	background-color: #F6F7F8;
 	border-bottom: 1px solid #edeef1;
 }

 ul.q_and_a li .answer {
 	display: block;
 	line-height: 25px;
 	font-size: 14px;
 	padding: 20px;
 	color: #777;
 	font-family: 'Open Sans', sans-serif;
 	border: 0px solid red;
 }

 .message_to_us,
 .message_to_us.few_words {
 	margin: 0 0 40px 0;
 	text-align: center;
 	padding: 0px 20px 40px 20px;
 	font-family: 'PT Sans', sans-serif;
 	font-size: 12px;
 	color: #8e8e8e;
 	text-transform: uppercase;
 	border-bottom: 1px solid #c8c9cd;
 }

 .message_to_us.few_words {
 	padding-top: 20px;
 }

.message_to_us a,
.message_to_us.few_words a {
	font-weight: bold;
	color: #F05053;
	text-decoration: underline;
}

/* TESTIMONIALS */

 .testimonials {
 	max-width: 100%;
 	margin: 0 auto;
 	text-align: justify;
 	line-height: 30px;
 	font-family: "Open Sans", helvetica, arial;
	color: #777;
	font-style: italic;
	font-size: 16px;
	padding: 20px;
	background-color: #fdfdfd;
	border-top: 1px solid #DFE0E4;
	border-left: 1px solid #DFE0E4;
	border-right: 1px solid #DFE0E4;
 }

 .testimonials_seller {
 	max-width: 100%;
 	font-family: 'Lora', serif;
 	font-size: 14px;
 	margin: 0 auto;
 	color: #444;
 	background-color: #fdfdfd;
 	padding: 0 20px 20px 20px;
 	margin-bottom: 20px;
 	border-bottom: 1px solid #DFE0E4;
	border-left: 1px solid #DFE0E4;
	border-right: 1px solid #DFE0E4;
 }

 .rating_stars {
 	margin-left: 3px;
 	vertical-align: -3px;
 }

.quote_img_start {
 	margin-right: 4px;
 	vertical-align: 8px;
 }

 .quote_img_finish {
 	margin-left: 4px;
 	vertical-align: -8px;
 }

.repeated_plans_title {
	max-width: 700px;
	color: #3F5672;
	text-align: center;
	font-weight: normal;
	text-transform: none;
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 0 10px 0 10px;
	font-size: 25px;
}

ul.repeated_plans {
	margin-left: -2.5%; /* should match li left margin */
	padding: 0 0 5px 0;
	border: 0px solid red;

}

ul.repeated_plans li {
	width: 47.2%;
	display: inline-block;
	margin: 0 0 2.5% 2.5%;
	vertical-align: top;
	border: 0px solid red;
	
}

.repeated_plans_button {
	width: 100%;
	height: 60px;
	padding-top: 10px;
	/*line-height: 45px;*/
	font-size: 18px;
	background-color: #F16164;
	text-align: center;
	font-family: 'Lora', serif;
	color: #fff;
	border-bottom: 2px solid #B14739;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	-webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;
}

.repeated_plans_button a {
	color: #fff;
}

.repeated_plans_button:hover {
	background-color: #F05053;
}

.repeated_plan_small {
	display: block;
	margin-top: -3px;
	font-size: 14px;
	border: 0px solid green;
}

.unsub_anytime,
.secure_cards {
	color: #777;
	text-align: center;
	font-size: 12px;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	margin: 0 4% 10px 4%;
}

.secure_cards {
	margin: 5px 4% 0px 4%;
}

 @media (max-width: 768px) {

	ul.q_and_a,
	ul.repeated_plans,
	ul.plan_wrapper {
		margin-left: 0;
	}

	ul.q_and_a li,
	ul.repeated_plans li,
	ul.plan_wrapper li {
		width: 100% !important; /* over-ride all li styles */
		margin: 10px 0 20px 0;
	}

	ul.micro_benefits li {
		width: 100% !important; /* over-ride all li styles */
		margin: 0 0 20px 0;
	}

	ul.micro_benefits {
		margin-bottom: 0;
	}

	.repeated_plans_title {
		font-size: 18px;
	}

	.repeated_plans_button {
		font-size: 16px;
	}

	.repeated_plan_small {
		font-size: 12px;
	}
}

/*---------------------*/
