/* ADVERT SEARCH */

#search_nav_container {
	margin-left: 401px;
	margin-bottom: 8px;
	background-color: #fdfdfd;
	padding: 10px 0px 5px 20px;
	border-bottom: 1px solid #c8c9cd;
}

ul.search_nav li {
	width: 33.33333%;
	display: inline-block;
	margin-right: -4px;
	vertical-align: top;
	border: 0px solid blue;
}

ul.inner_search_nav li.search_label {
	width: 100%;
	padding: 5px 20px 3px 0px;
	color: #444;
	font-size: 12px;
	font-weight: bold;
	border: 0px solid red;
}

ul.inner_search_nav li.search_label.button {
	width: 100%;
	margin-top: 10px;
	padding: 0 20px 0 0;
}

.search_button {
	width: 100%;
	height: 45px;
	background-color: #F16164;
	border: 0;
	color: #fff; 
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	cursor: pointer;
	border-bottom: 2px solid #B14739;

	-webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

ul.inner_search_nav li.search_field {
	width: 100%;
	padding: 0 20px 10px 0;
	border: 0px solid green;
}

.input_field {
	width: 100%;
	height: 40px;
	padding: 0 10px 0 10px;
	color: #444444;
	font-family: "Open Sans", helvetica, arial;
	font-size: 12px;
	background-color: #fefafa;
    border:  1px solid #fdeded;

    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(250,229,229,0.5);
    -moz-box-shadow: inset 0px 0px 2px 0px rgba(250,229,229,0.5);
    box-shadow: inset 0px 0px 2px 0px rgba(250,229,229,0.5);
}

/* MEDIA */

/*base tablet to small desktop styles*/
@media (max-width: 1000px) {
	
	#search_nav_container {
		margin-left: 300px;
	}
}


 @media (max-width: 800px) {

 	#search_nav_container {
 		padding-bottom: 20px;
 	}

 	ul.search_nav li {
		width: 100% !important;
		border: 0px solid blue;
	}
}

@media (max-width: 650px) {

 	#search_nav_container {
		margin-left: 0px;
	}
 }

/*---------------------*/


/* hide sub menu links */
#sub_menu {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #E2E2E2;
    border-bottom: 1px solid #d1d3d8;
}

ul.down {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #E2E2E2;
    border-bottom: 1px solid #d1d3d8;
}

/* STICKY SEARCH NAV */

.fixedTop{
  position: fixed;
  width: 100%;
  margin: 0 auto;
  z-index: 100000;
  top: 0;

  border: 0px solid green;
}

/*------------------*/


/*#advert_search_wrapper {/*keeper to split screen*/
	/*width: 240px;
	float: left;
	height: 90vh;
	border: 5px solid orange;
}*/

#advert_search_container {
	width: 240px;
	position: fixed;
	overflow-y: auto;
	height: 100%;
	z-index: 102;
	padding-bottom: 40px;
	background-color: #1F2729;
	border: 0px solid yellow;
}

.search_footer {
	width: 100%;
	height: 40px;
	line-height: 40px;
	position: absolute;
	bottom: 0;
	text-align: center;
	color: #70787B;
	background-color: #2E373B;
	font-family: 'PT Sans', sans-serif;
	border-top: 2px solid #222;
}

#advert_search_header {
	height: 62px;
	line-height: 62px;
	color: #70787B;
	text-align: center;
	font-size: 20px;
	padding-left: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: 'PT Sans', sans-serif;
	background-color: #2e373b;
	position: relative;
	border-bottom: 2px solid #222;
}

.website_search_logo {
	  width: 100%;
	  height: 60px;
	  text-align: left;
	  padding-left: 23px;
	  padding-top: 7px;
	  position: absolute;
	  top: 0px;
	  left: 0;
	  border: 0px solid blue;
}

.icon-logo-search:before {
    font-size: 45px;
    color: #70787B;
    content: "\e602";

    -webkit-transition: color 150ms linear;
    -moz-transition: color 150ms linear;
    -o-transition: color 150ms linear;
    -ms-transition: color 150ms linear;
    transition: color 150ms linear;
}

.website_search_logo:hover .icon-logo-search:before{
    color: #646b6e;
    content: "\e602";
}

/*.icon-propeller_search:before {
	font-size: 38px;
    color: #70787B;
    content: "\e601";
}*/

#search_form_general {
	border: 0px solid red;
}

#search_form_general ul {
	padding-top: 5px;
	border: 0px solid red;
}

#search_form_general li {
	width: 100%;
	padding: 15px 20px 0 20px;
	border: 0px solid red;
}

#search_form_general li:nth-last-child(-n+1),
#search_form_price li:nth-last-child(-n+2),
#search_form_engine li:nth-last-child(-n+1) {
  display: none;
}

.search_show_more,
.search_show_less,
.search_show_more_price,
.search_show_less_price,
.search_show_more_engine,
.search_show_less_engine {
	margin: 10px 20px 5px 20px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-size: 8px;
	font-weight: bold;
	color: #15C6B6;
	position: relative;
	border: 0px solid red;
}

.search_show_more img,
.search_show_less img,
.search_show_more_price img,
.search_show_less_price img,
.search_show_more_engine img,
.search_show_less_engine img {
	position: absolute;
	top: -2px;
	right: 10px;
	width: 11px;
}

.search_show_more a,
.search_show_less a,
.search_show_more_price a,
.search_show_less_price a,
.search_show_more_engine a,
.search_show_less_engine a {
	cursor: pointer;
}

.search_show_less,
.search_show_less_price,
.search_show_less_engine {
	display: none;
}

#search_form_price,
#search_form_engine {
	color: #70787B;
	text-transform: uppercase;
	font-size: 15px;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	border: 0px solid red;
}

#search_form_price li,
#search_form_engine li {
	padding: 15px 20px 0 20px;
	border: 0px solid red;
}

.search_labelk {
	width: 100%;
	display: block;
	margin-bottom: 5px;
	font-size: 11px;
	color: #70787B;
	text-transform: uppercase;
	font-weight: bold;
	font-family: '
	PT Sans', sans-serif;
	border: 0px solid red;
}

.search_fields {
	width: 100%;
	height: 35px;
	padding: 0 8px 0 8px;
	color: #70787B;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	background-color: #232A2D;
	border: 1px solid #3c4347;
}

/*#search_button_wrapper {
	width: 240px;
	height: 50px;
	position: fixed;
	bottom: 0;
	left: 0;
	border-top: 1px solid #222;
}

.search_button {
	width: 100%;
	height: 50px;
	color: #70787B;
	text-transform: uppercase;
	background-color: #2E373B;
	border: none;
	cursor: pointer;

	-webkit-transition: color 150ms linear;
  	-moz-transition: color 150ms linear;
  	-o-transition: color 150ms linear;
  	-ms-transition: color 150ms linear;
  	transition: color 150ms linear;
}

.search_button:hover {
	color: #15C6B6; 
}
/*---------------*/

/* Select dropdown list style in SEARCH */

:root .dropdown_list option,
:root .dropdown_list:after,
:root .dropdown_list::after,
:root .dropdown_list select
{
    color: #fff;
}
 
:root .dropdown_list select,
:root .dropdown_list:after,
:root .dropdown_list::after
{
    display: block;
    background: #3c4347;
}
 
:root .dropdown_list select,
:root .dropdown_list option
{
    padding: 8px;
}
 
:root .dropdown_list
{
    position: relative;
    display: inline-block;
    border: 0;
}
 
:root .dropdown_list::after
{
    content: "\25bc";
    position: absolute;
    color: #232A2D;
    top: 0;
    right: 0;
    display: block;
    width: 32px;
    font-size: 12px;
    line-height: 35px;
    text-align: center;
     
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}
 
:root .dropdown_list select
{
   width: 200px;
   height: 35px;
   vertical-align: middle;
   border: 1px solid #3c4347;
   background-color: #232A2D;
   font: normal 13px/13px 'PT Sans', sans-serif;
   text-transform: none;
   outline: 0 none;
   color: #70787B;
}
 
:root .dropdown_list option
{
    background: #fff;
    color: #111;
    border: none;
}

/*----------------------*/

/* SEARCH CHECKBOX STYLE */

.search_checkbox {
	font-size: 13px;
	color: #70787B;
  	position: relative;
	border: 0px solid red;
}

.search_checkbox label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background: #1F2729;
  border: 1px solid #3c4347;
}

.country {
	position: absolute;
	top: 2px;
	left: 30px;
}


/**
 * Display the tick inside the checkbox
 */
.search_checkbox label:after {
  opacity: 0.2;
  content: '';
  position: absolute;
  width: 7px;
  height: 3px;
  background: transparent;
  top: 5px;
  left: 5px;
  border: 3px solid #777;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/**
 * Create the hover event of the tick
 */
.search_checkbox label:hover::after {
  opacity: 0.5;
}

/**
 * Create the checkbox state for the tick
 */
.search_checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/*-------------------------*/