/* ADVERT SEARCH */

#advert_search_container {
	width: 220px;
	height: 100%;
	position: fixed;
	top: 59px;
	left: 0;
	background-color: #2D3A40;
	border-right: 1px solid #DFE0E4;
}

#advert_search_header {
	height: 60px;
	background-color: #38484f;
	color: #fff;
	border-top: 0px solid #DFE0E4;
}

/*---------------*/