/* ADVERT SHOW */



/*.slide {
	max-width: 100%;
	max-height: 350px;
	position: relative;
}

.slide img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
/*}*/

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.advert_wrapper {
	margin: 70px 20px 20px 20px;
	border: 0px solid red;
}

.advert {
	max-width: 1000px;
	margin: 0 auto;
	margin-bottom: 60px;
	background-color: #fff;
	overflow: hidden;
	border: 1px solid #DFE0E4;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* DISPLAY AN IMAGE */

.advert_image {
	max-width: 100%;
	max-height: 320px;
	border: 0px solid red;
}

.advert_image img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

.lightbox { 
	max-width: 960px;
    max-height: 100%;
    margin: 0 auto;
}

.lightbox img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

/*------------------*/

/* ADVERT DETAILS */

.advert_details {
	margin-top: -1px;
	padding-left: 20px;
	border-bottom: 15px solid #F16164;
}

.aircraft_title {
	width: 70%;
	display: inline-block;
	margin-right: -4px;
	color: #565A5C;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 25px;
	padding: 17px 20px 0 20px;
}

.aircraft_location {
	color: #82888A;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	padding: 0;
	font-size: 12px;
}

ul.aircraft_details {
	color: #82888A;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 10px;
	padding: 20px 0 20px 0;
}

ul.aircraft_details li {
	width: 20%;
	display: inline-block;
	margin-right: -4px;
	text-align: center;
}

.icon_title {
	text-transform: uppercase;
	display: block;
}

/*----------------------*/

/* EMAIL SELLER */

ul.seller_display {
	width: 30%;
	color: #565A5C;
	font-size: 12px;
	vertical-align: top;
	margin-right: -4px;
	margin-top: -39px;
	display: inline-block;
	overflow: hidden;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

ul.seller_display li {
	border-left: 1px solid #ebeeee;
	border-right: 1px solid #ebeeee;
	border-bottom: 1px solid #ebeeee;
	text-align: center;
	background-color: #f9f9f9;
}

ul.seller_display li:nth-child(0n+2) {
    border-bottom: none;
}

ul.seller_display li.aircraft_price {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	text-align: center;
	padding: 10px 20px 10px 20px;
	color: #fff;
	background-color:rgba(255,77,77,0.8);
	border: 0px solid red;
}

ul.seller_display li.seller_contact {
	padding: 20px 20px 0 20px;
}

.seller_name a {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #666;
	margin-bottom: 7px;

	-webkit-transition: color 150ms linear;
  	-moz-transition: color 150ms linear;
  	-o-transition: color 150ms linear;
  	-ms-transition: color 150ms linear;
  	transition: color 150ms linear;
}

.seller_name a:hover {
	color: #5b8ba3;
}

.seller_phone {
	margin-top: 7px;
	display: block;
	font-size: 14px;
	color: #666;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

ul.seller_display li.email_seller {
	padding: 20px;
}

ul.seller_display li.email_seller .email_button {
	font-size: 14px;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	color: #fff;
	display: block;
	padding: 10px 20px 10px 20px;
	background-color: #F16164;
	cursor: pointer;
	border-bottom: 2px solid #d8474b;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;
}

ul.seller_display li.email_seller .email_button:hover {
	background-color: #F04F54;
}

/* --------------------*/

/* MAIN INFO*/

.advert_main_info_wrapper {
	width: 100%;
	background-color: #fff;
	padding: 10px 20px 10px 20px;
	overflow: hidden;
	border: 0px solid red;
}

ul.advert_main_info {
	padding: 20px 0 20px 0;
	width: 50%;
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
	border-top: 1px solid #edefef;
}

ul.advert_main_info.engine_note {
	padding-top: 0;
	border: none;
}

ul.advert_main_info li {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	border: 1px solid red;
}

ul.advert_main_info:first-child {
    border-top: none;
}

ul.advert_main_info li.info_label {
	width: 100%;
	font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
	border: 0px solid green;
}

ul.advert_main_info li.description {
	width: 80%;
}
/*------------------------*/

/* GOOGLE MAP */

.google_map_info {
	position: absolute;
	top: 40px;
	left: 150px;
	width: 200px;
	padding: 15px;
	background-color: #fff;
	border: 1px solid #DFE0E4;
}

.info_title {
	width: 130px;
	height: 25px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -65px;
	line-height: 25px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 12px;
	background-color: #FFAA91;
	color: #fff;
}

.info_location {
	width: 100%;
	margin-top: 20px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	padding-bottom: 10px;
	border-bottom: 1px solid #EEF0F0;
}

.info_airport {
	width: 100%;
	margin-top: 10px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	border: 0px solid red;
}

/*----------------*/

/* SIMILAR LISTING */

.similar_ads {
	border: 0px solid red;
	padding-bottom: 30px;
}

/* --------------------*/

/* MEDIA */

@media (max-width: 768px) {

	ul.adv_display li,
	ul.advert_main_info li {
		width: 100% !important; /* over-ride all li styles */
	}

	ul.adv_display li.seller, {
		padding: 0 20px 0 20px;
	}

	ul.advert_main_info li.description {
		margin-bottom: 0px;
	}
}

/*---------------------*/
