/* ADVERT SHOW */



/*.slide {
	max-width: 100%;
	max-height: 350px;
	position: relative;
}

.slide img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
/*}*/

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.advert_wrapper {
	margin: 20px;
	border: 0px solid red;
}

.advert {
	max-width: 1000px;
	margin: 0 auto;
	margin-bottom: 60px;
	background-color: #fff;
	overflow: hidden;
	border: 1px solid #DFE0E4;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* DISPLAY AN IMAGE */

.advert_image {
	max-width: 100%;
	max-height: 320px;
	border: 0px solid red;
}

.advert_image img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

.lightbox { 
	max-width: 960px;
    max-height: 100%;
    margin: 0 auto;
}

.lightbox img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

/*------------------*/

/* EMAIL SELLER */

ul.adv_display li.seller {
	width: 30%;
	height: 100%;
	vertical-align: top;
	margin-right: -4px;
	margin-top: -39px;
	display: inline-block;
	padding: 0 10px 0 30px;
	border: 0px solid yellow;
}

ul.seller_display {
	width: 100%;
	color: #565A5C;
	font-size: 12px;
}

ul.seller_display li {
	border-left: 1px solid #dfe3e3;
	border-right: 1px solid #dfe3e3;
	border-bottom: 1px solid #dfe3e3;
	text-align: center;
	background-color: #fff;
}

ul.seller_display li:nth-child(0n+2) {
    border-bottom: none;
}

ul.seller_display li.aircraft_price {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	text-align: left;
	padding: 10px 20px 10px 20px;
	color: #fff;
	background-color:rgba(255,0,0,0.6);
	border: 0px solid red;
}

ul.seller_display li.seller_contact {
	padding: 20px 20px 0 20px;
}

.seller_name a {
	font-size: 15px;
	font-family: 'PT Sans', sans-serif;
	color: #336f8c;
	margin-bottom: 7px;

	-webkit-transition: color 150ms linear;
  	-moz-transition: color 150ms linear;
  	-o-transition: color 150ms linear;
  	-ms-transition: color 150ms linear;
  	transition: color 150ms linear;
}

.seller_name a:hover {
	color: #5b8ba3;
}

.seller_phone {
	margin-top: 7px;
	display: block;
	font-size: 14px;
	color: #444;
	font-family: 'Roboto', sans-serif;
}

ul.seller_display li.email_seller {
	padding: 20px;
}

ul.seller_display li.email_seller .email_button {
	font-size: 14px;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	color: #fff;
	display: block;
	padding: 10px 20px 10px 20px;
	background-color: #F04F54;
	cursor: pointer;
	border-bottom: 2px solid #d8474b;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;
}

ul.seller_display li.email_seller .email_button:hover {
	background-color: #F16164;
}

/* --------------------*/

/* DISPLAY */

ul.adv_display {
	width: 100%;
	background-color: #F6F7F8;
	border-bottom: 1px solid #DFE0E4;
}

ul.adv_display li.aircraft {
	width: 70%;
	height: 100%;
	vertical-align: top;
	margin-right: -4px;
	display: inline-block;
}

.aircraft_title {
	color: #565A5C;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	font-size: 25px;
	padding: 17px 20px 0 20px;
}

.aircraft_location {
	color: #82888A;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	padding: 0 20px 0 20px;
	font-size: 12px;
}

ul.aircraft_details {
	color: #82888A;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	font-size: 12px;
	padding: 20px 0 20px 20px;
	border: 0px solid red;
}

ul.aircraft_details li {
	width: 20%;
	display: inline-block;
	margin-right: -4px;
	text-align: center;
}

.icon_title {
	display: block;
}

.advert_separator_helper {
	height: 15px;
	background-color: #F04F54;
}

/*----------------------*/

/* MAIN INFO*/

.advert_main_info_wrapper {
	width: 100%;
	background-color: #fff;
	padding: 10px 30px 10px 30px;
	overflow: hidden;
}

.table_wrapper {
	width: 50%;
	float: left;
}

ul.advert_main_info {
	padding: 20px 0 20px 0;
	border-top: 1px solid #edefef;
}

ul.advert_main_info.engine_note {
	padding-top: 0;
	border: none;
}

ul.advert_main_info li {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
}

ul.advert_main_info:first-child {
    border-top: none;
}

ul.advert_main_info li.info_label {
	width: 100%;
	font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
	border: 0px solid green;
}

ul.advert_main_info li.description {
	width: 80%;
}
/*------------------------*/

/* ORGANISATION */

.organization_wrapper {
	width: 50%;
	float: left;
	background-color: #F6F7F8;
	padding-bottom: 30px;
	border-top: 1px solid #DFE0E4;
	border: 1px solid red;
}

.organization_block {
	font-weight: bold;
	font-size: 18px;
	font-family: 'PT Sans', sans-serif;
	padding: 30px 30px 20px 30px;
}

ul.organisation {
	padding: 0 30px 0 30px;
	border: 0px solid red;
}

ul.organisation li {
	width: 40%;
	font-size: 14px;
	display: inline-block;
	padding-left: 20px;
	margin-right: -4px;
	vertical-align: top;
	font-family: 'PT Sans', sans-serif;
	border: 0px solid red;
}

ul.organisation li.organisation_contact {
	width: 30%;
}

ul.organisation li.organisation_logo {
	max-width: 30%;
	max-height: 300px;
	padding: 0;
}

ul.organisation li.organisation_logo img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

/*-------------------------*/

/* SIMILAR LISTING */

.similar_ads {
	border: 0px solid red;
	padding-bottom: 30px;
}

/* --------------------*/

/* MEDIA */

@media (max-width: 768px) {

	ul.adv_display li,
	ul.advert_main_info li {
		width: 100% !important; /* over-ride all li styles */
	}

	ul.adv_display li.seller, {
		padding: 0 20px 0 20px;
	}

	ul.advert_main_info li.description {
		margin-bottom: 0px;
	}

	.organization_wrapper,
	.table_wrapper {
		width: 100%;
	}

	ul.organisation li.organisation_contact,
	ul.organisation li.organisation_about {
		width: 100% !important; /* over-ride all li styles */
		padding-left: 0px;
		margin-bottom: 20px;
	}

	ul.organisation li.organisation_logo {
		width: 100% !important; /* over-ride all li styles */
		max-width: 100%;
		max-height: 300px;
		margin-bottom: 20px;
	}
}

/*---------------------*/
