<div id="wrapper", style= "width: 100%;">

	<div id="header", style= "width: 800px; margin: 0 auto; background: #316A7E; height: 60px; line-height: 60px; font-size: 25px; color: #ffffff; text-align: center; padding: 15px; ">LINGONAS Re-think language learning</div>

	<div class="content", style="width: 788px; margin: 0 auto; border-left: 1px solid #dbdbdb; border-right: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb; padding: 20px; color: #555555; font-size: 12px;">Trial lesson request from <b><%= @trial.name %> (<%= @trial.email %>)</b>,
	
	<div class="notice", style="width: 100%; margin-top: 10px;"><%= @trial.notice %></div>
	</div>

</div>