<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border: 1px solid #0000e5;">
    <tr style="border: 1px solid #cc0000;">
        <td style="text-align: center; border: 1px solid #111;">
            inner
        </td>
    </tr>
</table>

