/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


html {
	position: relative;
    min-height: 100%;
    top: 60px;
}

 body {
  background-color: #E9EAED;
  font-family: 'Ubuntu', sans-serif;
  color: #444444;   
  margin: 0 0 80px; /* bottom = footer height */
  /*height: 100%;*/
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  border : 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

h3 {
  margin: 0;
}

/* HEADER LOGIN */

.header_login_wrapper {
	background-color: #ffffff;
}

.header_login {
	background-color: #ffffff;
	width: 1180px;
	margin: auto;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #eaeaeb;
	font-size: 12px;
	overflow: hidden;
}

.header_login_nav {
	float: right;
	border: 0px solid red;
	width: 300px;
	text-align: right;
}

.header_login_nav a {
	color: #333333;
	-webkit-transition: color 150ms linear;
  	-moz-transition: color 150ms linear;
  	-o-transition: color 150ms linear;
  	-ms-transition: color 150ms linear;
  	transition: color 150ms linear;
}

.header_login_nav a:hover {
	color: #00AEEF;
}

.header_login_nav img {
	border: 0px solid red;
	margin-right: 5px;
}

/*--------------------------------------*/

/* HEADER */

#header_wrapper {
	/*background-color: #ffffff;*/
	/*background:url("../assets/blur.png");*/
	height: 65px;
	/*-webkit-box-shadow: 0px 1px 2px 0px rgba(100, 100, 100, 0.75);
	-moz-box-shadow:    0px 1px 2px 0px rgba(100, 100, 100, 0.75);
	box-shadow:         0px 1px 2px 0px rgba(100, 100, 100, 0.75);*/
	border-bottom: 0px solid #cecfc0;
	position: absolute;
	width: 100%;
	top: 0;
}

#header_wrapper2 {
	background-color: #316A7E;
	/*background:url("../assets/blur.png");*/
	height: 60px;
	/*-webkit-box-shadow: 0px 0px 2px 0px rgba(100, 100, 100, 0.75);
	-moz-box-shadow:    0px 0px 2px 0px rgba(100, 100, 100, 0.75);
	box-shadow:         0px 1px 2px 0px rgba(100, 100, 100, 0.75);*/
	border: 0px solid red;
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
}

.header {
	max-width: 920px;
	margin: 0 auto;
	height: 60px;
	border: 0px solid red;
}

.header2 {
	max-width: 1110px;
	margin: 0 auto;
	height: 60px;
	border: 0px solid red;
}

/* HEADER LOGO */

a .header_logo {
	border: 0px solid red;
	/*font-family: 'Alegreya Sans SC', sans-serif;*/
	font-family: 'Josefin Sans', sans-serif;
	float: left;
	width: 400px;
}

a .header_logo .webpage_title {
	border: 0px solid green;
	float: left;
	height: 60px;
	line-height: 60px;
	color: #ffffff;
	/*text-shadow: 0px 1px 1px rgba(58, 58, 58, 1);*/
	font-size: 30px;
}

/*-------------------------------*/

/* HEADER LOGO2 */

a .header_logo2 {
	border: 0px solid red;
	/*font-family: 'Josefin Sans', sans-serif;
	font-family: 'Lato', sans-serif;*/
	font-family: 'Alegreya Sans SC', sans-serif;
	float: left;
	width: 350px;

}

a .header_logo2 img {
	border: 0px solid red;
	float: left;
	margin-top: 14px;
	margin-right: 10px;
}

a .webpage_title {
	border: 0px solid black;
	float: left;
	height: 60px;
	line-height: 60px;
	color: #ffffff;
	/*text-shadow: 0px 1px 1px rgba(58, 58, 58, 1);*/
	font-size: 22px;

}


/*-------------------------*/

/* HEADER NAVIGATION */

.header_navigation {
	width: 60%;
	float: right;
	height: 65px;
	border: 0px solid yellow;
}

.header_navigation ul {
	border: 0px solid red;
	height: 65px;
	float: right;
	line-height: 65px;
	font-size: 12px;
}

.header_navigation li {
	border: 0px solid red;
	float: left;
	padding: 0 0px 0 20px;
}

.header_navigation a {
	color: #ececec;
	-webkit-transition: color 150ms linear;
  	-moz-transition: color 150ms linear;
  	-o-transition: color 150ms linear;
  	-ms-transition: color 150ms linear;
  	transition: color 150ms linear;
}

.header_navigation a:hover {
	color: #00AEEF;
}

/*------------------*/

/* HEADER NAVIGATION2 */

.header_navigation2 {
	width: 60%;
	float: right;
	height: 60px;
	border: 0px solid yellow;
}

.header_navigation2 ul {
	border: 0px solid red;
	height: 565px;
	float: right;
	line-height: 60px;
	font-size: 12px;
	border-left: 0px solid #2593ba;
	border-right: 0px solid #69bfdd;
	border-bottom: 0px solid #69bfdd;
}

.header_navigation2 li {
	border-right: 0px solid #2593ba;
  	border-left: 0px solid #69bfdd;
  	border-bottom: 0px solid #2593ba;
	float: left;
	padding: 0 15px 0 15px;
}

.header_navigation2 a li {
	color: #ffffff;
	-webkit-transition: background-color 250ms linear;
  	-moz-transition: background-color 250ms linear;
  	-o-transition: background-color 250ms linear;
  	-ms-transition: background-color 250ms linear;
  	transition: background-color 250ms linear;
}

.header_navigation2 a:hover li {
	background-color: #397B93;
}

/*------------------*/

/* FOOTER */

.footer {
	position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
	border: 0px solid red;
}

.footer-left {
	width: 48%;
	position: absolute;
	left: 0;
	height: 35px;
	border-bottom: 1px solid #b4b4b4;
}

.footer-image {
	width: 30px;
	position: absolute;
	right: 0;
	left: 0;
	margin: 0 auto;
	padding: 20px 0 20px 0;
	border: 0px solid red;
}

.footer-right {
	width: 48%;
	position: absolute;
	right: 0;
	height: 35px;
	border-bottom: 1px solid #b4b4b4;
}
/* BANNER IMAGE SLIDER */
/* line 8, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.display_wrapper {
  width: 100%;
  background: url("../assets/bg_stamped.jpg") repeat;
  /*325f70 85% opacity*/
  background: cover;
  margin: auto;
  height: 450px;
  background-color: #ffffff;
  border: 0px solid red;
}

/* line 18, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.display_phrase {
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-family: "Open Sans", helvetica, arial;
  font-size: 50px;
  padding-top: 40px;
  border: 0px solid blue;
}

/* line 28, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.display_phrase p {
  font-size: 25px;
  text-align: center;
  margin-top: 10px;
  border: 0px solid red;
}

/* line 35, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
#display_login_wrapper {
  border: 0px solid red;
  width: 450px;
  overflow: hidden;
  margin: auto;
  margin-top: 60px;
}

/* line 43, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
#display_login_button_tutor {
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  float: right;
  text-align: center;
  background-color: #2BC265;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
  border: 0px solid red;
}

/* line 58, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
a #display_login_button_tutor {
  color: #ffffff;
}

/* line 62, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
#display_login_button_student {
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  float: left;
  text-align: center;
  background-color: #2BC265;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
  border: 0px solid red;
}

/* line 77, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
a #display_login_button_student {
  color: #ffffff;
}

/*-------------------------------------------*/
/* BANNER */
/* line 89, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.banner_wrapper {
  border: 0px solid red;
  background-color: #ffffff;
  margin: auto;
  width: 100%;
  position: relative;
}

/* line 97, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.banner_box_wrapper {
  margin: auto;
  width: 1110px;
  overflow: hidden;
  border: 0px solid blue;
}

/* line 104, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.banner_box ul {
  float: left;
  width: 185px;
  padding: 40px 10px 0 10px;
  margin-bottom: 55px;
  text-align: center;
  border: 0px solid black;
}

/* line 113, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.banner_box li {
  padding: 15px 0 0 0;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #444444;
  border: 0px solid green;
}

/* line 121, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.banner_box li p {
  margin: 0px 0 0 0;
  font-size: 14px;
  font-family: "Open Sans", helvetica, arial;
  color: #666666;
  line-height: 25px;
  border: 0px solid green;
}

/* line 130, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.banner_triangle {
  left: 49%;
  right: 51%;
  top: -1px;
  position: absolute;
}

/*--------------------------------------*/
/* STAMP */
/* line 142, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.stamp1 {
  background-color: #F9FAFC;
  position: absolute;
  width: 262px;
  height: 350px;
  right: 15px;
  top: 285px;
  margin-bottom: 20px;
  border: 0px solid #DFE0E4;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  -moz-box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
}

/* line 157, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.stamp2 {
  background-color: #ffffff;
  position: absolute;
  width: 262px;
  height: 260px;
  right: 15px;
  margin-bottom: 20px;
  border: 0px solid #DFE0E4;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  -moz-box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
}

/*---------------------------*/
/* MASONRY */
/* line 175, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
#masonry_container {
  border: 0px solid red;
  margin: 0 auto;
  overflow: hidden;
  padding: 5px;
  margin-top: 16px;
  max-width: 1138px;
  min-width: 660px;
  position: relative;
}

/* line 186, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box {
  margin: 0px 10px 20px 10px;
  background-color: #ffffff;
  width: 262px;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  -moz-box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  border: 0px solid #DFE0E4;
  padding: 0;
  position: relative;
}

/* line 202, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_course_title {
  width: 100%;
  /*text-align: center;*/
  float: left;
  font-size: 25px;
  padding: 15px 15px 10px 15px;
  text-transform: lowercase;
  border-bottom: 1px solid #eaeaeb;
  font-family: 'Alegreya Sans SC', sans-serif;
  background-color: #ffffff;
  color: #333333;
}

/* line 215, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_course_title a {
  color: #444444;
}

/* line 219, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_teacher_name {
  text-transform: none;
  border: 0px solid red;
  width: auto;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
}

/* line 227, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_teacher_name a {
  color: #346fa1;
  -webkit-transition: color 150ms linear;
  -moz-transition: color 150ms linear;
  -o-transition: color 150ms linear;
  -ms-transition: color 150ms linear;
  transition: color 150ms linear;
}

/* line 236, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_teacher_name a:hover {
  color: #428BCA;
}

/* line 240, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_course_price {
  width: 50px;
  border: 0px solid #eaeaeb;
  float: right;
  text-align: center;
  color: #999999;
  font-size: 14px;
  background-color: #ffffff;
  padding-top: 4px;
  font-family: 'Lato', sans-serif;
}

/* line 253, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_description {
  margin: 65px 0 0px 0;
  padding: 15px 15px 0 15px;
  color: #111111;
  line-height: 20px;
  font-family: "Open Sans", helvetica, arial;
  border: 0px solid red;
}

/* line 263, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box table {
  color: #666666;
  font-size: 11px;
  border: 0px solid green;
  padding: 10px 15px 15px 15px;
  width: 100%;
  font-family: "Open Sans", helvetica, arial;
}

/* line 272, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box table tr td {
  padding-left: 0px;
  padding-right: 5px;
  padding-bottom: 5px;
}

/* line 278, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_button_wrapper {
  border: 0px solid red;
  width: 100%;
  height: 40px;
  margin-bottom: 0px;
  position: relative;
}

/* line 287, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_button_icon {
  top: -10px;
  left: 100px;
  position: absolute;
}

/* line 293, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_button_enroll {
  border: 0px solid #316A87;
  background-color: #316A87;
  width: 50%;
  color: #ffffff;
  height: 40px;
  float: right;
  text-align: right;
  line-height: 40px;
  font-size: 13px;
  padding: 0 28px 0 15px;
  font-family: 'Lato', sans-serif;
}

/* line 307, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_button_try {
  background-color: #316A87;
  width: 50%;
  float: left;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #ffffff;
  padding: 0 20px 0 25px;
  font-family: 'Lato', sans-serif;
}

/* line 319, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
#benefits {
  border: 0px solid red;
  width: 300px;
  height: 200px;
  padding: 20px;
  font-size: 14px;
  background-color: #E9EAED;
  color: #444444;
  position: absolute;
  top: 50px;
  right: -75px;
  z-index: 9999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(100, 100, 100, 0.75);
  -moz-box-shadow: 0px 0px 2px 2px rgba(100, 100, 100, 0.75);
  box-shadow: 0px 0px 2px 2px rgba(100, 100, 100, 0.75);
}

/* line 339, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
#display_popup_close a {
  right: 0;
  top: 0;
  position: absolute;
  color: #444444;
  cursor: pointer;
  border: 1px solid red;
}

/* line 349, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_footer {
  border: 0px solid red;
  background-color: #ffffff;
  overflow: hidden;
  height: 50px;
}

/* line 356, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_footer ul {
  border: 0px solid green;
  text-align: center;
  float: left;
  width: 100%;
  height: 100%;
}

/* line 364, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_footer li {
  border: 0px solid red;
  width: 33%;
  float: left;
  position: relative;
  padding: 0px 20px 0 20px;
  /*height: 100%;
  line-height: 50px;*/
}

/* line 374, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_icon_opacity {
  border: 0px solid red;
  padding: 0px;
  position: absolute;
  top: 0px;
  left: 31px;
}

/* line 382, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_icon_opacity:hover {
  opacity: 0;
}

/* line 386, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_icon_opacity {
  -webkit-transition: opacity 250ms linear;
  -moz-transition: opacity 250ms linear;
  -o-transition: opacity 250ms linear;
  -ms-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}

/* line 394, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_icon_file_opacity {
  border: 0px solid red;
  padding: 0px;
  position: absolute;
  top: 0px;
  left: 34px;
}

/* line 402, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_icon_file_opacity:hover {
  opacity: 0;
}

/* line 406, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_icon_file_opacity {
  -webkit-transition: opacity 250ms linear;
  -moz-transition: opacity 250ms linear;
  -o-transition: opacity 250ms linear;
  -ms-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}

/* ---------------------*/
/* COURSE */
/* line 420, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
#course_content_wrapper {
  width: 920px;
  margin: auto;
  margin-top: 20px;
  overflow: hidden;
  border: 0px solid red;
}

/* line 428, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.course_content {
  width: 450px;
  padding: 50px;
  border: 1px solid #DFE0E4;
  float: left;
  background-color: #ffffff;
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 441, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.course_content_image {
  width: 100%;
  text-align: center;
  margin: 0 0px 0 0px;
  padding-top: 0px;
  border: 0px solid red;
}

/* line 449, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.course_content_image img {
  border: 0px solid red;
}

/* line 453, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.course_content_title {
  border-bottom: 0px solid #DFE0E4;
  padding: 0 0px 10px 0;
  margin-top: 20px;
  font-family: "Open Sans", helvetica, arial;
  font-size: 30px;
  color: #555555;
}

/* line 462, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.course_content_left {
  width: 100%;
  padding: 0;
  border: 0px solid red;
  font-size: 13px;
  font-family: "Open Sans", helvetica, arial;
}

/* line 470, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.course_content_left table {
  width: 100%;
  border: 0px solid red;
}

/* line 475, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.course_content_footer {
  border: 0px solid red;
  width: 100%;
  overflow: hidden;
  line-height: 25px;
  padding: 20px 0 0 0;
  font-size: 13px;
  color: #777777;
  font-family: "Open Sans", helvetica, arial;
}

/*ENROLL BANNER*/
/* line 488, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.course_enroll_banner {
  width: 920px;
  margin: auto;
  height: 65px;
  background-color: #ffffff;
  margin-bottom: 20px;
  border: 1px solid #DFE0E4;
  font-size: 12px;
  color: #666666;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 502, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.course_enroll_banner_icon {
  border-right: 1px solid #DFE0E4;
  float: left;
  height: 100%;
  padding: 0 20px 0 20px;
  background-color: #51E98C;
}

/* line 510, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.course_enroll_banner_icon img {
  border: 0px solid red;
  padding-top: 15px;
}

/* line 515, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.course_enroll_banner_text {
  border: 0px solid red;
  width: 776px;
  text-align: center;
  height: 100%;
  padding: 20px;
  font-size: 20px;
  float: left;
  color: #444444;
  font-family: 'Lato', sans-serif;
}

/*-----------------------------*/
/*INFO BANNER*/
/* line 531, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.course_info_banner {
  width: 920px;
  margin: auto;
  height: 50px;
  background-color: #ffffff;
  margin-bottom: 20px;
  border: 1px solid #DFE0E4;
  font-size: 12px;
  color: #666666;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 545, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.course_info_banner_icon {
  border-right: 1px solid #DFE0E4;
  float: left;
  height: 100%;
  padding: 0 20px 0 20px;
  background-color: #e1827e;
}

/* line 553, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.course_info_banner_icon img {
  border: 0px solid red;
  padding-top: 10px;
}

/* line 558, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.course_info_banner_text {
  border: 0px solid red;
  float: left;
  height: 100%;
  line-height: 48px;
  padding: 0 10px 0 10px;
}

/*----------------------------*/
/* line 568, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.course_other_courses_by_teacher {
  width: 920px;
  margin: auto;
  background-color: #ffffff;
  margin-bottom: 10px;
  border: 1px solid #DFE0E4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 579, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.course_other_courses_by_teacher_title {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  color: #555555;
  padding: 20px;
}

/* line 586, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.course_list_courses_by_teacher {
  width: 960px;
  margin: auto;
  border: 1px solid #DFE0E4;
}

/*.course_lesson_wrapper {
	width: 250px;
	float: left;
	overflow: hidden;
	border: 1px solid #DFE0E4;
	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;
}

.course_lesson_list {
	height: 60px;
	border-bottom: 1px solid #DFE0E4;
	background-color: #F6F7F8;
	color: #888888;
	font-size: 16px;
	line-height: 60px;
	padding: 0 10px 0 10px;
}

.course_lesson {
	height: 50px;
	line-height: 50px;
	border-top: 0px solid #ffffff;
	border-bottom: 1px solid #DFE0E4;
	background-color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	padding: 0px 10px 0px 10px;
}

a .course_lesson {
	color: #222222;
	-webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;
}

a:hover .course_lesson {
	background-color: #F6F7F8;
}*/
/* line 635, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.enroll_button {
  border: 0px solid red;
  width: auto;
  padding: 0 10px 0 10px;
  height: 50px;
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: center;
  line-height: 50px;
  color: white;
  -moz-box-shadow: 0px 0px 2px #777777;
  -webkit-box-shadow: 0px 0px 2px #777777;
  box-shadow: 0px 0px 2px #777777;
  text-shadow: 2px 2px 2px #464646;
}

/* line 652, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
a .enroll_button {
  background: #00aeef;
  /* Old browsers */
  background: -moz-linear-gradient(top, #00aeef 0%, #009cd7 50%, #00aeef 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00aeef), color-stop(50%, #009cd7), color-stop(100%, #00aeef));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00aeef 0%, #009cd7 50%, #00aeef 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00aeef 0%, #009cd7 50%, #00aeef 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #00aeef 0%, #009cd7 50%, #00aeef 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #00aeef 0%, #009cd7 50%, #00aeef 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00aeef', endColorstr='#00aeef',GradientType=0 );
  /* IE6-9 */
}

/* line 663, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
a:hover .enroll_button {
  background: #009cd7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #009cd7 0%, #00aeef 50%, #009cd7 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #009cd7), color-stop(50%, #00aeef), color-stop(100%, #009cd7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #009cd7 0%, #00aeef 50%, #009cd7 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #009cd7 0%, #00aeef 50%, #009cd7 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #009cd7 0%, #00aeef 50%, #009cd7 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #009cd7 0%, #00aeef 50%, #009cd7 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009cd7', endColorstr='#009cd7',GradientType=0 );
  /* IE6-9 */
}

/*---------------------------------*/
/* NEW COURSE */
/* line 678, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.new_course_wrapper {
  width: 600px;
  margin: auto;
  margin-top: 20px;
  background-color: #ffffff;
  border: 0px solid red;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  -moz-box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 692, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.new_course_title {
  border: 0px solid red;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  padding: 20px;
}

/* line 699, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.new_course_form {
  border: 0px solid red;
  padding: 0px 20px 20px 20px;
  font-size: 12px;
}

/* line 705, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.new_course_area {
  width: 100%;
  padding: 10px;
  height: 90px;
  color: #555555;
  margin-bottom: 10px;
  margin-top: 2px;
  border: 1px solid #cecfc0;
}

/* line 715, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.new_course_field input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 2px;
  color: #555555;
  border: 1px solid #cecfc0;
}

/* line 724, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.new_course_field select {
  -webkit-appearance: none;
  /*Removes default chrome and safari style*/
  -moz-appearance: none;
  /*Removes default style Firefox*/
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #cecfc0;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 2px;
  font-size: 12px;
  background: url("dropdown.png") no-repeat;
  background-position: 98% 13px;
  /*Position of the background-image*/
  text-indent: 0.01px;
  /* Removes default arrow from firefox*/
  text-overflow: "";
  /*Removes default arrow from firefox*/
}

/* line 740, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.new_course_field label {
  color: #555555;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  border: 0px solid #cecfc0;
}

/* line 747, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.new_course_field_date select {
  -webkit-appearance: none;
  /*Removes default chrome and safari style*/
  -moz-appearance: none;
  /*Removes default style Firefox*/
  background-color: #ffffff;
  border: 1px solid #cecfc0;
  padding: 10px 30px 10px 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 2px;
  font-size: 12px;
  background: url("dropdown.png") no-repeat;
  background-position: 85% 13px;
  /*Position of the background-image*/
  text-indent: 0.01px;
  /* Removes default arrow from firefox*/
  text-overflow: "";
  /*Removes default arrow from firefox*/
}

/* line 763, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.new_course_create_button {
  border: 1px solid #cecfc0;
  text-align: center;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  font-family: "Open Sans", helvetica, arial;
  background-color: #3AC162;
  cursor: pointer;
  -webkit-transition: background-color 150ms linear;
  -moz-transition: background-color 150ms linear;
  -o-transition: background-color 150ms linear;
  -ms-transition: background-color 150ms linear;
  transition: background-color 150ms linear;
}

/* line 782, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.new_course_create_button:hover {
  background-color: #5FCF80;
}

/*.new_course_field {
    overflow:hidden;
    width:350px;
    margin-left:35px;
    background: url("images/arrow_left.png") no-repeat #fff 319px 2px;
     dropdown_arrow.png is a 31x28 image 
}*/
/* ------------------------------ */
/* line 5, /home/vitalijus/rails/school/app/assets/stylesheets/orders.css.scss */
#order_wrapper {
  width: 960px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #ffffff;
  overflow: hidden;
  border: 0px solid red;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  -moz-box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
}

/* line 17, /home/vitalijus/rails/school/app/assets/stylesheets/orders.css.scss */
#order_box_header {
  width: 100%;
  height: 75px;
  line-height: 75px;
  color: #ffffff;
  font-size: 20px;
  font-family: "Open Sans", helvetica, arial;
  padding: 0 20px 0 20px;
  background-color: #316A7E;
}

/* line 28, /home/vitalijus/rails/school/app/assets/stylesheets/orders.css.scss */
#order_box_info {
  width: 60%;
  float: left;
  font-family: "Open Sans", helvetica, arial;
  font-size: 14px;
  padding: 20px 0 20px 20px;
  border: 0px solid red;
}

/* line 37, /home/vitalijus/rails/school/app/assets/stylesheets/orders.css.scss */
#order_box_info_detail {
  padding: 10px;
  background-color: #F6F7F8;
  border: 1px solid #dbdbdb;
}

/* line 43, /home/vitalijus/rails/school/app/assets/stylesheets/orders.css.scss */
#order_box_info li {
  border: 0px solid green;
  padding: 5px 0 5px 0;
}

/* line 48, /home/vitalijus/rails/school/app/assets/stylesheets/orders.css.scss */
#order_box_info span {
  float: right;
}

/* line 52, /home/vitalijus/rails/school/app/assets/stylesheets/orders.css.scss */
#order_box_info span a {
  float: right;
  color: #346fa1;
  -webkit-transition: color 150ms linear;
  -moz-transition: color 150ms linear;
  -o-transition: color 150ms linear;
  -ms-transition: color 150ms linear;
  transition: color 150ms linear;
}

/* line 62, /home/vitalijus/rails/school/app/assets/stylesheets/orders.css.scss */
#order_box_info span a:hover {
  color: #7aadd9;
}

/* line 66, /home/vitalijus/rails/school/app/assets/stylesheets/orders.css.scss */
#order_box_payment_form {
  width: 40%;
  float: right;
  padding: 20px;
  border-left: 0px solid #dbdbdb;
}

/* line 73, /home/vitalijus/rails/school/app/assets/stylesheets/orders.css.scss */
#order_box_secure_pay {
  width: 100%;
  margin-bottom: 20px;
  border: 0px solid red;
}

/* line 79, /home/vitalijus/rails/school/app/assets/stylesheets/orders.css.scss */
#order_box_secure_pay ul {
  overflow: hidden;
  border: 0px solid red;
}

/* line 84, /home/vitalijus/rails/school/app/assets/stylesheets/orders.css.scss */
#order_box_secure_pay li {
  float: left;
  padding: 0 9px 0 9px;
  border: 0px solid red;
}

/* line 90, /home/vitalijus/rails/school/app/assets/stylesheets/orders.css.scss */
.order_box_field input[type="text"] {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  margin-top: 2px;
  color: #555555;
  border: 1px solid #cecfc0;
}

/* line 99, /home/vitalijus/rails/school/app/assets/stylesheets/orders.css.scss */
.order_box_field label {
  color: #555555;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  border: 0px solid #cecfc0;
}

/* line 106, /home/vitalijus/rails/school/app/assets/stylesheets/orders.css.scss */
.order_box_field select {
  -webkit-appearance: none;
  /*Removes default chrome and safari style*/
  -moz-appearance: none;
  /*Removes default style Firefox*/
  background-color: #ffffff;
  border: 1px solid #cecfc0;
  padding: 10px 30px 10px 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 2px;
  font-size: 12px;
  background: url("dropdown.png") no-repeat;
  background-position: 85% 13px;
  /*Position of the background-image*/
  text-indent: 0.01px;
  /* Removes default arrow from firefox*/
  text-overflow: "";
  /*Removes default arrow from firefox*/
}

/* line 122, /home/vitalijus/rails/school/app/assets/stylesheets/orders.css.scss */
#order_box_button {
  border: 0px solid red;
}

/* line 126, /home/vitalijus/rails/school/app/assets/stylesheets/orders.css.scss */
.pay_button {
  width: 100%;
  height: 50px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-family: "Open Sans", helvetica, arial;
  background-color: #3399CC;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  -moz-box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  transition: background .3s;
  -webkit-transition: background .3s;
}

/* line 143, /home/vitalijus/rails/school/app/assets/stylesheets/orders.css.scss */
.pay_button:hover {
  background: #2288bb;
}

/* line 147, /home/vitalijus/rails/school/app/assets/stylesheets/orders.css.scss */
#stripe_error {
  color: red;
  border: 0px solid red;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  padding-bottom: 10px;
}
/* line 1, /home/vitalijus/rails/school/app/assets/stylesheets/student.css.scss */
#student_login {
  width: 400px;
  margin: 0 auto;
  background-color: #ffffff;
}

/* line 7, /home/vitalijus/rails/school/app/assets/stylesheets/student.css.scss */
#student_login_form {
  padding: 20px;
  font-size: 13px;
}

/*#triangle{
  width:0;
  border-top:12x solid transparent;
  border-right:12px solid transparent;
  border-bottom:12px solid #3399cc;
  border-left:12px solid transparent;
  margin:0 auto;
}*/
/* line 21, /home/vitalijus/rails/school/app/assets/stylesheets/student.css.scss */
#student_login h1 {
  background: #316A7E;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  margin-top: 20px;
  text-align: center;
  color: #fff;
}

/* line 31, /home/vitalijus/rails/school/app/assets/stylesheets/student.css.scss */
#student_login input[type="email"], input[type="password"], input[type="text"] {
  width: 100%;
  background: #fff;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  padding: 4%;
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  color: #555;
}

/* line 42, /home/vitalijus/rails/school/app/assets/stylesheets/student.css.scss */
#student_login input[type="submit"] {
  width: 100%;
  background: #3399cc;
  border: 0;
  padding: 4%;
  margin-top: 15px;
  font-family: 'Open Sans',sans-serif;
  font-size: 100%;
  color: #fff;
  cursor: pointer;
  transition: background .3s;
  -webkit-transition: background .3s;
}

/* line 56, /home/vitalijus/rails/school/app/assets/stylesheets/student.css.scss */
#student_login input[type="submit"]:hover {
  background: #2288bb;
}

/* line 60, /home/vitalijus/rails/school/app/assets/stylesheets/student.css.scss */
#student_login_links {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  border: 0px solid red;
}

/* line 68, /home/vitalijus/rails/school/app/assets/stylesheets/student.css.scss */
#student_login_links a {
  color: #3399CC;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  padding: 0 7px 0 7px;
}

/* line 76, /home/vitalijus/rails/school/app/assets/stylesheets/student.css.scss */
#student_login_links a:hover {
  text-decoration: underline;
}
/* line 1, /home/vitalijus/rails/school/app/assets/stylesheets/teachers.css.scss */
#teacher_wrapper {
  width: 1110px;
  height: 100px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  -moz-box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
}

/* line 13, /home/vitalijus/rails/school/app/assets/stylesheets/teachers.css.scss */
#teacher_profile_image {
  float: left;
  border: 0px solid red;
}

/* line 18, /home/vitalijus/rails/school/app/assets/stylesheets/teachers.css.scss */
#teacher_profile_name {
  color: #555555;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  line-height: 60px;
  float: left;
  padding: 0 20px 0 20px;
  border: 0px solid red;
}

/* line 28, /home/vitalijus/rails/school/app/assets/stylesheets/teachers.css.scss */
#teacher_profile_navigation a {
  color: #555555;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  line-height: 60px;
  float: right;
  padding: 7px 20px 0 20px;
  border: 0px solid red;
}

/* line 38, /home/vitalijus/rails/school/app/assets/stylesheets/teachers.css.scss */
.box_delete {
  position: absolute;
  top: 3px;
  right: 3px;
}

/* TEACHER EDIT */
/* line 47, /home/vitalijus/rails/school/app/assets/stylesheets/teachers.css.scss */
.teacher_edit {
  width: 640px;
  margin: auto;
  margin-top: 20px;
}

/* line 53, /home/vitalijus/rails/school/app/assets/stylesheets/teachers.css.scss */
.teacher_edit_box {
  padding: 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  -moz-box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
}

/* line 61, /home/vitalijus/rails/school/app/assets/stylesheets/teachers.css.scss */
.teacher_edit_box input {
  width: 100%;
  border: 1px solid #cecfc0;
  padding: 10px 30px 10px 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 12px;
}

/* line 70, /home/vitalijus/rails/school/app/assets/stylesheets/teachers.css.scss */
.teacher_edit_box label {
  color: #555555;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  border: 0px solid #cecfc0;
}

/* line 77, /home/vitalijus/rails/school/app/assets/stylesheets/teachers.css.scss */
.teacher_edit_box_title {
  padding: 0 0 20px 0;
  width: 100%;
  border: 0px solid red;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
}

/* line 85, /home/vitalijus/rails/school/app/assets/stylesheets/teachers.css.scss */
.teacher_edit_box_button {
  margin-top: 10px;
  background-color: #3AC162;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: 1px solid #cecfc0;
  font-family: "Open Sans", helvetica, arial;
  background-color: #3AC162;
  cursor: pointer;
}

/* line 97, /home/vitalijus/rails/school/app/assets/stylesheets/teachers.css.scss */
.teacher_edit_box_cancel {
  margin-top: 10px;
  border: 0px solid red;
}

/* ------------------------------ */
/* line 5, /home/vitalijus/rails/school/app/assets/stylesheets/trials.css.scss */
#trial_wrapper {
  width: 920px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  -moz-box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
}

/* line 16, /home/vitalijus/rails/school/app/assets/stylesheets/trials.css.scss */
#trial_box_header {
  width: 100%;
  height: 75px;
  line-height: 75px;
  padding: 0 20px 0 20px;
  color: #ffffff;
  font-size: 20px;
  font-family: "Open Sans", helvetica, arial;
  font-weight: bold;
  background-color: #316A7E;
}

/* line 28, /home/vitalijus/rails/school/app/assets/stylesheets/trials.css.scss */
#trial_box_info {
  width: 60%;
  height: 100%;
  float: left;
  padding: 20px 0 20px 20px;
  font-family: "Open Sans", helvetica, arial;
  font-size: 14px;
  border: 0px solid red;
}

/* line 38, /home/vitalijus/rails/school/app/assets/stylesheets/trials.css.scss */
#trial_box_info_details {
  border: 1px solid red;
  background-color: #F6F7F8;
  border: 1px solid #dbdbdb;
  padding: 10px;
}

/* line 45, /home/vitalijus/rails/school/app/assets/stylesheets/trials.css.scss */
#trial_box_info_details li {
  padding: 5px 0 5px 0;
}

/* line 50, /home/vitalijus/rails/school/app/assets/stylesheets/trials.css.scss */
#trial_box_info_details span {
  float: right;
}

/* line 54, /home/vitalijus/rails/school/app/assets/stylesheets/trials.css.scss */
#trial_box_info_details span a {
  float: right;
  color: #346fa1;
  -webkit-transition: color 150ms linear;
  -moz-transition: color 150ms linear;
  -o-transition: color 150ms linear;
  -ms-transition: color 150ms linear;
  transition: color 150ms linear;
}

/* line 64, /home/vitalijus/rails/school/app/assets/stylesheets/trials.css.scss */
#trial_box_info_details span a:hover {
  color: #7aadd9;
}

/* line 68, /home/vitalijus/rails/school/app/assets/stylesheets/trials.css.scss */
#trial_box_info_step {
  border: 1px solid #dbdbdb;
  width: 91.1%;
  float: right;
  padding: 10px 10px 0 10px;
  background-color: #F6F7F8;
  margin-top: 20px;
  position: relative;
}

/* line 78, /home/vitalijus/rails/school/app/assets/stylesheets/trials.css.scss */
#trial_box_info_step ul {
  border: 0px solid red;
}

/* line 82, /home/vitalijus/rails/school/app/assets/stylesheets/trials.css.scss */
#trial_box_info_step li {
  border: 0px solid red;
  color: #111111;
  font-size: 13px;
  padding-bottom: 10px;
}

/* line 89, /home/vitalijus/rails/school/app/assets/stylesheets/trials.css.scss */
#trial_box_info_flag {
  border-left: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding: 10px 10px 6px 13px;
  background-color: #F6F7F8;
  position: absolute;
  width: 45px;
  top: -1px;
  left: -45px;
}

/* line 101, /home/vitalijus/rails/school/app/assets/stylesheets/trials.css.scss */
#trial_box_info_info {
  border-left: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding: 10px 10px 6px 15px;
  background-color: #F6F7F8;
  position: absolute;
  width: 45px;
  top: -1px;
  left: -45px;
}

/* line 113, /home/vitalijus/rails/school/app/assets/stylesheets/trials.css.scss */
#trial_box_form {
  width: 40%;
  float: right;
  padding: 20px;
  border-left: 0px solid #dbdbdb;
}

/* line 120, /home/vitalijus/rails/school/app/assets/stylesheets/trials.css.scss */
.trial_box_field input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 2px;
  color: #555555;
  border: 1px solid #cecfc0;
}

/* line 129, /home/vitalijus/rails/school/app/assets/stylesheets/trials.css.scss */
.trial_box_field label {
  color: #555555;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  border: 0px solid #cecfc0;
}

/* line 136, /home/vitalijus/rails/school/app/assets/stylesheets/trials.css.scss */
.trial_box_button {
  width: 100%;
  height: 50px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-family: "Open Sans", helvetica, arial;
  background-color: #3399CC;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  -moz-box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  transition: background .3s;
  -webkit-transition: background .3s;
}

/* line 153, /home/vitalijus/rails/school/app/assets/stylesheets/trials.css.scss */
.trial_box_button:hover {
  background: #2288bb;
}
