/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


html {
	position: relative;
    min-height: 100%;
}

 body {
  background-color: #E9EAED;
  font-family: 'Ubuntu', sans-serif;
  color: #444444;   
  margin: 0 0 80px; /* bottom = footer height */
  /*height: 100%;*/
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  border : 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

h3 {
  margin: 0;
}

/* HEADER LOGIN */

.header_login_wrapper {
	background-color: #ffffff;
}

.header_login {
	background-color: #ffffff;
	width: 1180px;
	margin: auto;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #eaeaeb;
	font-size: 12px;
	overflow: hidden;
}

.header_login_nav {
	float: right;
	border: 0px solid red;
	width: 300px;
	text-align: right;
}

.header_login_nav a {
	color: #333333;
	-webkit-transition: color 150ms linear;
  	-moz-transition: color 150ms linear;
  	-o-transition: color 150ms linear;
  	-ms-transition: color 150ms linear;
  	transition: color 150ms linear;
}

.header_login_nav a:hover {
	color: #00AEEF;
}

.header_login_nav img {
	border: 0px solid red;
	margin-right: 5px;
}

/*--------------------------------------*/

/* HEADER */

#header_wrapper {
	/*background-color: #ffffff;*/
	/*background:url("../assets/blur.png");*/
	height: 65px;
	/*-webkit-box-shadow: 0px 1px 2px 0px rgba(100, 100, 100, 0.75);
	-moz-box-shadow:    0px 1px 2px 0px rgba(100, 100, 100, 0.75);
	box-shadow:         0px 1px 2px 0px rgba(100, 100, 100, 0.75);*/
	border-bottom: 1px solid #cecfc0;
	position: absolute;
	width: 100%;
	top: 0;
}

#header_wrapper2 {
	background-color: #2AA4CF;
	/*background:url("../assets/blur.png");*/
	height: 50px;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(100, 100, 100, 0.75);
	-moz-box-shadow:    0px 0px 2px 0px rgba(100, 100, 100, 0.75);
	box-shadow:         0px 1px 2px 0px rgba(100, 100, 100, 0.75);
	border-bottom: 0px solid #cecfc0;
	width: 100%;
}

.header {
	max-width: 1180px;
	margin: 0 auto;
	height: 65px;
	border: 0px solid red;
}

.header2 {
	max-width: 1180px;
	margin: 0 auto;
	height: 65px;
	border: 0px solid red;
}

/* HEADER LOGO */

a .header_logo {
	border: 0px solid red;
	/*font-family: 'Alegreya Sans SC', sans-serif;*/
	font-family: 'Josefin Sans', sans-serif;
	float: left;
	width: 400px;
}

a .header_logo .webpage_title {
	border: 0px solid green;
	float: left;
	height: 65px;
	line-height: 65px;
	color: #ffffff;
	/*text-shadow: 0px 1px 1px rgba(58, 58, 58, 1);*/
	font-size: 30px;
}

/*-------------------------------*/

/* HEADER LOGO2 */

a .header_logo2 {
	border: 0px solid red;
	/*font-family: 'Alegreya Sans SC', sans-serif;*/
	font-family: 'Josefin Sans', sans-serif;
	float: left;
	width: 400px;
}

a .header_logo2 .webpage_title {
	border: 0px solid green;
	float: left;
	height: 50px;
	line-height: 50px;
	color: #ffffff;
	/*text-shadow: 0px 1px 1px rgba(58, 58, 58, 1);*/
	font-size: 25px;

}


/*-------------------------*/

/* HEADER NAVIGATION */

.header_navigation {
	width: 60%;
	float: right;
	height: 65px;
	border: 0px solid yellow;
}

.header_navigation ul {
	border: 0px solid red;
	height: 65px;
	float: right;
	line-height: 65px;
	font-size: 12px;
}

.header_navigation li {
	border: 0px solid red;
	float: left;
	padding: 0 0px 0 20px;
}

.header_navigation a {
	color: #ececec;
	-webkit-transition: color 150ms linear;
  	-moz-transition: color 150ms linear;
  	-o-transition: color 150ms linear;
  	-ms-transition: color 150ms linear;
  	transition: color 150ms linear;
}

.header_navigation a:hover {
	color: #00AEEF;
}

/*------------------*/

/* HEADER NAVIGATION2 */

.header_navigation2 {
	width: 60%;
	float: right;
	height: 50px;
	border: 0px solid yellow;
}

.header_navigation2 ul {
	border: 0px solid red;
	height: 50px;
	float: right;
	line-height: 50px;
	font-size: 12px;
	border-left: 1px solid #2593ba;
	border-right: 1px solid #69bfdd;
}

.header_navigation2 li {
	border-right: 1px solid #2593ba;
  	border-left: 1px solid #69bfdd;
	float: left;
	padding: 0 15px 0 15px;
}

.header_navigation2 a li {
	color: #ffffff;
	-webkit-transition: background-color 250ms linear;
  	-moz-transition: background-color 250ms linear;
  	-o-transition: background-color 250ms linear;
  	-ms-transition: background-color 250ms linear;
  	transition: background-color 250ms linear;
}

.header_navigation2 a:hover li {
	background-color: #54b6d8;
}

.header_navigation2 img {
	border: 0px solid red;
	margin-left: 5px;
}

/*------------------*/

/* FOOTER */

.footer {
	position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
	border: 0px solid red;
}

.footer-left {
	width: 48%;
	position: absolute;
	left: 0;
	height: 35px;
	border-bottom: 1px solid #b4b4b4;
}

.footer-image {
	width: 30px;
	position: absolute;
	right: 0;
	left: 0;
	margin: 0 auto;
	padding: 20px 0 20px 0;
	border: 0px solid red;
}

.footer-right {
	width: 48%;
	position: absolute;
	right: 0;
	height: 35px;
	border-bottom: 1px solid #b4b4b4;
}
/* BG IMAGE */
/* line 7, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
#bg_image {
  border-bottom: 1px solid #cecfc0;
  width: 100%;
  height: 450px;
  background: url("../assets/coffee_shop.jpg");
  position: relative;
}

/* line 15, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.bg_image_text {
  border: 0px solid red;
  color: #ffffff;
  width: 1180px;
  height: 450px;
  top: 65px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

/* line 28, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.bg_image_left {
  /*font-family: "Open Sans", helvetica, arial;*/
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  /*text-shadow: 0px 1px 2px rgba(58, 58, 58, 1);*/
  position: absolute;
  left: 0;
  top: 30px;
  border: 0px solid red;
}

/* line 39, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.bg_image_left span {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  /*text-shadow: 0px 1px 2px rgba(58, 58, 58, 1);*/
  position: absolute;
  left: 0;
  top: 50px;
  text-align: center;
  border: 0px solid red;
}

/* line 50, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.bg_steps {
  position: absolute;
  left: 50px;
  top: 90px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

/* line 58, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.bg_steps table tr td {
  border: 0px solid red;
  padding-bottom: 5px;
  padding-right: 20px;
}

/* line 64, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.bg_image_right {
  position: absolute;
  right: 50px;
  top: 45px;
}

/* line 70, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.bg_image_sign_student {
  position: absolute;
  left: 0px;
  top: 250px;
  width: 130px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  font-family: 'Alegreya Sans SC', sans-serif;
  background-color: #3AC162;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 3px;
  border: 0px solid red;
}

/* line 87, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
a .bg_image_sign_student {
  color: white;
  -webkit-transition: background-color 150ms linear;
  -moz-transition: background-color 150ms linear;
  -o-transition: background-color 150ms linear;
  -ms-transition: background-color 150ms linear;
  transition: background-color 150ms linear;
}

/* line 96, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
a:hover .bg_image_sign_student {
  background-color: #5FCF80;
}

/* line 100, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.bg_image_sign_student img {
  border: 0px solid green;
  float: left;
  margin-left: 7px;
  margin-top: 10px;
}

/* line 107, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.bg_image_sign_teacher {
  position: absolute;
  left: 170px;
  top: 250px;
  width: 130px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  font-family: 'Alegreya Sans SC', sans-serif;
  background-color: #3AC162;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 3px;
  border: 0px solid red;
}

/* line 124, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
a .bg_image_sign_teacher {
  color: white;
  -webkit-transition: background-color 150ms linear;
  -moz-transition: background-color 150ms linear;
  -o-transition: background-color 150ms linear;
  -ms-transition: background-color 150ms linear;
  transition: background-color 150ms linear;
}

/* line 133, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
a:hover .bg_image_sign_teacher {
  background-color: #5FCF80;
}

/* line 137, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.bg_image_sign_teacher img {
  border: 0px solid green;
  float: left;
  margin-left: 7px;
  margin-top: 10px;
}

/*-------------------------------------------*/
/* BANNER */
/* line 149, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
#banner_wrapper {
  border: 0px solid red;
  width: 100%;
  overflow: hidden;
  background-color: #F9FAFC;
  /*background:url("../assets/Blur-3.png");*/
  moz-box-shadow: 0px 0px 2px #999999;
  -webkit-box-shadow: 0px 0px 2px #999999;
  box-shadow: 0px 0px 2px #999999;
}

/* line 160, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.banner {
  border-left: 1px solid #eaeaeb;
  border-right: 1px solid #ffffff;
  background-color: #F9FAFC;
  overflow: hidden;
  margin: auto;
  width: 1040px;
}

/* line 169, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.banner_box {
  float: left;
  width: 259px;
  height: 100%;
  border-right: 1px solid #eaeaeb;
  border-left: 1px solid #ffffff;
}

/* line 177, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.banner_box_last {
  border: 0px solid green;
  float: left;
  width: 261px;
  border-right: 1px solid #eaeaeb;
  border-left: 1px solid #ffffff;
}

/* line 185, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.banner_box_title {
  /*font-family: 'Alegreya Sans SC', sans-serif;*/
  font-family: 'Lato', sans-serif;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  border: 0px solid red;
  color: #428BCA;
}

/* line 196, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.banner_box_logo {
  height: 50px;
  border: 0px solid blue;
}

/* line 201, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.banner_box_logo img {
  border: 0px solid green;
  display: block;
  margin: auto;
  margin-top: 20px;
}

/* line 208, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.banner_box_content {
  border: 0px solid red;
}

/* line 213, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.banner_box_content table {
  color: #888888;
  width: 100%;
  font-size: 13px;
  border: 0px solid green;
  padding-left: 10px;
  font-family: "Open Sans", helvetica, arial;
}

/* line 222, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.banner_box_content table a {
  color: #00aeef;
}

/* line 226, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.banner_box_content tr td {
  padding: 0px 0 10px 10px;
  border-bottom: 0px solid #e9e9e9;
}

/*--------------------------------------*/
/* STAMP */
/* line 237, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.stamp {
  background-color: #F9FAFC;
  position: absolute;
  width: 245px;
  height: 350px;
  left: 15px;
  margin-bottom: 20px;
  moz-box-shadow: 0px 0px 2px #999999;
  -webkit-box-shadow: 0px 0px 2px #999999;
  box-shadow: 0px 0px 2px #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 0px solid #cecfc0;
}

/* line 254, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.stamp img {
  height: 300px;
}

/*.stamp_box1 {
	width: 189px;
	height: 50%;
	position: relative;
	background-color: #FF9D74;
	float: left;
	text-align: center;
	line-height: 190px;
	color: white;
	font-size: 20px;
	font-family: "Open Sans", helvetica, arial;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
}*/
/*---------------------------*/
/* MASONRY */
/* line 277, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
#masonry_container {
  border: 0px solid red;
  margin: 0 auto;
  overflow: hidden;
  padding: 5px;
  margin-top: 16px;
  max-width: 1070px;
  min-width: 660px;
  position: relative;
}

/* line 288, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box {
  margin: 0px 10px 20px 10px;
  background-color: #ffffff;
  width: 245px;
  font-size: 12px;
  overflow: hidden;
  -moz-box-shadow: 0px 0px 2px #999999;
  -webkit-box-shadow: 0px 0px 2px #999999;
  box-shadow: 0px 0px 2px #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 0px solid #cecfc0;
  padding: 0;
}

/* line 304, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_course_title {
  width: 200px;
  /*text-align: center;*/
  float: left;
  font-size: 20px;
  text-transform: lowercase;
  border-bottom: 1px solid #eaeaeb;
  padding-bottom: 15px;
  padding-left: 10px;
  margin: 20px 0px 0 20px;
  font-family: 'Alegreya Sans SC', sans-serif;
  background-color: #ffffff;
}

/* line 318, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_course_title a {
  color: #346fa1;
  -webkit-transition: color 150ms linear;
  -moz-transition: color 150ms linear;
  -o-transition: color 150ms linear;
  -ms-transition: color 150ms linear;
  transition: color 150ms linear;
}

/* line 327, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_course_title a:hover {
  color: #428BCA;
}

/* line 331, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_teacher_name {
  text-transform: none;
  border: 0px solid red;
  width: auto;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  color: #999999;
}

/* line 340, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_course_price {
  width: 50px;
  border: 0px solid #eaeaeb;
  float: right;
  text-align: center;
  color: #999999;
  font-size: 14px;
  background-color: #ffffff;
  padding-top: 4px;
  font-family: 'Lato', sans-serif;
}

/* line 353, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box table {
  color: #666666;
  font-size: 12px;
  border: 0px solid green;
  margin: 0px 20px 10px 20px;
  padding-top: 10px;
  font-family: "Open Sans", helvetica, arial;
}

/* line 362, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box table tr td {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

/* line 368, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_footer {
  border-top: 1px solid #eaeaeb;
  margin: 0 20px 0 20px;
  background-color: #ffffff;
  overflow: hidden;
  height: 48px;
}

/* line 376, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_footer ul {
  border: 0px solid green;
  text-align: center;
  height: 100%;
}

/* line 382, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_footer li {
  border: 0px solid red;
  width: 33.3%;
  height: 60px;
  line-height: 60px;
  float: left;
  position: relative;
}

/* line 391, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_icon_opacity {
  border: 0px solid red;
  padding: 0px;
  position: absolute;
  top: 10px;
  left: 21px;
}

/* line 399, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_icon_opacity:hover {
  opacity: 0;
}

/* line 403, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_icon_opacity {
  -webkit-transition: opacity 250ms linear;
  -moz-transition: opacity 250ms linear;
  -o-transition: opacity 250ms linear;
  -ms-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}

/* line 411, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_icon_add_opacity {
  border: 0px solid red;
  padding: 0px;
  position: absolute;
  top: 12px;
  left: 23px;
}

/* line 419, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_icon_add_opacity:hover {
  opacity: 0;
}

/* line 423, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_icon_add_opacity {
  -webkit-transition: opacity 250ms linear;
  -moz-transition: opacity 250ms linear;
  -o-transition: opacity 250ms linear;
  -ms-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}

/* ---------------------*/
/* COURSE */
/* line 437, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
#course_content_wrapper {
  width: 960px;
  margin: auto;
  margin-top: 10px;
  overflow: hidden;
}

/* line 444, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.course_content {
  width: 695px;
  border: 1px solid #cecfc0;
  float: right;
  background-color: white;
  position: relative;
  margin-bottom: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* line 457, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.course_content_title {
  border: 1px solid red;
  padding: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 16;
  font-weight: bold;
  color: #111111;
}

/* line 466, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.course_content_left {
  width: 70%;
  float: left;
  padding: 0 0 30px 30px;
  border: 1px solid red;
}

/* line 473, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.course_content_right {
  width: 30%;
  float: right;
  margin: 0 0px 0 0px;
  padding: 0 30px 0px 30px;
  border: 1px solid red;
}

/* line 481, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.course_lesson_wrapper {
  width: 250px;
  float: left;
  overflow: hidden;
  border: 1px solid #DFE0E4;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 5px;
}

/* line 491, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.course_lesson_list {
  height: 60px;
  border-bottom: 1px solid #DFE0E4;
  background-color: #F6F7F8;
  color: #888888;
  font-size: 16px;
  line-height: 60px;
  padding: 0 10px 0 10px;
}

/* line 501, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.course_lesson {
  height: 50px;
  line-height: 50px;
  border-top: 0px solid #ffffff;
  border-bottom: 1px solid #DFE0E4;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  padding: 0px 10px 0px 10px;
}

/* line 512, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
a .course_lesson {
  color: #222222;
  -webkit-transition: background-color 150ms linear;
  -moz-transition: background-color 150ms linear;
  -o-transition: background-color 150ms linear;
  -ms-transition: background-color 150ms linear;
  transition: background-color 150ms linear;
}

/* line 521, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
a:hover .course_lesson {
  background-color: #F6F7F8;
}

/* line 525, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.enroll_button {
  border: 0px solid red;
  width: auto;
  padding: 0 10px 0 10px;
  height: 50px;
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: center;
  line-height: 50px;
  color: white;
  -moz-box-shadow: 0px 0px 2px #777777;
  -webkit-box-shadow: 0px 0px 2px #777777;
  box-shadow: 0px 0px 2px #777777;
  text-shadow: 2px 2px 2px #464646;
}

/* line 542, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
a .enroll_button {
  background: #00aeef;
  /* Old browsers */
  background: -moz-linear-gradient(top, #00aeef 0%, #009cd7 50%, #00aeef 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00aeef), color-stop(50%, #009cd7), color-stop(100%, #00aeef));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00aeef 0%, #009cd7 50%, #00aeef 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00aeef 0%, #009cd7 50%, #00aeef 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #00aeef 0%, #009cd7 50%, #00aeef 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #00aeef 0%, #009cd7 50%, #00aeef 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00aeef', endColorstr='#00aeef',GradientType=0 );
  /* IE6-9 */
}

/* line 553, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
a:hover .enroll_button {
  background: #009cd7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #009cd7 0%, #00aeef 50%, #009cd7 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #009cd7), color-stop(50%, #00aeef), color-stop(100%, #009cd7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #009cd7 0%, #00aeef 50%, #009cd7 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #009cd7 0%, #00aeef 50%, #009cd7 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #009cd7 0%, #00aeef 50%, #009cd7 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #009cd7 0%, #00aeef 50%, #009cd7 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009cd7', endColorstr='#009cd7',GradientType=0 );
  /* IE6-9 */
}

/*---------------------------------*/
