/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


html {
	position: relative;
    min-height: 100%;
}

 body {
  background-color: #E9EAED;
  font-family: 'Ubuntu', sans-serif;
  color: #444444;   
  margin: 0 0 80px; /* bottom = footer height */
  /*height: 100%;*/
}

{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  border : 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

h3 {
  margin: 0;
}

/* HEADER LOGIN */

.header_login_wrapper {
	background-color: #ffffff;
}

.header_login {
	background-color: #ffffff;
	width: 1190px;
	margin: auto;
	padding-top: 7px;
	padding-bottom: 7px;
	border-bottom: 1px solid #eaeaeb;
	font-size: 12px;
	overflow: hidden;
}

.header_login_nav {
	float: right;
	border: 0px solid red;
	width: 300px;
	text-align: right;
}

.header_login_nav a {
	color: #333333;
	-webkit-transition: color 150ms linear;
  	-moz-transition: color 150ms linear;
  	-o-transition: color 150ms linear;
  	-ms-transition: color 150ms linear;
  	transition: color 150ms linear;
}

.header_login_nav a:hover {
	color: #00AEEF;
}

.header_login_nav img {
	border: 0px solid red;
	margin-right: 5px;
}

/*--------------------------------------*/

/* HEADER */

#header-wrapper {
	background-color: #ffffff;
	height: 45px;
	/*-webkit-box-shadow: 0px 1px 2px 0px rgba(100, 100, 100, 0.75);
	-moz-box-shadow:    0px 1px 2px 0px rgba(100, 100, 100, 0.75);
	box-shadow:         0px 1px 2px 0px rgba(100, 100, 100, 0.75);*/
	border-bottom: 1px solid #cecfc0;
}

.header {
	max-width: 1190px;
	margin: 0 auto;
	height: 45px;
	border: 0px solid red;
}

.social-network-navigation {
	float: right;
	height: 80px;
	overflow: hidden;
	border: 0px solid green;
}

.social-network-navigation ul {
	border: 0px solid red;
	height: 80px;
	float: left;
	line-height: 80px;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 25px;
}

.social-network-navigation li {
	border: 0px solid red;
	float: left;
	padding: 0 10px 0 10px;
	height: 80px;
	line-height: 87px;
	position: relative;
}

.social-network-navigation a {
	color: #38A2A5;
	-webkit-transition: color 250ms linear;
  	-moz-transition: color 250ms linear;
  	-o-transition: color 250ms linear;
  	-ms-transition: color 250ms linear;
  	transition: color 250ms linear;
}

.social-network-navigation a:hover {
	color: white;
}

.icon-opacity {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0px;
	left: 0px;
	margin: auto;
	-webkit-transition: opacity 250ms linear;
  	-moz-transition: opacity 250ms linear;
  	-o-transition: opacity 250ms linear;
  	-ms-transition: opacity 250ms linear;
  	transition: opacity 250ms linear;
}

.icon-opacity:hover {
	opacity: 0;
}

.icon-opacity-p {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0px;
	left: 10px;
	margin: auto;
	-webkit-transition: opacity 250ms linear;
  	-moz-transition: opacity 250ms linear;
  	-o-transition: opacity 250ms linear;
  	-ms-transition: opacity 250ms linear;
  	transition: opacity 250ms linear;
}

.icon-opacity-p:hover {
	opacity: 0;
}

/* HEADER LOGO */

a .header-logo {
	border: 0px solid red;
	font-family: 'Alegreya Sans SC', sans-serif;
	float: left;
	width: 350px;
}

a .header-logo .webpage-title {
	border: 0px solid green;
	float: left;
	height: 45px;
	line-height: 45px;
	color: #444444;
	font-size: 30px;
}

a:hover .header-logo {
	color: #777777;
}

/*-------------------------*/

/* HEADER NAVIGATION */

.header_navigation {
	width: 60%;
	float: right;
	height: 45px;
	border: 0px solid yellow;
}

.header_navigation ul {
	border: 0px solid red;
	height: 45px;
	float: right;
	line-height: 45px;
	font-size: 12px;
}

.header_navigation li {
	border: 0px solid red;
	float: left;
	padding: 0 0px 0 20px;
}

.header_navigation a {
	color: #888888;
	-webkit-transition: color 150ms linear;
  	-moz-transition: color 150ms linear;
  	-o-transition: color 150ms linear;
  	-ms-transition: color 150ms linear;
  	transition: color 150ms linear;
}

.header_navigation a:hover {
	color: #00AEEF;
}

/*------------------*/

/* FOOTER */

.footer {
	position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
	border: 0px solid red;
}

.footer-left {
	width: 48%;
	position: absolute;
	left: 0;
	height: 35px;
	border-bottom: 1px solid #b4b4b4;
}

.footer-image {
	width: 30px;
	position: absolute;
	right: 0;
	left: 0;
	margin: 0 auto;
	padding: 20px 0 20px 0;
	border: 0px solid red;
}

.footer-right {
	width: 48%;
	position: absolute;
	right: 0;
	height: 35px;
	border-bottom: 1px solid #b4b4b4;
}
/* line 5, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
#banner_wrapper {
  border: 0px solid red;
  width: 100%;
  height: 200px;
  margin-top: 20px;
  /*background:url("../assets/Blur-3.png");*/
}

/* line 13, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.banner {
  border: 1px solid #cecfc0;
  background-color: #F9FAFC;
  height: 200px;
  margin: auto;
  width: 1190px;
}

/* line 21, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.banner_box {
  float: left;
  width: 296px;
  height: 100%;
  border-right: 1px solid #eaeaeb;
}

/* line 28, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.banner_box_last {
  border: 0px solid red;
  float: left;
  width: 296px;
  height: 200px;
}

/* line 35, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.banner_box_title {
  color: #222222;
  font-family: "Open Sans", helvetica, arial;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  border: 0px solid red;
}

/* line 44, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.banner_box_content {
  border: 0px solid red;
  height: 150px;
}

/* line 49, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.banner_box_content table {
  color: #444444;
  font-size: 13px;
  border: 0px solid green;
  padding-left: 10px;
  font-family: "Open Sans", helvetica, arial;
}

/* line 57, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.banner_box_content tr td {
  padding: 5px 0 5px 10px;
  border-bottom: 0px solid #e9e9e9;
}

/* line 62, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.banner_box_logo {
  border: 0px solid green;
}

/* line 66, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.banner_box_logo img {
  border: 0px solid green;
  display: block;
  margin: auto;
}

/* STAMP */
/* line 75, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.stamp {
  background-color: white;
  position: absolute;
  width: 468px;
  height: 300px;
  left: 15px;
  margin-bottom: 10px;
  /*-moz-box-shadow:  0px 0px 2px #777777;
  -webkit-box-shadow: 0px 0px 2px #777777;
  box-shadow: 0px 0px 2px #777777;*/
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border: 1px solid #cecfc0;
}

/*.stamp_box1 {
	width: 189px;
	height: 50%;
	position: relative;
	background-color: #FF9D74;
	float: left;
	text-align: center;
	line-height: 190px;
	color: white;
	font-size: 20px;
	font-family: "Open Sans", helvetica, arial;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
}*/
/*---------------------------*/
/* MASONRY */
/* line 111, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
#masonry_container {
  border: 0px solid red;
  margin: 0 auto;
  overflow: hidden;
  padding: 5px;
  margin-top: 16px;
  max-width: 1210px;
  min-width: 660px;
  position: relative;
}

/* line 122, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box {
  margin: 0px 0px 10px 10px;
  background-color: #ffffff;
  width: 228px;
  font-size: 12px;
  position: relative;
  overflow: hidden;
  /*-moz-box-shadow:  0px 0px 2px #777777;
  -webkit-box-shadow: 0px 0px 2px #777777;
  box-shadow: 0px 0px 2px #777777;*/
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border: 1px solid #cecfc0;
  padding: 0px 0 0px 0;
  font-family: "Open Sans", helvetica, arial;
}

/* line 140, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.course_title {
  text-align: center;
  padding: 10px;
  font-size: 14px;
  border-bottom: 1px solid #eaeaeb;
}

/* line 147, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
a .course_title {
  font-weight: bold;
  color: #555555;
  -webkit-transition: color 150ms linear;
  -moz-transition: color 150ms linear;
  -o-transition: color 150ms linear;
  -ms-transition: color 150ms linear;
  transition: color 150ms linear;
}

/* line 157, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
a:hover .course_title {
  color: #2AA4CF;
}

/* line 161, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_content {
  border: 0px solid red;
  height: 208px;
}

/* line 166, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_content table {
  color: #222222;
  font-size: 12px;
  border: 0px solid green;
  padding-left: 0px;
  font-family: "Open Sans", helvetica, arial;
}

/* line 174, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_content tr td {
  padding: 5px 0 0px 10px;
  border-bottom: 0px solid #e9e9e9;
  border: 0px solid red;
}

/* line 180, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.box_teacher {
  border-top: 1px solid #eaeaeb;
  height: 50px;
}

/* ---------------------*/
/* COURSE */
/* line 189, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
#course_content_wrapper {
  width: 960px;
  margin: auto;
  margin-top: 10px;
  overflow: hidden;
}

/* line 196, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.course_lesson_wrapper {
  width: 250px;
  float: left;
  border-top: 1px solid #cecfc0;
  border-left: 1px solid #cecfc0;
  border-right: 1px solid #cecfc0;
}

/* line 204, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.course_lesson_list {
  height: 50px;
  border-bottom: 1px solid #cecfc0;
  background-color: #F6F7F8;
  font-family: "Open Sans", helvetica, arial;
  font-size: 14px;
  font-weight: bold;
  line-height: 50px;
  padding: 0 10px 0 10px;
}

/* line 215, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.course_lesson {
  height: 30px;
  border-bottom: 1px solid #cecfc0;
  background-color: #ffffff;
  font-family: "Open Sans", helvetica, arial;
  font-size: 12px;
  padding: 10px;
}

/* line 224, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
a .course_lesson {
  color: #222222;
  -webkit-transition: background-color 150ms linear;
  -moz-transition: background-color 150ms linear;
  -o-transition: background-color 150ms linear;
  -ms-transition: background-color 150ms linear;
  transition: background-color 150ms linear;
}

/* line 233, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
a:hover .course_lesson {
  background-color: #F6F7F8;
}

/* line 237, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.course_content {
  width: 695px;
  border: 1px solid #cecfc0;
  float: right;
  background-color: white;
  position: relative;
}

/* line 245, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
.enroll_button {
  border: 0px solid red;
  width: auto;
  padding: 0 10px 0 10px;
  height: 50px;
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: center;
  line-height: 50px;
  color: white;
  -moz-box-shadow: 0px 0px 2px #777777;
  -webkit-box-shadow: 0px 0px 2px #777777;
  box-shadow: 0px 0px 2px #777777;
  text-shadow: 2px 2px 2px #464646;
}

/* line 262, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
a .enroll_button {
  background: #00aeef;
  /* Old browsers */
  background: -moz-linear-gradient(top, #00aeef 0%, #009cd7 50%, #00aeef 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00aeef), color-stop(50%, #009cd7), color-stop(100%, #00aeef));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00aeef 0%, #009cd7 50%, #00aeef 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00aeef 0%, #009cd7 50%, #00aeef 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #00aeef 0%, #009cd7 50%, #00aeef 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #00aeef 0%, #009cd7 50%, #00aeef 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00aeef', endColorstr='#00aeef',GradientType=0 );
  /* IE6-9 */
}

/* line 273, /home/vitalijus/rails/school/app/assets/stylesheets/courses.css.scss */
a:hover .enroll_button {
  background: #009cd7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #009cd7 0%, #00aeef 50%, #009cd7 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #009cd7), color-stop(50%, #00aeef), color-stop(100%, #009cd7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #009cd7 0%, #00aeef 50%, #009cd7 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #009cd7 0%, #00aeef 50%, #009cd7 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #009cd7 0%, #00aeef 50%, #009cd7 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #009cd7 0%, #00aeef 50%, #009cd7 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009cd7', endColorstr='#009cd7',GradientType=0 );
  /* IE6-9 */
}

/*---------------------------------*/
