<div id="bg_image_wrapper">
  <% if !user_signed_in? %>
    <div class="content">
        <div class="content_title">
            Aircraft market 
            <div class="content_title_small">
                the land of the free 
            </div>
        </div>
    </div>

    <span id="bg_image" role="img" aria-label="Bicycle.">
      <span id="bg_image_inner">
      </span>
    </span>
  <% end %>
</div>