<%= link_to "Basic", resubscription_path(plan: @basic_plan) %>
<%= link_to "Premium", resubscription_path(plan: @premium_plan) %>

<% if !@user.trial_end.nil? %>
      <div class="subscription_trial_end">
        Setup billing before: <b class="trial_end_highlight"><%= @user.trial_end.strftime("%d-%m-%Y") %></b>
      </div>
    <% end %>