<div id="banner_wrapper">
  <div class="banner">
    <div class="banner_box">
      
    </div>

    <div class="banner_box">
      
    </div>

    <div class="banner_box">
      
    </div>

    <div class="banner_box_last">
      
    </div>

  </div>

</div>



<div id="masonry_container">
    
      <div class="stamp">
        STAMP
      </div>

      <% @courses.each do |course| %>
        <div class="box">
          <div class="box_image_wrapper">
            <%= link_to course do %>
              <div class="course_title">
                <%= course.title %>
              </div>
            <% end %>

            <tr>
              <td><%= link_to 'Edit', edit_course_path(course) %></td>
              <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            
          </div>
        </div>
      <% end %>
    </div>