<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Teacher name:</strong>
  <%= @course.teacher_name %>
</p>

<%= link_to 'Continue', new_course_order_path(@course) %>



<br/><br/><br/>

