<div id="tab3" class="new_form_wrapper">
<div class="new_form_border_helper">
  <div class="new_form_wrapper_header">
    Additional info
  </div>

    <ul>
        <li class="form_label">
          Avionics<br/>
          <span class="form_label_small">Spaces and special characters are fine.</span>
        </li>

        <li class="new_form_make_model">
          <%= f.text_area :engine_notes, :class => "new_form_engine_notes"%>
        </li>
    </ul>

    <ul>
        <li class="form_label">
          Interior<br/>
          <span class="form_label_small">Spaces and special characters are fine.</span>
        </li>

        <li class="new_form_make_model">
          <%= f.text_area :engine_notes, :class => "new_form_engine_notes"%>
        </li>
    </ul>

    <ul>
        <li class="form_label">
          Exterior<br/>
          <span class="form_label_small">Spaces and special characters are fine.</span>
        </li>

        <li class="new_form_make_model">
          <%= f.text_area :engine_notes, :class => "new_form_engine_notes"%>
        </li>
    </ul>

    <ul>
        <li class="form_label">
          Additional information<br/>
          <span class="form_label_small">Spaces and special characters are fine.</span>
        </li>

        <li class="new_form_make_model">
          <%= f.text_area :engine_notes, :class => "new_form_engine_notes"%>
        </li>
    </ul>
  </div>
</div>