<div id="tab3" class="new_form_wrapper">
    <ul class="form">
      <li class="form_label">
        Avionics
      </li>

      <li class="form_field one_column">
        <%= f.text_area :avionics, :class => "new_field_text"%>
      </li>
    </ul>

    <ul class="form">
      <li class="form_label">
        Interior
      </li>

      <li class="form_field one_column">
        <%= f.text_area :interior, :class => "new_field_text"%>
      </li>
    </ul>

    <ul class="form">
      <li class="form_label">
        Exterior
      </li>

      <li class="form_field one_column">
        <%= f.text_area :exterior, :class => "new_field_text"%>
      </li>
    </ul>

    <ul class="form">
      <li class="form_label">
        Additional information
      </li>

      <li class="form_field one_column">
        <%= f.text_area :add_info, :class => "new_field_text"%>
      </li>
    </ul>
</div>