// Place all the styles related to the adverts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* SUBSCRIPTION PLAN */

.plan_banner {
	width: 100%;
	height: 300px;
	margin: auto;
	padding-top: 50px;
	text-align: center;
	background: url('bg.jpg');
	font-size: 40px;
	color: #fff;
	font-family: 'PT Sans', sans-serif;
	border-bottom: 1px solid #DFE0E4;
}

.plan_small_banner_text {
	font-size: 25px;
}

.plan_wrapper {
	width: 850px;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 20px;
	border: 0px solid #DFE0E4;
}

.plan_basic {
	width: 370px;
	margin-right: 20px;
	display: inline-block;
	border: 1px solid #e8e9ec;
}

.plan_premium {
	width: 370px;
	float: right;
	display: inline-block;
	border: 1px solid #e8e9ec;
}

.plan_basic_header,
.plan_premium_header {
	position: relative;
	background-color: #5BB69A;
	border: 0px solid red;
}

.plan_premium_header {
	background-color: #D55C4B;
}

.plan_basic_header h3,
.plan_premium_header h3 {
	position: absolute;
	top: -25px;
	right: 85px;
	text-align: center;
	width: 200px;
	height: 50px;
	line-height: 48px;
	color: #fff;
	font-family: "Open Sans", helvetica, arial;
	font-size: 16px;
	text-transform: uppercase;
	background-color: #4D9B83;
}

.plan_premium_header h3 {
	background-color: #B14739;
}

/*.plan_free_month {
	position: absolute;
	top: -25px;
	right: 100px;
	text-align: center;
	width: 200px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-family: 'PT Sans', sans-serif;
	background-color: #F16164;
	border: 1px solid #DFE0E4;
}*/

.plan_for_whom {
	font-size: 17px;
	font-family: "Open Sans", helvetica, arial;
	font-weight: bold;
	text-align: center;
	padding: 40px 0 20px 0;
	color: #fff;
	border: 0px solid red;
}

.plan_price {
	padding-left: 40px;
	text-align: center;
	color: #fff;
	font-family: 'PT Sans', sans-serif;
	position: relative;
	background-color: #4D9B83;
}

.plan_price.premium {
	background-color: #B14739;
}

.plan_currency {
	font-size: 28px;
	vertical-align: 17px;
	border: 0px solid red;
}

.plan_amount {
	font-size: 55px;
}

.plan_month {
	font-size: 18px;
}

.plan_old_price {
	position: absolute;
	top: 14px;
	right: 63px;
	font-size: 18px;
	text-decoration: line-through;
}

.plan_advantages ul {
	padding: 15px 20px 25px 20px;
	text-align: center;
}

.plan_advantages li {
	text-align: center;
	display: inline-block;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	color: #fff;
	border: 0px solid red;
}

a .plan_subscribe_link {
	height: 50px;
	background-color: #5BB69A;
	line-height: 50px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	font-family: 'PT Sans', sans-serif;
	border: 0px solid red;

	-webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;
}

a .plan_subscribe_link.premium {
	background-color: #D55C4B;
}

a:hover .plan_subscribe_link {
	background-color: #4D9B83;
}

a:hover .plan_subscribe_link.premium {
	background-color: #B14739;
}

.plan_benefits ul {
	padding-top: 10px;
	background-color: #fff;
	font-family: "Open Sans", helvetica, arial;
}

.plan_benefits li {
	text-align: center;
	font-size: 13px;
	color: #666;
	font-weight: bold;
	text-transform: uppercase;
	padding: 20px 0 20px 0;
	border-bottom: 1px solid #e8e9ec;
}

.plan_benefits li:last-child { 
	border-bottom:0px; 
}

/*-----------------*/

/* triangle */

.tri-down {
    /* Styling block element, not required */
    position: relative;
    margin-bottom: 0em;
    border-bottom: 0px solid #e8e9ec;
    background: #5BB69A;
  }

.tri-down.premium {
	background: #D55C4B;
}

  /* Required for Down Triangle */
  .tri-down:before, .tri-down:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;
  }

  /* Stroke */
  .tri-down:before {
    bottom: -16px;
    left: 170px;

    /* If 1px darken stroke slightly */
    border-top-color: #e8e9ec;
    border-width: 16px;
  }

  /* Fill */
  .tri-down:after {
    bottom: -15px;
    left: 171px;
    border-top-color: #5BB69A;
    border-width: 15px;
  }

  .tri-down.premium:after {
	border-top-color: #D55C4B;
}

/*---------------------*/

/* social proof */

.plan_social_proof {
	width: 960px;
	margin: 0 auto;
	margin-bottom: 80px;
	background-color: #fff;
	height: 200px;
	border: 1px solid #DFE0E4;
}

/*---------------------*/

/* ADVERT SEARCH */

#advert_search_container {
	width: 220px;
	height: 100%;
	position: fixed;
	top: 59px;
	left: 0;
	background-color: #2D3A40;
	border-right: 1px solid #DFE0E4;
}

#advert_search_header {
	height: 60px;
	background-color: #38484f;
	color: #fff;
	border-top: 0px solid #DFE0E4;
}

/*---------------*/

/* MASONRY */

#advert_container {
	max-width: 1500px;
	padding: 0 20px 0 20px;
	margin-left: 220px;
	overflow: hidden;
	border: 0px solid red;
}

#masonry-container {
  padding: 35px 10px 10px 10px;
  clear: both;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #DFE0E4;
}

.centered { margin: 0 auto; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.preview_header {
	padding: 13px 10px 5px 10px;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: bold;
	background-color: #fff;
	position: absolute;
	top: 0;
	border: 0px solid red;
}

/* ------------------------------*/

/* MASONRY BOX */

.box {
	background-color: #fff;
	margin: 10px 5px 10px 5px;
	width: 195px;
	position: relative;
	display: none;
	border: 1px solid red;
}

.box_image {
	position: relative;
	height: 110px;
}

.box_price {
	position: absolute;
	top: 20px;
	right: 0;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	background-color:rgba(255,0,0,0.5);
	padding: 5px;
}

.box_make {
	padding: 10px 0px 0px 0px;
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	color: #336f8c;
	text-transform: uppercase;
	border: 0px solid red;

	-webkit-transition: color 150ms linear;
  	-moz-transition: color 150ms linear;
  	-o-transition: color 150ms linear;
  	-ms-transition: color 150ms linear;
  	transition: color 150ms linear;
}

.box_model {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	text-transform: capitalize;
	border: 0px solid red;

	-webkit-transition: color 150ms linear;
  	-moz-transition: color 150ms linear;
  	-o-transition: color 150ms linear;
  	-ms-transition: color 150ms linear;
  	transition: color 150ms linear;
}

a:hover .box_make, a:hover .box_model {
	color: #224a5d;
}

.box_attr {
	font-family: 'PT Sans', sans-serif;
	font-size: 11px;
	color: #777777;
	padding: 0px 10px 0 0px;
	border: 0px solid red;
}

.box_footer {
	height: 35px;
	line-height: 32px;
	margin: 0;
	font-family: "Open Sans", helvetica, arial;
	font-size: 11px;
	color: #777777;
	border-bottom: 1px solid #ececec;
}

.box_icons {
	position: absolute;
	top: 420px;
	right: 15px;
}

.box_icons li {
	display: inline-block;
	border: 0px solid red;
}

/*----------------------------*/

/* NEW FORM ADVERT NAV*/

.new_advert_header_wrapper {
	width: 100%;
	height: 300px;
	margin-bottom: 20px;
	background: url('bg.jpg');
	border-bottom: 1px solid #DFE0E4;
}

.new_advert_header {
	font-weight: bold;
	color: #fff;
	font-size: 35px;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	padding-top: 40px;
}

.new_advert_header_small {
	font-size: 25px;
	padding-top: 10px;
	font-weight: normal;
	font-family: 'Lato', sans-serif;
	border: 0px solid red;
}

.new_advert_form_wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	border: 0px solid red;
}

.new_advert_nav {
	width: 100%;
	border: 0px solid green;
}

.new_advert_nav ul {
	width: 960px;
	margin: auto;
	margin-top: 20px;
	background-color: #F6F7F8;
	border-top: 1px solid #DFE0E4;
	border-left: 1px solid #DFE0E4;
	border-right: 1px solid #DFE0E4;
	position: relative;
}

.new_advert_nav li {
	width: 33%;
	height: 60px;
	line-height: 60px;
	display: inline-block;
	padding: 0 20px 0 20px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	font-family: "Open Sans", helvetica, arial;
	text-transform: uppercase;
	border-right: 0px solid #DFE0E4;
}

.new_advert_nav li a {
	color: #000;
}

.new_advert_nav li a:hover {
	color: #F04F54;
}

li.active a, li.active a:hover {
    color: #F04F54;
}

/*-------------------*/

/* advert new form */

.new_form_wrapper {
	width: 960px;
	margin: 0 auto;
	margin-bottom: 20px;
	border: 0px solid red;
}

.new_form_wrapper ul {
	padding: 20px 0 20px 0 ;
	border-bottom: 1px solid #F2F2F4;
}

.new_form_wrapper li {
	display: inline-block;
}

.new_form_wrapper {
    display:none;
}
 
.new_form_wrapper.active {
    display:block;
}

/* helpers */
.new_form_separator_helper {
	height: 20px;
}

.new_form_border_helper {
	background-color: #fff;
	padding: 0 20px 20px 20px;
	border: 1px solid #DFE0E4;
}
/*--------*/

.new_form_wrapper_header {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	padding: 20px 0 15px 0;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #fff;
	border-bottom: 1px solid #f2f2f4;
}

.form_label {
	width: 30%;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	float: left;
	padding-right: 20px;
	vertical-align: middle;
	border: 0px solid green;
}

.new_form_wrapper .form_label_small {
	font-family: "Open Sans", helvetica, arial;
	font-size: 12px;
	font-weight: normal;
	border: 0px solid red;
}

.required_fields {
	color: #F37A7C;
	font-size: 16px;
}

.new_form_make_model,
.new_form_aircraft_details,
.new_form_type_usage,
.new_form_aircraft_location,
.new_form_propeller,
.new_form_contact_person {
	width: 70%;
	border: 0px solid red;
}

.new_form_manufacturer,
.new_form_model,
.new_form_nearest_airport,
.new_form_airport_code,
.new_form_serial_number,
.new_form_registration_number,
.new_form_aircraft_hours,
.new_form_landings,
.new_form_passengers,
.new_form_city,
.new_form_engines_number,
.new_form_engines_make,
.new_form_engines_model,
.new_form_engine_hours,
.new_form_tbo,
.new_form_engine_power,
.new_form_number_of_propellers,
.new_form_propeller_hours,
.new_form_propeller_make,
.new_form_propeller_model,
.new_form_engine_notes,
.new_form_name,
.new_form_surname,
.new_form_email,
.new_form_phone,
.new_form_price {
	display: inline-block;
	padding: 8px;
	margin-right: -4px;
	font-family: "Open Sans", helvetica, arial;
	font-size: 12px;
	border: 1px solid #DFE0E4;
}

.new_form_engine_notes {
	width: 644px;
	height: 125px;
}

.new_form_manufacturer,
.new_form_model,
.new_form_nearest_airport,
.new_form_airport_code,
.new_form_serial_number,
.new_form_registration_number,
.new_form_city,
.new_form_engines_number,
.new_form_engines_make,
.new_form_engines_model,
.new_form_number_of_propellers,
.new_form_propeller_hours,
.new_form_propeller_make,
.new_form_propeller_model,
.new_form_name,
.new_form_surname,
.new_form_email,
.new_form_phone,
.new_form_price  {
	width: 49.4%;
}

.new_form_aircraft_hours,
.new_form_landings,
.new_form_passengers {
	width: 24%;
}

.new_form_engine_hours,
.new_form_tbo,
.new_form_engine_power {
	width: 32.4%;
}

.new_form_manufacturer,
.new_form_nearest_airport,
.new_form_serial_number,
.new_form_aircraft_hours,
.new_form_landings,
.new_form_engines_number,
.new_form_engines_make,
.new_form_engine_hours,
.new_form_tbo,
.new_form_number_of_propellers,
.new_form_propeller_make,
.new_form_name,
.new_form_email {
	margin-right: 6px;
}

.new_form_serial_number,
.new_form_registration_number,
.new_form_city,
.new_form_engines_number,
.new_form_engines_make,
.new_form_number_of_propellers,
.new_form_name,
.new_form_surname {
	margin-bottom: 10px;
}

/*------------------------*/

/* fields length */

.new_form_wrapper .advert_aircraft_hours_field {
	width: 115px;
	border: 0px solid red;
}

.new_form_wrapper .advert_landings_field {
	width: 115px;
	border: 0px solid red;
}

.new_form_wrapper .advert_number_of_passengers_field {
	width: 115px;
	border: 0px solid red;
}

.new_form_wrapper .advert_email_field {
	width: 300px;
	border: 0px solid red;
}

.new_form_wrapper .advert_phone_field {
	width: 170px;
	border: 0px solid red;
}

.avionics_text_field {
	width: 484px;
	padding: 10px;
	height: 100px;
	color: #000000;
	font-size: 15px;
	font-family: 'PT Sans Narrow', sans-serif;
	border: 1px solid #cecfc0;
}

/*------------------------*/

/* new advert checkboxes */

.new_advert_checkboxes ul {
	width: 360px;
	font-size: 14px;
	font-family: 'PT Sans Narrow', sans-serif;
	overflow: hidden;
	border: 0px solid green;
}

.new_advert_checkboxes li {
	margin-top: 10px;
	float: left;
	border: 0px solid red;
}

.new_advert_checkboxes .new_advert_checkboxes_label {
	width: 210px;
	text-align: right;
	margin-right: 15px;
	border: 0px solid red;
}

.new_advert_checkboxes .eu_vat_paid {
	border: 0px solid green;
	float: right;
	padding-left: 30px;
}

.new_advert_checkbox {
  width: 20px;
  border: 0px solid red;
  position: relative;
}

.new_advert_checkbox label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background: #eee;
  border: 1px solid #ddd;
}


/**
 * Display the tick inside the checkbox
 */
.new_advert_checkbox label:after {
  opacity: 0.2;
  content: '';
  position: absolute;
  width: 7px;
  height: 3px;
  background: transparent;
  top: 5px;
  left: 5px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/**
 * Create the hover event of the tick
 */
.new_advert_checkbox label:hover::after {
  opacity: 0.5;
}

/**
 * Create the checkbox state for the tick
 */
.new_advert_checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/*-------------------------*/

/* New course select dropdown list style */

:root .new_form_dropdown_list option,
:root .new_form_dropdown_list:after,
:root .new_form_dropdown_list::after,
:root .new_form_dropdown_list select
{
    color: #777;
}
 
:root .new_form_dropdown_list select,
:root .new_form_dropdown_list:after,
:root .new_form_dropdown_list::after
{
    display: block;
    background: #29ACC0;
}
 
:root .new_form_dropdown_list select,
:root .new_form_dropdown_list option
{
    padding: 7px;
}
 
:root .new_form_dropdown_list
{
    position: relative;
    display: inline-block;
    margin-right: 6px;
    border: 0;
}
 
:root .new_form_dropdown_list::after
{
    content: "\25bc";
    position: absolute;
    color: #fff;
    top: 0px;
    right: 0;
    display: block;
    width: 32px;
    font-size: 12px;
    line-height: 36px;
    text-align: center;
     
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}
 
:root .new_form_dropdown_list select
{
   width: 317px;
   height: 36px;
   color: #999;
   margin-left: 0px;
   vertical-align: middle;
   border: 1px solid #DFE0E4;
   background-color: #fff;
   font: normal 13px/13px 'PT Sans', sans-serif;
   outline: 0 none;
}

/* custom width for drop down menu in new form */
:root .new_form_built_year select {
	width: 153px;
}

:root .new_form_aircraft_usage,
:root .new_form_engine_type {
	margin-right: -4px;
}
/*----------------------*/
 
:root .new_form_dropdown_list option
{
    background: #fff;
    color: #111;
}

/*----------------------------*/

/* ADVERT SHOW */

.advert_show_wrapper {
	width: 960px;
	margin: 80px auto;
	background-color: #fff;
	border: 1px solid #DFE0E4;
}

/* image */
.advert_show_image {
	border: 0px solid red;
	height: 300px;
	position: relative;
}

.advert_show_image img {
	width: 100%;
	border: 0px solid blue;
}

.advert_show_image_detail {
	position: absolute;
	width: 230px;
	bottom: -113px;
	left: 30px;
}

.advert_show_image_detail ul {
	border: 0px solid red;
	color: #565A5C;
	font-size: 12px;
}

.advert_show_image_detail li {
	border-left: 1px solid #DFE0E4;
	border-right: 1px solid #DFE0E4;
	border-bottom: 1px solid #DFE0E4;
	height: 38px;
	line-height: 38px;
	text-align: center;
	padding: 0 20px 0 20px;
	font-family: 'Roboto', sans-serif;
	background-color: #F6F7F8;
}

.advert_show_image_detail .advert_show_image_price {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	text-align: center;
	height: 38px;
	line-height: 38px;
	color: #fff;
	background-color:rgba(255,0,0,0.6);
	border: 0px solid red;
}
/*------------------*/

/* header */

.advert_show_header {
	width: 100%;
	overflow: hidden;
	border: 0px solid red;
}

.advert_show_header_title_wrapper {
	width: 670px;
	float: right;
	border: 0px solid red;
}

/*.advert_show_header_media {
	width: 20%;
	float: right;
	border: 0px solid green;
}

.advert_show_header_media li {
	margin-top: 20px;
	height: 25px;
	display: inline-block;
	width: 28px;
	text-align: center;
	margin-right:  8px;
	border: 0px solid #ECECEC;
}*/

.advert_show_header_title {
	width: 80%;
	float: left;
	color: #565A5C;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	font-size: 25px;
	padding: 17px 0px 0 0px;
	border: 0px solid green;
}

.advert_show_header_location {
	color: #82888A;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	font-size: 12px;
	border: 0px solid green;
}

.advert_show_header_details {
	width: 670px;
	float: right;
	color: #82888A;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	font-size: 12px;
	padding: 20px 20px 20px 0px;
	display: table;
	border: 0px solid green;
}

.advert_show_header_details ul {
	border: 0px solid green;
	margin-right: -4px;
	display: table-cell;
}

.advert_show_header_details li {
	text-align: center;
}

.advert_show_header_separator {
	height: 15px;
	background-color: #F04F54;
}

/*----------------------*/

/* advert specs*/

.advert_specs_wrapper {
	width: 100%;
	padding: 0 20px 0 20px;
	border: 0px solid red;
}

.advert_specs {
    overflow: hidden;
    padding: 20px 0 15px 0;
    border-bottom: 1px solid #dbdbdb;
}

.advert_specs .advert_specs_title_column {
	width: 25%;
	font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: #666;
    font-size: 13px;
    float: left;
    border: 0px solid blue;
}

.icon-JetAircrafttype-200px:before,
.icon-JetAircrafttype-200px2:before,
.icon-JetAircrafttype-200px3:before,
.icon-JetAircrafttype-50px:before,
.icon-JetAircrafttype-50px2:before {
	font-size: 50px;
    content: "\e600";
}

.advert_specs .advert_specs_content_column1 {
	width: 37.5%;
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	background-color: #fff;
	float: left;
	border: 0px solid green;
}

.advert_specs .advert_specs_content_column2 {
	width: 37.5%;
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	background-color: #fff;
	float: left;
	border: 0px solid green;
}

.advert_text_info {
	width: 685px;
	float: right;
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	border: 0px solid red;
}

.engine {
	padding-top: 15px;
}

/*------------------------*/

/* footer */

.advert_show_footer {
	width: 100%;
	height: 70px;
	line-height: 70px;
	font-size: 14px;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	padding: 0 30px 0 30px;
	border-top: 0px solid #DFE0E4;
}
/*-------------------------*/