/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
	position: relative;
    min-height: 100%;
}

 body {
  background-color: #E9EAED;
  font-family: 'Ubuntu', sans-serif;
  color: #444444;   
  margin: 0 0 80px; /* bottom = footer height */
  /*height: 100%;*/
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  border : 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

h3 {
  margin: 0;
}

/* HEADER LOGIN */

.header_login_wrapper {
	background-color: #ffffff;
}

.header_login {
	background-color: #ffffff;
	width: 1180px;
	margin: auto;
	padding-top: 7px;
	padding-bottom: 7px;
	border-bottom: 1px solid #eaeaeb;
	font-size: 12px;
	overflow: hidden;
}

.header_login_nav {
	float: right;
	border: 0px solid red;
	width: 300px;
	text-align: right;
}

.header_login_nav a {
	color: #333333;
	-webkit-transition: color 150ms linear;
  	-moz-transition: color 150ms linear;
  	-o-transition: color 150ms linear;
  	-ms-transition: color 150ms linear;
  	transition: color 150ms linear;
}

.header_login_nav a:hover {
	color: #00AEEF;
}

.header_login_nav img {
	border: 0px solid red;
	margin-right: 5px;
}

/*--------------------------------------*/

/* HEADER */

#header-wrapper {
	background-color: #ffffff;
	height: 45px;
	/*-webkit-box-shadow: 0px 1px 2px 0px rgba(100, 100, 100, 0.75);
	-moz-box-shadow:    0px 1px 2px 0px rgba(100, 100, 100, 0.75);
	box-shadow:         0px 1px 2px 0px rgba(100, 100, 100, 0.75);*/
	border-bottom: 1px solid #cecfc0;
}

.header {
	max-width: 1180px;
	margin: 0 auto;
	height: 45px;
	border: 0px solid red;
}

.social-network-navigation {
	float: right;
	height: 80px;
	overflow: hidden;
	border: 0px solid green;
}

.social-network-navigation ul {
	border: 0px solid red;
	height: 80px;
	float: left;
	line-height: 80px;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 25px;
}

.social-network-navigation li {
	border: 0px solid red;
	float: left;
	padding: 0 10px 0 10px;
	height: 80px;
	line-height: 87px;
	position: relative;
}

.social-network-navigation a {
	color: #38A2A5;
	-webkit-transition: color 250ms linear;
  	-moz-transition: color 250ms linear;
  	-o-transition: color 250ms linear;
  	-ms-transition: color 250ms linear;
  	transition: color 250ms linear;
}

.social-network-navigation a:hover {
	color: white;
}

.icon-opacity {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0px;
	left: 0px;
	margin: auto;
	-webkit-transition: opacity 250ms linear;
  	-moz-transition: opacity 250ms linear;
  	-o-transition: opacity 250ms linear;
  	-ms-transition: opacity 250ms linear;
  	transition: opacity 250ms linear;
}

.icon-opacity:hover {
	opacity: 0;
}

.icon-opacity-p {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0px;
	left: 10px;
	margin: auto;
	-webkit-transition: opacity 250ms linear;
  	-moz-transition: opacity 250ms linear;
  	-o-transition: opacity 250ms linear;
  	-ms-transition: opacity 250ms linear;
  	transition: opacity 250ms linear;
}

.icon-opacity-p:hover {
	opacity: 0;
}

/* HEADER LOGO */

a .header-logo {
	border: 0px solid red;
	font-family: 'Alegreya Sans SC', sans-serif;
	float: left;
	width: 350px;
}

a .header-logo .webpage-title {
	border: 0px solid green;
	float: left;
	height: 45px;
	line-height: 45px;
	color: #444444;
	font-size: 30px;
}

a:hover .header-logo {
	color: #777777;
}

/*-------------------------*/

/* HEADER NAVIGATION */

.header_navigation {
	width: 60%;
	float: right;
	height: 45px;
	border: 0px solid yellow;
}

.header_navigation ul {
	border: 0px solid red;
	height: 45px;
	float: right;
	line-height: 45px;
	font-size: 12px;
}

.header_navigation li {
	border: 0px solid red;
	float: left;
	padding: 0 0px 0 20px;
}

.header_navigation a {
	color: #888888;
	-webkit-transition: color 150ms linear;
  	-moz-transition: color 150ms linear;
  	-o-transition: color 150ms linear;
  	-ms-transition: color 150ms linear;
  	transition: color 150ms linear;
}

.header_navigation a:hover {
	color: #00AEEF;
}

/*------------------*/

/* FOOTER */

.footer {
	position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
	border: 0px solid red;
}

.footer-left {
	width: 48%;
	position: absolute;
	left: 0;
	height: 35px;
	border-bottom: 1px solid #b4b4b4;
}

.footer-image {
	width: 30px;
	position: absolute;
	right: 0;
	left: 0;
	margin: 0 auto;
	padding: 20px 0 20px 0;
	border: 0px solid red;
}

.footer-right {
	width: 48%;
	position: absolute;
	right: 0;
	height: 35px;
	border-bottom: 1px solid #b4b4b4;
}