/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}

html {
    position: relative;
    min-height: 100%;
}

 body {
  background-color: #E9EAED;
  font-family: 'Ubuntu', sans-serif;
  color: #444444;  
  min-height: 100%;
  margin: 0px 0 0px 0; /* bottom = footer height */
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
    /* Removes padding behaviour on widths */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  border : 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

h1, h3  {
  margin: 0;
}

/* HEADER */

header {
  width: 100%;
  background-color: #fff;
  padding: 0 20px 0 20px;
  border-bottom: 1px solid #DFE0E4;
}

#header_wrapper,
#header_wrapper_dash {
  max-width: 1000px;
  margin: auto;
  height: 60px;
  position: relative;
}

#header_wrapper_dash {
  width: 100%;
}

/* LOGO */

/*a .webpage_title {
  width: 170px;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 3px;
  height: 60px;
  line-height: 60px;
  color: #F05053;
  font-size: 25px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 102;
  border: 1px solid black;
}*/

.website_logo {
	position: absolute;
	left: 0;
  top: 7px;
  border: 0px solid red;


}

/*.icon-propeller:before {
    font-size: 50px;
    color: #F05053;
    content: "\e605";
}

.icon-propeller-big:before {
    font-size: 50px;
    color: #F05053;
    content: "\e605";
}*/

.icon-logo:before {
    font-size: 45px;
    color: #F05053;
    content: "\e602";

    -webkit-transition: color 150ms linear;
    -moz-transition: color 150ms linear;
    -o-transition: color 150ms linear;
    -ms-transition: color 150ms linear;
    transition: color 150ms linear;
}

.website_logo:hover .icon-logo:before{
    color: #ec2125;
    content: "\e602";
}

/*-------------------------*/

/* HEADER NAVIGATION */ 

@media screen and (min-width: 768px) {
    .header_nav {
        float: right;
        height: 60px;
    }
}

.header_nav ul {   
    width: 100%;    
    height: 100%;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}  

.header_nav li {  
    height: 100%;
    display: inline-block; 
    line-height: 60px;
    padding: 0px 15px 0 15px;
}

.header_nav li:last-child {
  padding-right: 0;
}

.header_nav.dash li:last-child {
  padding-right: 30px;
}

.header_nav a {  
    color: #555; 

    -webkit-transition: color 150ms linear;
    -moz-transition: color 150ms linear;
    -o-transition: color 150ms linear;
    -ms-transition: color 150ms linear;
    transition: color 150ms linear;
}  

.header_nav a:hover {  
    color: #F05053;  
} 

.new_advert_button,
.my_aircrafts_button {
  border: 1px solid #F04F54;
  padding: 5px 8px 5px 8px;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 2px;
  color: #F04F54;
  background-color: #fff;

  -webkit-transition: background-color 150ms linear;
  -moz-transition: background-color 150ms linear;
  -o-transition: background-color 150ms linear;
  -ms-transition: background-color 150ms linear;
  transition: background-color 150ms linear;
}

a:hover .new_advert_button,
a:hover .my_aircrafts_button {
  background-color: #F04F54;
  color: #fff;
}

/*--------------------*/

/*----- Toggle Button -----*/
.toggle-nav {
    display:none;
}


/* Media Queries */

@media screen and (max-width: 768px) {
    .header_nav {
        position:relative;
        float: right;
        z-index: 99999;
        display:inline-block;
    }
 
    .header_nav ul.active {
        display:none;
    }
 
    .header_nav ul {
        width: 250px;
        position: absolute;
        top: 120%;
        right: -10px;
    }
 
    .header_nav ul:after {
        width:0px;
        height:0px;
        position:absolute;
        top: 1px;
        right: 12px;
        content:'';
        transform:translate(0%, -100%);
        border-left:10px solid transparent;
        border-right:10px solid transparent;
        border-bottom:10px solid #fff;
    }
 
    .header_nav li {
        float:none;
        display:block;
        text-align: center;
        background-color: #fff;
        border-bottom: 1px solid #DFE0E4;
        border-right: 1px solid #DFE0E4;
        border-left: 1px solid #DFE0E4;
    }

    .header_nav li:first-child {
      border-top: 1px solid #DFE0E4;
    }
 
    .header_nav a {
        display:block;
    }
 
    .toggle-nav {
        height: 60px;
        line-height: 60px;
        font-size: 28px;
        transition:color linear 0.15s;
    }
}

/*-----------------*/


/*.header_navigation .search_image {
  padding: 0px 0px 0 10px;
}*/


/*.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table; 
}  

.clearfix:after {  
    clear: both;  
}  

.clearfix {  
    *zoom: 1;  
} */

/*.header_navigation a#pull {  
    display: none;  
}*/

/*@media only screen and (max-width : 770px) {  

	nav {
		border-bottom: 1px solid #dbdbdb;
		position: relative;
	}

	nav .header_icon {
		width: 60px;
		height: 60px;
		display: inline;  
	  float: right;
		border-left: 1px solid #dbdbdb;
	}

    nav ul {  
        display: none;  
        height: auto; 
        width: 238px;
        border-top: 1px solid #dbdbdb;
        border-left: 1px solid #dbdbdb; 
        position: absolute;
        top: 60px;
        right: 0;
    }  

    nav li {
    	width: 250px;
    	background-color: #ffffff;
    	margin-bottom: -5px;
    	border-bottom: 1px solid #dbdbdb;
    }

    nav a#pull {  
        display: inline;  
        float: right; 
        width: 60px;  
        height: 60px;
        border-left: 1px solid #dbdbdb;
        padding-top: 7px;
        padding-right: 4px;
    }  
  
} */

/*------------------*/

/* FOOTER */

.footer {
	position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: #384452;
	border: 0px solid red;
}

.footer_content {
	max-width: 1000px;
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
	color: #ffffff;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
  border: 0px solid green;
}

/*-------------------------*/

/* VALIDATION ERROR MESSAGE */

#error_explanation li,
#flash_error,
#flash_notice,
#flash_alert {
  background-color: #FCE6E3;
  color: #BA2513;
  margin: 10px 0 10px 0;
  font-size: 15px;
  padding: 10px;
  border: 1px solid #F2C5C2;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

#notice {
  width: 200px;
  position: absolute;
  top: 60px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  border: 0px solid red;
}

/*--------------------*/

#header_wrapper2 {
  border: 1px solid red;
  height: 100px;
}

/* STICKY NAVIGATION */

/*.sticky_nav {
  width: 100%;
  height: 45px;
  background-color: #3C948B;
  overflow: hidden;
  border-top: 0px solid #E2E2E2;
  border-bottom: 1px solid #c9c9c9;
}

#sticky_nav_header ul {
  height: 100%;
  margin: 0 auto;
  border-right: 1px solid #bfbfbf;
  border-left: 1px solid #f2f2f2;
  overflow: hidden;
  display: table;
}

#sticky_nav_header li {
  height: 100%;
  line-height: 45px;
  padding: 0 20px 0 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  display: table-cell;
  float: left;
  border-right: 1px solid #f2f2f2;
  border-left: 1px solid #bfbfbf;
}

#sticky_nav_header a li {
  color: #555555;
  -webkit-transition: background-color 250ms linear;
    -moz-transition: background-color 250ms linear;
    -o-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
}
 
#sticky_nav_header a:hover li {
  background-color: #D5D5D5;
}

.fixedTop{
  position: fixed;
  width: 100%;
  z-index: 100000;
  top: 0;
}*/

/*------------------------*/

