/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}

html {
	position: relative;
    min-height: 100%;
    top: 60px;
}

 body {
  background-color: #E9EAED;
  font-family: 'Ubuntu', sans-serif;
  color: #444444;   
  margin: 0px 0px 40px; /* bottom = footer height */
  /*height: 100%;*/
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  border : 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

h3 {
  margin: 0;
}

/* HEADER */

#header_wrapper {
	background-color: #ffffff;
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 60px;
}

/*-------------------------*/

/* HEADER LOGO */

.webpage_logo {
	border: 0px solid red;
	float: left;
	width: 60px;
	height: 60px;
	background-color: #316A7E;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

a .webpage_logo img {
	border: 0px solid black;
	float: left;
	margin-top: 12px;
	margin-right: 10px;
	margin-left: 10px;
}

a .webpage_title {
	border: 0px solid black;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-family: "Open Sans", helvetica, arial;
	font-family: 'Roboto', sans-serif;
	font-family: 'Abril Fatface', cursive;
	font-family: 'PT Sans Narrow', sans-serif;
	float: left;
	height: 60px;
	line-height: 60px;
	margin-left: 20px;
	color: #ffffff;
	/*text-shadow: 0px 1px 1px rgba(58, 58, 58, 1);*/
	font-size: 25px;

}

/*-------------------------*/


/* HEADER NAVIGATION */

nav {  
    height: 60px;  
    width: 100%;    
    font-size: 12pt;
    font-family: 'PT Sans Narrow', sans-serif;
    position: relative;  
    border-bottom: 1px solid #dbdbdb;  
}  

nav ul {   
    float: right;    
    height: 60px; 
    border: 0px solid red; 
}  

nav li {  
    display: inline;  
    float: right;  
    margin: 0;
    padding: 0 15px 0 15px;
}

nav .header_icon {
	width: 60px;
	height: 60px;
	display: inline;  
    float: right;
	border-left: 1px solid #dbdbdb;
}

.header_icon img {
	border: 0px solid red;
	vertical-align: middle;
}

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table; 
}  

.clearfix:after {  
    clear: both;  
}  

.clearfix {  
    *zoom: 1;  
} 

nav a {  
    color: #777777;  
    display: inline-block; 
    margin-right: -4px;   
    text-align: center;   
    line-height: 60px; 
    -webkit-transition: color 150ms linear;
  	-moz-transition: color 150ms linear;
  	-o-transition: color 150ms linear;
  	-ms-transition: color 150ms linear;
  	transition: color 150ms linear;
}  

nav a:hover {  
    color: #208797;  

} 

nav a#pull {  
    display: none;  
}

@media only screen and (max-width : 770px) {  

	nav {
		border-bottom: 1px solid #dbdbdb;
		position: relative;
	}

	nav .header_icon {
		width: 60px;
		height: 60px;
		display: inline;  
	    float: right;
		border-left: 1px solid #dbdbdb;
	}

    nav ul {  
        display: none;  
        height: auto; 
        width: 238px;
        border-top: 1px solid #dbdbdb;
        border-left: 1px solid #dbdbdb; 
        position: absolute;
        top: 60px;
        right: 0;
    }  

    nav li {
    	width: 250px;
    	background-color: #ffffff;
    	margin-bottom: -5px;
    	border-bottom: 1px solid #dbdbdb;
    }

    nav a#pull {  
        display: inline;  
        float: right; 
        width: 60px;  
        height: 60px;
        border-left: 1px solid #dbdbdb;
        padding-top: 7px;
        padding-right: 4px;
    }  
  
} 

/*------------------*/

/* FOOTER */

.footer {
	position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: #384452;
	border: 0px solid red;
}

.footer_content {
	width: 1000px;
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
	color: #ffffff;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
}