// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* COURSE NOTICE */

.alert {
	max-width: 100%;
	margin: 0 auto;
	margin-left: 20px;
	margin-right: 20px;
	height: 50px;
	line-height: 48px;
	padding-left: 20px;
	margin-top: 20px;
	background-color: #A2E89D;
	color: #4F9351;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}

.alert img {
	border: 0px solid red;
	padding-top: 12px;
	margin-right: 10px;
}

.error {
	max-width: 100%;
	margin: auto;
	height: 50px;
	line-height: 48px;
	padding-left: 20px;
	margin-top: 20px;
	background-color: #e09999;
	color: #CE6E52;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}

.error img {
	border: 0px solid red;
	padding-top: 12px;
	margin-right: 10px;
}

#error_explanation li {
	border: 1px solid #F2C5C2;
	padding: 10px;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	color: #BA2E4B;
	margin-bottom: 10px;
	background-color: #FCE6E3;
}

/*------------------------*/

/* BANNER IMAGE SLIDER */

.display_wrapper {
	max-width: 100%;
	background: url("../assets/bg.jpg") repeat; /*325f70 85% opacity*/
	background: cover;
	background-color: #316A7E;
	margin: auto;
	height: 500px;
	background-color: #ffffff;
	border: 0px solid red;
}

.display_phrase {
	width: 100%;
	text-align: center;
	color: #ffffff;
	font-family: "Open Sans", helvetica, arial;
	letter-spacing: 5px;
	font-size: 45px;
	padding-top: 40px;
	padding-bottom: 10px;
	border: 0px solid blue;
}

.display_phrase p {
	font-size: 25px;
	text-align: center;
	letter-spacing: 0;
	margin-top: 10px;
	border: 0px solid red;
}

#display_view_courses_wrapper {
	width: 200px;
	margin: 0 auto;
	overflow: hidden;
	border: 0px solid red;
}

#display_view_courses { 
	width: 200px;
	height: 50px;
	margin: 0 auto;
	line-height: 48px;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
	border: 1px solid #ffffff;
	font-family: 'Lato', sans-serif;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;
}

#display_view_courses:hover {
	background-color: #2c5f79;
}


#display_login_wrapper {
	border: 0px solid red;
	width: 450px;
	overflow: hidden;
	margin: auto;
	margin-top: 50px;
}

#display_login_button_tutor {
	width: 200px;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	float: left;
	text-align: center;
	background-color: #26ae5a;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-family: 'Lato', sans-serif;
    border: 0px solid red;
}

a #display_login_button_tutor {
	color: #ffffff;
	-webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;
}

a:hover #display_login_button_tutor {
	background-color: #229c51;
}

#display_login_button_student {
	width: 200px;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	float: right;
	text-align: center;
	background-color: #26ae5a;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-family: 'Lato', sans-serif;
    border: 0px solid red;
}

a #display_login_button_student {
	color: #ffffff;
	-webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;
}

a:hover #display_login_button_student {
	background-color: #229c51;
}

@media only screen and (max-width : 770px) {  

	 .display_phrase {
	 	font-size: 35px;
	 	padding: 30px 20px 0px 20px;
	 }

	 .display_phrase p {
	 	font-size: 20px;
	 }

	 #display_view_courses_wrapper {
	 	width: 150;
	 	height: 40px;
	 }

	 #display_view_courses {
	 	width: 150px;
	 	height: 40px;
	 	line-height: 40px;
	 	font-size: 12px;
	 }

	 #display_login_wrapper {
	 	width: 150px;
	 	margin-top: 20px;
	 }

	 #display_login_button_tutor {
	 	width: 150px;
	 	height: 40px;
	 	font-size: 12px;
	 	margin-top: 20px;
	 	line-height: 40px;
	 }

	 #display_login_button_student {
	 	width: 150px;
	 	height: 40px;
	 	font-size: 12px;
	 	line-height: 40px;
	 }
  
} 

@media only screen and (max-width : 480px) {  

	.display_phrase {
		padding-top: 20px;
	 	font-size: 25px;
	 }

	 .display_phrase p {
	 	font-size: 18px;
	 }

}

/*-------------------------------------------*/

/* BANNER */

.banner_wrapper {
	border-bottom: 0px solid #316A87;
	background-color: #ffffff;
	margin: auto;
	width: 100%;
	position: relative;
}

.banner_box_wrapper {
	margin: auto;
	width: 100%;
	overflow: hidden;
	border: 0px solid red;
}

.banner_content_wrapper {
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 50px;
	margin-bottom: 30px;
	border: 0px solid blue;
}

.banner_box ul {
  	float: left;
  	text-align: center;
  	margin: 0 5px 0 5px;
	border: 0px solid black;
}

.banner_box li {
	max-width: 190px;
	padding: 5px 8px 5px 8px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #444444;
	border: 0px solid green;
}

.banner_box .banner_box_helper {
	font-family: "Open Sans", helvetica, arial;
	padding-bottom: 20px;
	padding-top: 2px;
	font-size: 13px;
	color: #333333;
	border-bottom: 0px solid #dbdbdb;
}

.banner_box .banner_box_helper_reverse {
	font-family: "Open Sans", helvetica, arial;
	padding-bottom: 20px;
	padding-top: 2px;
	font-size: 13px;
	color: #333333;
	border-bottom: 0px solid #dbdbdb;
}

/*.banner_box_video_title {
	width: 1110px;
	padding-top: 40px;
	padding-bottom: 0px;
	font-family: "Open Sans", helvetica, arial;
	font-size: 50px;
	margin: 0 auto;
	text-align: center;
	border: 0px solid red;
}

.banner_box_video_title_small {
	width: 1110px;
	padding-top: 0px;
	padding-bottom: 20px;
	font-family: "Open Sans", helvetica, arial;
	font-size: 25px;
	margin: 0 auto;
	color: #777777;
	text-align: center;
	border: 0px solid red;
}

.banner_video {
	width: 620px;
	height: 350px;
	margin: 0 auto;
	border: 0px solid red;
}*/

.banner_triangle {
	left:49%;
    right:51%;
    top: 0px;
    position: absolute;
}

.banner_triangle_close {
	left:49%;
    right:51%;
    bottom: -25px;
    position: absolute;
}

@media only screen and (max-width : 1210px) {  

	.banner_content_wrapper {
		max-width: 1000px;
		border: 0px solid red;
	}

	.banner_box li {
		max-width: 323px;
	}

	.banner_box .banner_box_helper {
		margin-bottom:  20px;
		border-bottom: 1px solid #dbdbdb;
	}

}

@media only screen and (max-width : 1020px) {  

	.banner_content_wrapper {
		max-width: 800px;
		border: 0px solid red;
	}

	.banner_box li {
		max-width: 250px;
	}

	.banner_box .banner_box_helper {
		margin-bottom:  20px;
		border-bottom: 1px solid #dbdbdb;
	}

}

@media only screen and (max-width : 800px) {  

	.banner_content_wrapper {
		max-width: 600px;
		border: 0px solid red;
	}

	.banner_box li {
		max-width: 290px;
		border: 0px solid red
	}

	.banner_box .banner_box_helper {
		margin-bottom:  0px;
		border-bottom: 0px solid #dbdbdb;
	}

}

@media only screen and (max-width : 620px) {  

	.banner_content_wrapper {
		max-width: 500px;
		border: 0px solid red;
	}

	.banner_box li {
		max-width: 490px;
		border: 0px solid red
	}

	.banner_box .banner_box_helper {
		margin-bottom:  0px;
		border-bottom: 0px solid #dbdbdb;
	}

}

/*--------------------------------------*/

/* Student Guide */

.student_guide_wrapper {
	width: 100%;
	background-color: #E7E6E6;
	border: 0px solid red;
}

.student_guide_title_small {
	width: 255px;
	margin: 0 auto;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 40px;
	padding: 50px 0 0px 0;
	margin-bottom: 20px;
	text-align: center;
	color: #777777;
	border-top: 0px solid #999999;
	border-bottom: 3px solid #777777;
}

.student_guide_title {
	width: 100%;
	margin: 0 auto;
	font-family: "Open Sans", helvetica, arial;
	font-size: 25px;
	color: #777777;
	margin-bottom: 200px;
	text-align: center;
	border-top: 0px solid #999999;
	border-bottom: 0px solid #999999;
}

.student_guide {
	max-width: 1000px;
	height: 289px;
	margin: 0 auto;
	padding-top: 0px;
	position: relative;
	border: 0px solid red;
}

.student_guide_laptop {
	width: 655px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	border: 0px solid red;
}

.student_guide_video_icon li {
	border: 0px solid red;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 18px;
	color: #208797;
	text-align: center;
	position: absolute;
	top: -55px;
	right: -68px;
}

.student_guide_video_icon .student_guide_video_icon_title {
	position: absolute;
	top: -85px;
	right: -95px;
}

.student_guide_wifi_icon li {
	border: 0px solid red;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 18px;
	color: #208797;
	text-align: center;
	position: absolute;
	top: -55px;
	left: -68px;
}

.student_guide_wifi_icon .student_guide_wifi_icon_title {
	position: absolute;
	top: -85px;
	left: -105px;
}

.student_guide_chat_icon li {
	border: 0px solid red;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 18px;
	color: #208797;
	text-align: center;
	position: absolute;
	bottom: 55px;
	right: -89px;
}

.student_guide_chat_icon .student_guide_chat_icon_title {
	position: absolute;
	bottom: 125px;
	right: -77px;
}

.student_guide_share_doc_icon li {
	border: 0px solid red;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 18px;
	color: #208797;
	text-align: center;
	position: absolute;
	top: -117px;
	right: 170px;
}

.student_guide_share_doc_icon .student_guide_share_doc_icon_title {
	position: absolute;
	top: -145px;
	right: 140px;
}

.student_guide_interactive_learning_icon li {
	border: 0px solid red;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 18px;
	color: #208797;
	text-align: center;
	position: absolute;
	top: -117px;
	left: 170px;
}

.student_guide_interactive_learning_icon .student_guide_interactive_learning_icon_title {
	position: absolute;
	top: -145px;
	left: 125px;
}

.student_guide_coffee_cup_icon li {
	border: 0px solid red;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 18px;
	color: #208797;
	text-align: center;
	position: absolute;
	bottom: 55px;
	left: -89px;
}

.student_guide_coffee_cup_icon .student_guide_coffee_cup_icon_title {
	position: absolute;
	bottom: 125px;
	left: -100px;
}

/*----------------------------*/

/* HOW TO START */

.how_to_wrapper {
	width: 100%;
	overflow: hidden;
	background-color: #ffffff;
}

.how_to {
	max-width: 1020px;
	margin: 0 auto;
	background-color: #ffffff;
	overflow: hidden;
	margin-top: 40px;
	margin-bottom: 80px;
	border: 0px solid red;
}

.how_to_title {
	width: 215px;
	margin: 0 auto;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 40px;
	margin-bottom: 100px;
	text-align: center;
	color: #777777;
	border-top: 0px solid #999999;
	border-bottom: 3px solid #777777;
}

.how_to_box ul {
	width: 320px;
	float: left;
	text-align: center;
	margin: 0 10px 0 10px;
	position: relative;
	border: 3px solid #4297A6;
	background-color: #ffffff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.how_to_box li {
	border: 0px solid red;
	font-family: "Open Sans", helvetica, arial;
	font-size: 15px;
	color: #777777;
	padding: 0px 20px 20px 20px;
}

.how_to_box .how_to_box_title {
	font-family: 'Roboto', sans-serif;
	padding: 80px 20px 10px 20px;
	color: #777777;
	font-size: 20px;
}

.how_to_box .how_to_icon {
	position: absolute;
	top: -60px;
	left: 100px;
	border: 3px solid #4297A6;
	padding: 25px;
	background-color: #ffffff;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border-radius: 150px;
}

@media only screen and (max-width : 1030px) {  

	.how_to {
		max-width: 870px;
		border: 0px solid red;
	}

	.how_to_box ul {
		width: 270px;
	}

	.how_to_box .how_to_icon {
		top: -60px;
		left: 75px;
	}

}

@media only screen and (max-width : 880px) {  

	.how_to {
		max-width: 720px;
		border: 0px solid red;
	}

	.how_to_box ul {
		width: 220px;
	}

	.how_to_box .how_to_icon {
		top: -60px;
		left: 50px;
	}

	.how_to_box .how_to_box_title {
		font-size: 16px;
	}

}

@media only screen and (max-width : 730px) {  

	.how_to {
		max-width: 340px;
		margin-bottom: 0;
		border: 0px solid red;
	}

	.how_to_box ul {
		width: 320px;
		margin-bottom: 70px;
	}

	.how_to_box .how_to_icon {
		top: -60px;
		left: 100px;
	}

	.how_to_box .how_to_box_title {
		font-size: 16px;
	}

}

@media only screen and (max-width : 530px) {  

	.how_to {
		max-width: 250px;
		border: 0px solid red;
	}

	.how_to_box ul {
		width: 230px;
		margin-bottom: 70px;
	}

	.how_to_box .how_to_icon {
		top: -60px;
		left: 50px;
	}

	.how_to_box .how_to_box_title {
		font-size: 16px;
	}

}

/*-----------------------*/

/* ARE YOU READY TO USE LINGONAS */

.ready_lingonas {
	width: 100%;
	background-color: #384452;
	border-bottom: 1px solid #5f6974;
}

.ready_lingonas_title {
	width: 100%;
	padding: 60px 0 40px 0;
	text-align: center;
	font-size: 40px;
	color: #ffffff;
	position: relative;
	font-family: 'PT Sans Narrow', sans-serif;
}

.ready_lingonas_button_wrapper {
	width: 600px;
	margin: 0 auto;
	padding: 0 20px 50px 20px;
	overflow: hidden;
	border: 0px solid red;
}

.ready_lingonas_sign_in {
	width: 250px;
	float: left;
	height: 50px;
	line-height: 48px;
	font-size: 18px;
	color: #ffffff;
	text-align: center;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-family: 'Lato', sans-serif;
    border: 1px solid #ffffff;
    -webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;
}

a:hover .ready_lingonas_sign_in {
	background-color: #323d49;
}


.ready_lingonas_questions {
	width: 250px;
	float: right;
	height: 50px;
	line-height: 48px;
	font-size: 18px;
	color: #ffffff;
	text-align: center;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-family: 'Lato', sans-serif;
    border: 1px solid #ffffff;
    -webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;
}

a:hover .ready_lingonas_questions {
	background-color: #323d49;
}

.ready_lingonas_triangle {
	position: absolute;
	left: 49%;
    right: 51%;
	top: -22px;
}

@media only screen and (max-width : 620px) {  

	.ready_lingonas_title {
		padding: 40px 0 20px 0;
		font-size: 30px;
	}

	.ready_lingonas_button_wrapper {
		max-width: 300px;
	}

	.ready_lingonas_sign_in {
		max-width: 250px;
		margin: 0 auto;
		float: none;
		margin-bottom: 20px;
	}

	.ready_lingonas_questions {
		max-width: 250px;
		margin: 0 auto;
		float: none;
	}

}

/*-----------------*/

/*COURSE POST REQUIREMENTS*/

#course_post_wrapper {
  max-width: 1040px;
  margin: 0 auto;
  margin-top: 20px;
  overflow: hidden;
  border: 0px solid red;
}

#course_post_requirements {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid #F2C5C2;
  padding: 20px 20px 15px 20px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #BA2E4B;
  background-color: #FCE6E3;
  overflow: hidden;
}

#course_post_requirements li {
	text-align: center;
	margin-bottom: 5px;
	border: 0px solid red;
}

/*------------------*/

/*FIND COURSE*/

#find_course_wrapper {
	margin: 0 auto;
	margin-bottom: 20px;
	margin-right: 20px;
	margin-left: 20px;
	padding: 10px 20px 10px 10px;
	background-color: #ffffff;
  	border: 1px solid #DFE0E4;
  	overflow: hidden;
}

#find_course_wrapper ul {
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
  	border: 0px solid red;
}

#find_course_wrapper li {
	border: 0px solid red;
}

#find_course_wrapper .search_button {
	width: 85px;
	height: 40px;
	margin-top: 10px;
	float: right;
	text-align: center;
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;
	background-color: #26ae5a;
	border: none;
	cursor: pointer;
  	transition:background .3s;
  	-webkit-transition:background .3s;
}

#find_course_wrapper .search_button:hover {
	background: #229c51;
}

/* Select dropdown list style */

:root .dropdown_list option,
:root .dropdown_list:after,
:root .dropdown_list::after,
:root .dropdown_list select
{
    color: #777;
}
 
:root .dropdown_list select,
:root .dropdown_list:after,
:root .dropdown_list::after
{
    display: block;
    background: #29ACC0;
}
 
:root .dropdown_list select,
:root .dropdown_list option
{
    padding: 8px;
}
 
:root .dropdown_list
{
    position: relative;
    display: inline-block;
    border: 0;
}
 
:root .dropdown_list::after
{
    content: "\25bc";
    position: absolute;
    color: #fff;
    top: 0;
    right: 0;
    display: block;
    width: 32px;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
     
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}
 
:root .dropdown_list select
{
   width: 208px;
   height: 40px;
   margin-left: 10px;
   vertical-align: middle;
   border: 1px solid #cecfc0;
   background-color: transparent;
   font: normal 13px/14px 'Lato', sans-serif;
   outline: 0 none;
}
 
:root .dropdown_list option
{
    background: #fff;
    color: #333;
}

@media only screen and (max-width : 1050px) {  

	#find_course_wrapper {
		width: 900px;
		margin: 0 auto;
		border: 0px solid red;
	}

	:root .dropdown_list select {
	   width: 183px;
	}

}

@media only screen and (max-width : 940px) {  

	#find_course_wrapper {
		width: 700px;
		margin: 0 auto;
		border: 0px solid green;
	}

	:root .dropdown_list select {
	   width: 276px;
	}

}

@media only screen and (max-width : 740px) {  

	#find_course_wrapper {
		width: 500px;
		margin: 0 auto;
		padding-bottom: 20px;
		border: 0px solid yellow;
	}

	:root .dropdown_list select {
	   width: 460px;
	}

}

@media only screen and (max-width : 540px) {  

	#find_course_wrapper {
		width: 300px;
		margin: 0 auto;
		padding-bottom: 20px;
		border: 0px solid yellow;
	}

	:root .dropdown_list select {
	   max-width: 260px;
	}

}
/*--------------------------------*/

/* COURSE POST */

#course_post_header_wrapper {
  width: 100%;
  padding: 20px 20px 20px 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaeb;
  background-color: #F6F7F8;
  overflow: hidden;
  position: relative;
}

#course_post_header_avatar {
  width: 120px;
  height: 120px;
  margin-right: 20px;
  float: left;
  font-weight: bold;
  font-size: 20px;
  border: 0px solid red;
}

#course_post_header_title {
  width: 80%;
  float: left;
  font-weight: bold;
  font-size: 20px;
  border: 0px solid red;
}

#course_post_header_small {
  width: 80%;
  float: left;
  padding-bottom: 3px;
  font-size: 12px;
  border: 0px solid red;
  font-weight: normal;
  text-transform: uppercase;
  color: #999999; 
}

#course_post_header_small a {
  color: #346fa1; 
  -webkit-transition: color 150ms linear;
  -moz-transition: color 150ms linear;
  -o-transition: color 150ms linear;
  -ms-transition: color 150ms linear;
  transition: color 150ms linear;
}

#course_post_header_small a:hover {
  color: #428BCA;
}

#course_post_header_enroll a {
	width: 100px;
	height: 40px;
	position: absolute;
	top: 19px;
	right: 20px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 40px;
	background-color: #26ae5a;
  	border: 0px solid red;
  	-webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;
}

#course_post_header_enroll a:hover {
	background-color: #229c51;
}

#course_post_header_enroll_expired {
	width: 100px;
	height: 40px;
	position: absolute;
	top: 19px;
	right: 20px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 40px;
	background-color: #A4A7AF;
  	border: 0px solid red;
}

#course_post_header_attr {
  width: 80%;
  float: left;
  padding-top: 3px;
  font-size: 12px;
  border: 0px solid red;
  color: #666666;
}

#course_post {
  width: 77.2%;
  float: left;
  padding: 0px 0px 17px 0px;
  background-color: #ffffff;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  border: 1px solid #DFE0E4;
  overflow: hidden;
}

#course_post table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 20px 0px ;
  border: 0px solid #DFE0E4;
}

#course_post th {
  padding-bottom: 5px;
  color: #278998;
  vertical-align: bottom;
  font-family: "Lato", helvetica, arial;
  font-size: 14px;
  text-align: left;
  border-bottom: 2px solid #278998;
}

#course_post td {
  padding-top: 3px;
  vertical-align: top;
  font-size: 14px;
  font-family: "Open Sans", helvetica, arial;
  border: 0px solid #DFE0E4;
}

#course_post_icons {
  width: 17%;
  float: left;
  margin-right: 20px;
  border-bottom: 1px solid #DFE0E4;
  border-left: 1px solid #DFE0E4;
  border: 0px solid red;
}

#course_post_icons ul {
  border: 0px solid red;
  overflow: hidden;
}

#course_post_icons li {
  width: 50%;
  padding-top: 22px;
  height: 82px;
  float: left;
  font-size: 13px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #F8F7F8;
  border-right: 1px solid #DFE0E4;
  border-top: 1px solid #DFE0E4;
}

#course_post_icons a li {
	color: #7C808D;
	-webkit-transition: color 150ms linear;
  	-moz-transition: color 150ms linear;
  	-o-transition: color 150ms linear;
  	-ms-transition: color 150ms linear;
  	transition: color 150ms linear;
}

#course_post_icons a:hover li {
	color: #598BFF;
}

/*----------------------------*/

/* NEW COURSE */

.new_course_wrapper {
	width: 600px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 120px;
	background-color: #ffffff;
	border: 0px solid red;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
	-moz-box-shadow:    0px 0px 0px 1px rgba(150, 150, 150, 0.25);
	box-shadow:         0px 0px 0px 1px rgba(150, 150, 150, 0.25);
    -webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;
}

.new_course_title {
	border-bottom: 1px solid #dbdbdb;
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	padding: 20px 20px 17px 20px;
	margin-bottom: 20px;
}

/* new course checkboxes */

.new_course_days_checkboxes ul {
	width: 80px;
	text-align: center;
	float: left;
	color: #000000;
	font-size: 14px;
	margin-bottom: 15px;
	font-family: "Open Sans", helvetica, arial;
	border: 0px solid green;
}

.new_course_days_checkboxes li {
	margin-bottom: 5px;
	border: 0px solid red;
}

.new_course_days_checkboxes .day_checkbox {
	border: 0px solid green;
	padding-left: 30px;
}

.new_course_days {
  width: 20px;
  border: 0px solid red;
  position: relative;
}

.new_course_days label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background: #eee;
  border:1px solid #ddd;
}

/**
 * Display the tick inside the checkbox
 */
.new_course_days label:after {
  opacity: 0.2;
  content: '';
  position: absolute;
  width: 7px;
  height: 3px;
  background: transparent;
  top: 5px;
  left: 5px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/**
 * Create the hover event of the tick
 */
.new_course_days label:hover::after {
  opacity: 0.5;
}

/**
 * Create the checkbox state for the tick
 */
.new_course_days input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/*-------------------------*/

.new_course_form {
	border: 0px solid red;
	padding: 0px 20px 20px 20px;
	font-size: 12px;
	position: relative;
}

.new_course_price input {
	border:0px solid #cecfc0;
	width: 70px;
	padding: 12px 7px 12px 7px;
    color: #000000;
	font-size: 20px;
	font-family: "Open Sans", helvetica, arial;
	position: absolute;
	top: -88px;
	right: -80px;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
	-moz-box-shadow:    0px 0px 0px 1px rgba(150, 150, 150, 0.25);
	box-shadow:         0px 0px 0px 1px rgba(150, 150, 150, 0.25);
    -webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;
}

.new_course_form select {
	font-size: inherit;
    width: 100%;
    font-size: 12px;
    color: #777777;
    margin-bottom: 15px;
    padding: 12px 7px 12px 7px;
    color: #000000;
	font-size: 14px;
	font-family: "Open Sans", helvetica, arial;
    background-color: transparent;
    opacity:1;
    -moz-appearance: none;
    border: 0 none;
    border-radius: 0px;
    border:1px solid #cecfc0;
    padding-right: 2.5em;
}

.new_course_adobe_link input {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	margin-top: 2px;
	font-size: 12px;
	padding: 12px 7px 12px 7px;
    color: #000000;
	font-size: 14px;
	font-family: "Open Sans", helvetica, arial;
	border: 1px solid #cecfc0;
}

.new_course_field_date select {
    width: auto;
    padding: 10px 7px 10px 7px;
    margin-right: 15px;
    margin-top: 5px;
    color: #000000;
	font-size: 14px;
	font-family: "Open Sans", helvetica, arial;
}

.new_course_field_pdf {
	border: 2px dashed #cecfc0;
	padding: 20px 20px 20px 20px;
	margin-bottom: 10px;
}

.new_course_field_pdf input {
	width: 100%;
	margin-bottom: 10px;
	margin-top: 0px;
	color: #555555;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	border: 0px dashed #cecfc0;
}

.new_course_field_pdf label {
	color: #000000;
	font-size: 14px;
	font-family: "Open Sans", helvetica, arial;
	text-align: center;
	padding: 0px 0 10px 100px;
	border: 0px solid #cecfc0;
}

.new_course_submit_button {
	border: none;
	text-align: center;
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	color: #ffffff;
	font-size: 17px;
	font-family: "Open Sans", helvetica, arial;
	background-color: #26ae5a;
	cursor: pointer;
	-webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;
}

.new_course_submit_button:hover {
	background-color: #229c51;
}

/* New course select dropdown list style */

:root .new_course_dropdown_list option,
:root .new_course_dropdown_list:after,
:root .new_course_dropdown_list::after,
:root .new_course_dropdown_list select
{
    color: #777;
}
 
:root .new_course_dropdown_list select,
:root .new_course_dropdown_list:after,
:root .new_course_dropdown_list::after
{
    display: block;
    background: #29ACC0;
}
 
:root .new_course_dropdown_list select,
:root .new_course_dropdown_list option
{
    padding: 8px;
}
 
:root .new_course_dropdown_list
{
    position: relative;
    display: inline-block;
    border: 0;
}
 
:root .new_course_dropdown_list::after
{
    content: "\25bc";
    position: absolute;
    color: #fff;
    top: 0;
    right: 0;
    display: block;
    width: 32px;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
     
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}
 
:root .new_course_dropdown_list select
{
   width: 560px;
   height: 40px;
   margin-left: 0px;
   vertical-align: middle;
   border: 1px solid #cecfc0;
   background-color: transparent;
   font: normal 13px/14px 'Lato', sans-serif;
   outline: 0 none;
}
 
:root .new_course_dropdown_list option
{
    background: #fff;
    color: #333;
}

/* ACCOUNT STATUS NOTIFICATION*/

.new_course_not_active {
	text-align: center;
	padding: 0 20px 20px 20px;
	color: #999999;
	font-size: 25px;
	font-family: 'Lato', sans-serif;
	border: 0px solid red;
}

/*----------------------*/

/* ------------------------------ */

/* PAGINATION */

.digg_pagination {
  border: 0px solid red;
  margin: 0 auto;
  width: 280px;
  margin-top: 30px;
  margin-bottom: 80px;
  /* self-clearing method: */ 
}

.digg_pagination a, .digg_pagination span, .digg_pagination em {
	padding: 0.2em 0.5em;
	display: block;
	float: left;
	margin-right: 1px; 
}

.digg_pagination .disabled {
	font-family: "Open Sans", helvetica, arial;
	text-align: center;
	width: 120px;
    color: #999999;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border: 1px solid #dbdbdb; 
}

.digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; 
}

.digg_pagination a {
	text-align: center;
	width: 120px;
	font-family: "Open Sans", helvetica, arial;
    text-decoration: none;
    color: #555555;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border: 1px solid #DFE0E4;
    -webkit-transition: color 150ms linear;
  	-moz-transition: color 150ms linear;
  	-o-transition: color 150ms linear;
  	-ms-transition: color 150ms linear;
  	transition: color 150ms linear;
}

.digg_pagination a:hover, .digg_pagination a:focus {
      color: #105cb6;
}

.digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; 
}

.digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; 
}

.digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; 
}

* html .digg_pagination {
    height: 1%; 
}

*:first-child + html .digg_pagination {
    overflow: hidden; }

    /*-----------------------------------------*/

