// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* COURSE NOTICE */

.alert {
	width: 1000px;
	margin: auto;
	height: 50px;
	line-height: 48px;
	padding-left: 20px;
	margin-top: 20px;
	border: 0px solid #86d2a3;
	background-color: #A2E89D;
	color: #4F9351;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}

.alert img {
	border: 0px solid red;
	padding-top: 12px;
	margin-right: 10px;
}

.error {
	width: 1110px;
	margin: auto;
	height: 50px;
	line-height: 48px;
	padding-left: 20px;
	margin-top: 20px;
	border: 0px solid #86d2a3;
	background-color: #e09999;
	color: #CE6E52;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}

.error img {
	border: 0px solid red;
	padding-top: 12px;
	margin-right: 10px;
}

#error_explanation li {
	border: 1px solid #F2C5C2;
	padding: 10px;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	color: #BA2E4B;
	margin-bottom: 10px;
	background-color: #FCE6E3;
}

/*------------------------*/

/* BANNER IMAGE SLIDER */

.display_wrapper {
	width: 100%;
	background: url("../assets/bg.jpg") repeat; /*325f70 85% opacity*/
	background: cover;
	background-color: #316A7E;
	margin: auto;
	height: 500px;
	background-color: #ffffff;
	border: 0px solid red;
}

.display_phrase {
	width: 100%;
	text-align: center;
	color: #ffffff;
	font-family: "Open Sans", helvetica, arial;
	font-size: 50px;
	padding-top: 40px;
	padding-bottom: 10px;
	border: 0px solid blue;
}

.display_phrase p {
	font-size: 25px;
	text-align: center;
	margin-top: 10px;
	border: 0px solid red;
}

#display_howitworks_wrapper {
	width: 200px;
	margin: 0 auto;
	overflow: hidden;
	border: 0px solid red;
}

#display_view_courses { 
	width: 200px;
	height: 50px;
	margin: 0 auto;
	line-height: 48px;
	font-size: 18px;
	text-align: center;
	color: #ffffff;
	border: 1px solid #ffffff;
	font-family: 'Lato', sans-serif;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;
}

#display_view_courses:hover {
	background-color: #2c5f79;
}


#display_login_wrapper {
	border: 0px solid red;
	width: 450px;
	overflow: hidden;
	margin: auto;
	margin-top: 50px;
}

#display_login_button_tutor {
	width: 200px;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	float: right;
	text-align: center;
	background-color: #26ae5a;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-family: 'Lato', sans-serif;
    border: 0px solid red;
}

a #display_login_button_tutor {
	color: #ffffff;
	-webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;
}

a:hover #display_login_button_tutor {
	background-color: #229c51;
}

#display_login_button_student {
	width: 200px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	float: left;
	text-align: center;
	background-color: #26ae5a;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-family: 'Lato', sans-serif;
    border: 0px solid red;
}

a #display_login_button_student {
	color: #ffffff;
	-webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;
}

a:hover #display_login_button_student {
	background-color: #229c51;
}

/*-------------------------------------------*/





/* BANNER */

.banner_wrapper {
	border: 0px solid red;
	background-color: #ffffff;
	margin: auto;
	width: 100%;
	position: relative;
}

.banner_box_wrapper {
	margin: auto;
	width: 1110px;
	overflow: hidden;
	border: 0px solid red;
}

.banner_content_wrapper {
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 40px;
	border: 0px solid blue;
}

.banner_box ul {
	float: left;
	width: 185px;
	padding: 0px 10px 0 10px;
	margin-bottom: 0px;
	text-align: center;
	border: 0px solid black;
}

.banner_box li {
	padding: 15px 0 0 0;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: #444444;
	border: 0px solid green;
}

.banner_box_video_title {
	width: 1110px;
	padding-top: 40px;
	padding-bottom: 0px;
	font-family: "Open Sans", helvetica, arial;
	font-size: 45px;
	margin: 0 auto;
	text-align: center;
	border: 0px solid red;
}

.banner_box_video_title_small {
	width: 1110px;
	padding-top: 0px;
	padding-bottom: 20px;
	font-family: "Open Sans", helvetica, arial;
	font-size: 25px;
	margin: 0 auto;
	color: #777777;
	text-align: center;
	border: 0px solid red;
}

.banner_video {
	width: 620px;
	height: 350px;
	margin: 0 auto;
	border: 0px solid red;
}

.banner_triangle {
	left:49%;
    right:51%;
    top: -1px;
    position: absolute;
}

/*--------------------------------------*/

/*COURSE POST*/

#course_post_wrapper {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  overflow: hidden;
}

#find_course_wrapper {
	width: 1000px;
	margin: 0 auto;
	margin-top: 20px;
	background-color: #ffffff;
	margin-bottom: 20px;
	padding: 20px;
  	border: 1px solid #DFE0E4;
}

#find_course_wrapper ul {
	width: 208px;
	float:left;
	margin-bottom: 10px;
	margin-right: 10px;
  	border: 0px solid red;
}

#find_course_wrapper li {
	border: 0px solid red;
}

#find_course_wrapper select {
    font-size: inherit;
    width: 100%;
    font-size: 12px;
    color: #777777;
    padding: 10px;
    background-color: transparent;
    opacity:1;
    -moz-appearance: none;
    border: 0 none;
    border-radius: 0px;
    border:1px solid #cecfc0;
    padding-right: 2.5em;
}

.custom-dropdown {
	width: 100%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.custom-dropdown:before, .custom-dropdown:after {
    content: "";
    pointer-events: none;
    position: absolute;
}

.custom-dropdown:after {
    content: "▼";
    font-size: 0.625em;
    height: 1em;
    line-height: 1;
    margin-top: -0.7em;
    right: 1.2em;
    top: 50%;
    color:#fff;
}
.custom-dropdown:before {
    right: 0px;
    top: 0px;
    height: 39px;
    width: 2em;
    border: 0px solid red;
    background-color: #29ACC0;
    /*background: url("dropdown.png") no-repeat;*/
}

#find_course_wrapper .search_button {
	width: 85px;
	height: 39px;
	text-align: center;
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;
	background-color: #26ae5a;
	border: none;
	cursor: pointer;
  	transition:background .3s;
  	-webkit-transition:background .3s;
}

#find_course_wrapper .search_button:hover {
	background: #229c51;
}

#course_post_header_wrapper {
  width: 100%;
  padding: 20px 20px 20px 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaeb;
  background-color: #F6F7F8;
  overflow: hidden;
  position: relative;
}

#course_post_header_avatar {
  width: 120px;
  height: 120px;
  margin-right: 20px;
  float: left;
  font-weight: bold;
  font-size: 20px;
  border: 0px solid red;
}

#course_post_header_title {
  width: 80%;
  float: left;
  font-weight: bold;
  font-size: 20px;
  border: 0px solid red;
}

#course_post_header_small {
  width: 80%;
  float: left;
  padding-bottom: 3px;
  font-size: 12px;
  border: 0px solid red;
  font-weight: normal;
  text-transform: uppercase;
  color: #999999; 
}

#course_post_header_small a {
  color: #346fa1; 
  -webkit-transition: color 150ms linear;
  -moz-transition: color 150ms linear;
  -o-transition: color 150ms linear;
  -ms-transition: color 150ms linear;
  transition: color 150ms linear;
}

#course_post_header_small a:hover {
  color: #428BCA;
}

#course_post_header_enroll a {
	width: 100px;
	height: 40px;
	position: absolute;
	top: 19px;
	right: 20px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 40px;
	background-color: #26ae5a;
  	border: 0px solid red;
  	-webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;
}

#course_post_header_enroll a:hover {
	background-color: #229c51;
}

#course_post_header_enroll_expired {
	width: 100px;
	height: 40px;
	position: absolute;
	top: 19px;
	right: 20px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 40px;
	background-color: #A4A7AF;
  	border: 0px solid red;
}

#course_post_header_attr {
  width: 80%;
  float: left;
  padding-top: 3px;
  font-size: 12px;
  border: 0px solid red;
  color: #666666;
}

#course_post {
  width: 80.9%;
  float: left;
  padding: 0px 0px 17px 0px;
  background-color: #ffffff;
  margin-right: 20px;
  border: 1px solid #DFE0E4;
  overflow: hidden;
}

#course_post table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 20px 0px ;
  border: 0px solid #DFE0E4;
}

#course_post th {
  padding-bottom: 5px;
  color: #278998;
  vertical-align: bottom;
  font-family: "Lato", helvetica, arial;
  font-size: 14px;
  text-align: left;
  border-bottom: 2px solid #278998;
}

#course_post td {
  padding-top: 3px;
  vertical-align: top;
  font-size: 14px;
  font-family: "Open Sans", helvetica, arial;
  border: 0px solid #DFE0E4;
}

#course_post_icons {
  width: 17%;
  float: left;
  border-bottom: 1px solid #DFE0E4;
  border-left: 1px solid #DFE0E4;
}

#course_post_icons ul {
  border: 0px solid red;
  overflow: hidden;
}

#course_post_icons li {
  width: 50%;
  padding-top: 22px;
  height: 82px;
  float: left;
  font-size: 13px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #F8F7F8;
  border-right: 1px solid #DFE0E4;
  border-top: 1px solid #DFE0E4;
}

#course_post_icons a li {
	color: #7C808D;
	-webkit-transition: color 150ms linear;
  	-moz-transition: color 150ms linear;
  	-o-transition: color 150ms linear;
  	-ms-transition: color 150ms linear;
  	transition: color 150ms linear;
}

#course_post_icons a:hover li {
	color: #598BFF;
}

/*----------------------------*/

/* COURSE */

/*#course_content_wrapper {
	width: 920px;
	margin: auto;
	margin-top: 20px;
	overflow: hidden;
	border: 0px solid red;
}

.course_content {
	width: 450px;
	padding: 50px;
	border: 1px solid #DFE0E4;
	float: left;
	background-color: #ffffff;
	margin-bottom: 10px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

.course_content_image {
	width: 100%;
	text-align: center;
	margin: 0 0px 0 0px;
	padding-top: 0px;
	border: 0px solid red;
}

.course_content_image img {
	border: 0px solid red;
}

.course_content_title {
	border-bottom: 0px solid #DFE0E4;
	padding: 0 0px 10px 0;
	margin-top: 20px;
	font-family: "Open Sans", helvetica, arial;
	font-size: 30px;
	color: #555555;
}

.course_content_left {
	width: 100%;
	padding: 0;
	border: 0px solid red;
	font-size: 13px;
	font-family: "Open Sans", helvetica, arial;
}

.course_content_left table {
	width: 100%;
	border: 0px solid red;
}

.course_content_footer {
	border: 0px solid red;
	width: 100%;
	overflow: hidden;
	line-height: 25px;
	padding: 20px 0 0 0;
	font-size: 13px;
	color: #777777;
	font-family: "Open Sans", helvetica, arial;
}*/

/*ENROLL BANNER*/

.course_enroll_banner {
	width: 920px;
	margin: auto ;
	height: 65px;
	background-color: #ffffff;
	margin-bottom: 20px;
	border: 1px solid #DFE0E4;
	font-size: 12px;
	color: #666666;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.course_enroll_banner_icon {
	border-right: 1px solid #DFE0E4;
	float: left;
	height: 100%;
	padding: 0 20px 0 20px;
	background-color: #51E98C;
}

.course_enroll_banner_icon img {
	border: 0px solid red;
	padding-top: 15px;
}

.course_enroll_banner_text {
	border: 0px solid red;
	width: 776px;
	text-align: center;
	height: 100%;
	padding: 20px;
	font-size: 20px;
	float: left;
	color: #444444;
	font-family: 'Lato', sans-serif;
}

/*-----------------------------*/


/* NEW COURSE */

.new_course_wrapper {
	width: 600px;
	margin: auto;
	margin-top: 20px;
	background-color: #ffffff;
	border: 0px solid red;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
	-moz-box-shadow:    0px 0px 0px 1px rgba(150, 150, 150, 0.25);
	box-shadow:         0px 0px 0px 1px rgba(150, 150, 150, 0.25);
    -webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;
}

.new_course_title {
	border: 0px solid red;
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	padding: 20px;
}

.new_course_form {
	border: 0px solid red;
	padding: 0px 20px 20px 20px;
	font-size: 12px;
}

.new_course_form select {
	font-size: inherit;
    width: 100%;
    font-size: 12px;
    color: #777777;
    margin-bottom: 15px;
    padding: 10px;
    background-color: transparent;
    opacity:1;
    -moz-appearance: none;
    border: 0 none;
    border-radius: 0px;
    border:1px solid #cecfc0;
    padding-right: 2.5em;
}

.days_wrapper {
	overflow: hidden;
	margin-bottom: 10px;
	border: 0px solid red;
}

.days_wrapper li {
	width: 80px;
	text-align: center;
	float: left;
	border: 0px solid red;
}

.new_course_field input {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	margin-top: 2px;
	font-size: 12px;
	color: #555555;
	border: 1px solid #cecfc0;
}

.new_course_description_area {
	width: 100%;
	padding: 10px;
	height: 90px;
	color: #555555;
	margin-bottom: 15px;
	margin-top: 2px;
	border: 1px solid #cecfc0;
	font-size: 12px;
}

.new_course_field_date select {
	font-size: inherit;
    width: 80%;
    font-size: 12px;
    color: #777777;
    margin-bottom: 10px;
    padding: 10px;
    background-color: transparent;
    opacity:1;
    -moz-appearance: none;
    border: 0 none;
    border-radius: 0px;
    border:1px solid #cecfc0;
    padding-right: 2.5em;
}

.new_course_field_pdf {
	border: 2px dashed #cecfc0;
	padding: 20px;
	margin-bottom: 10px;
}

.new_course_field_pdf input {
	width: 100%;
	margin-bottom: 10px;
	margin-top: 0px;
	color: #555555;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	border: 0px dashed #cecfc0;
}

.new_course_field_pdf label {
	color: #777777;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	text-align: center;
	padding: 0px 0 0 100px;
	border: 0px solid #cecfc0;
}

.new_course_submit_button {
	border: none;
	text-align: center;
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	color: #ffffff;
	font-size: 17px;
	font-family: "Open Sans", helvetica, arial;
	background-color: #26ae5a;
	cursor: pointer;
	-webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;
}

.new_course_submit_button:hover {
	background-color: #229c51;
}

/* ------------------------------ */

/* PAGINATION */

.digg_pagination {
  border: 0px solid red;
  margin: 0 auto;
  width: 280px;
  margin-top: 30px;
  margin-bottom: 80px;
  /* self-clearing method: */ 
}

.digg_pagination a, .digg_pagination span, .digg_pagination em {
	padding: 0.2em 0.5em;
	display: block;
	float: left;
	margin-right: 1px; 
}

.digg_pagination .disabled {
	font-family: "Open Sans", helvetica, arial;
	text-align: center;
	width: 120px;
    color: #999999;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border: 1px solid #dbdbdb; 
}

.digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; 
}

.digg_pagination a {
	text-align: center;
	width: 120px;
	font-family: "Open Sans", helvetica, arial;
    text-decoration: none;
    color: #555555;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border: 1px solid #DFE0E4;
    -webkit-transition: color 150ms linear;
  	-moz-transition: color 150ms linear;
  	-o-transition: color 150ms linear;
  	-ms-transition: color 150ms linear;
  	transition: color 150ms linear;
}

.digg_pagination a:hover, .digg_pagination a:focus {
      color: #105cb6;
}

.digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; 
}

.digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; 
}

.digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; 
}

* html .digg_pagination {
    height: 1%; 
}

*:first-child + html .digg_pagination {
    overflow: hidden; }

    /*-----------------------------------------*/