.home_wrapper {
	width: 1162px;
	margin: auto;
	overflow: hidden;
	padding-top: 10px;
	border: 0px solid red;
}

.home_container {
  width: 852px;
  float: left;
  background-color: #fff;
  margin: 10px 10px 20px 20px;
  border: 1px solid #DFE0E4;
}

.box_home {
	border: 0px solid yellow;
	padding: 0 10px 0 20px;
}

.box_home li {
	display: inline-block;
	margin-right: 6px;
	border: 0px solid red;
}

.home_box_header {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	margin: 12px 20px 5px 20px;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #fff;
	border: 0px solid green;
}

.home_box_header li {
	display: inline-block;
	vertical-align: middle;
	border: 0px solid green;
}

.box_separator_helper {
	border-bottom: 1px solid #E2E2E2;
	margin-bottom: 10px;
}

.none {
	border-bottom: 0px solid #ececec;
}

/*----------------------------*/

/* SIDEBAR */

.home_sidebar {
	background-color: #fff;
	width: 260px;
	margin: 10px 20px 0px 0;
	padding: 15px 15px 0px 15px;
	float: left;
	border: 1px solid #DFE0E4;
} 

.home_sidebar_header {
	height: 30px;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	border-bottom: 1px solid #ECECEC;
}

.home_sidebar_content ul  {
	margin-top: 15px;
}

.home_sidebar_content li {
	height: 55px;
	margin-bottom: 15px;
	border: 0px solid red;
}

.home_sidebar_img {
	width: 100px;
	height: 55px;
	float: left;
	position: relative;
	border: 0px solid red;
}

.home_sidebar_title {
	float: right;
	width: 120px;
	height: 55px;
	overflow: hidden;
	border: 0px solid red;
}

.home_sidebar_make {
	font-family: 'Roboto', sans-serif;
	font-size: 9px;
	color: #336f8c;
	text-transform: uppercase;

	-webkit-transition: color 150ms linear;
  	-moz-transition: color 150ms linear;
  	-o-transition: color 150ms linear;
  	-ms-transition: color 150ms linear;
  	transition: color 150ms linear;
}

.home_sidebar_model {
	margin-top: -3px;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	text-transform: capitalize;
}

a:hover .home_sidebar_model, a:hover .home_sidebar_make {
	color: #224a5d;
}

.home_sidebar_price {
	width: 100px;
	position: absolute;
	text-align: center;
	bottom: 0;
	right: 0;
	font-size: 9px;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	background-color:rgba(255,0,0,0.5);
	padding: 2px;
}

.home_sidebar_location {
	font-family: "Open Sans", helvetica, arial;
	font-size: 9px;
	color: #777777;
	padding-top: 5px;
	border: 0px solid #ececec;
}

/*---------------------*/