// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#order_wrapper {
	width: 960px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 100px;
	background-color: #ffffff;
	overflow: hidden;
	border: 0px solid red;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  	-moz-box-shadow:    0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  	box-shadow:         0px 0px 0px 1px rgba(150, 150, 150, 0.25);
}

#order_box_header {
	width: 100%;
	height: 60px;
	line-height: 60px;
	color: #ffffff;
	font-size: 20px;
	font-family: "Open Sans", helvetica, arial;
	padding: 0 20px 0 20px;
	background-color: #316A7E;
}

#order_box_info {
	width: 60%;
	float: left;
	font-family: "Open Sans", helvetica, arial;
	font-size: 14px;
	padding: 20px 0 20px 20px;
	border: 0px solid red;
}

#order_box_info_detail {
	padding: 10px;
	background-color: #F6F7F8;
	border: 1px solid #dbdbdb;
}

#order_box_info li {
	border: 0px solid green;
	padding: 5px 0 5px 0;
}

#order_box_info span {
	float: right;
}

#order_box_info span a {
	float: right;
	color: #346fa1;
	-webkit-transition: color 150ms linear;
  	-moz-transition: color 150ms linear;
  	-o-transition: color 150ms linear;
  	-ms-transition: color 150ms linear;
  	transition: color 150ms linear;
}

#order_box_info span a:hover {
	color: #7aadd9;
}

#order_box_payment_form {
	width: 40%;
	float: right;
	padding: 20px;
	border-left: 0px solid #dbdbdb;
}

#order_box_secure_pay {
	width: 100%;
	margin-bottom: 20px;
	border: 0px solid red;
}

#order_box_secure_pay ul {
	overflow: hidden;
	border: 0px solid red;
}

#order_box_secure_pay li{
	float: left;
	padding: 0 9px 0 9px;
	border: 0px solid red;
}

.order_box_field input[type="text"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	margin-top: 2px;
	color: #555555;
	border: 1px solid #cecfc0;
}

.order_box_field label {
	color: #555555;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	border: 0px solid #cecfc0;
}

.order_box_field select {
	 -webkit-appearance: none;  /*Removes default chrome and safari style*/
     -moz-appearance: none;  /*Removes default style Firefox*/
     background-color: #ffffff;
     border:1px solid #cecfc0;
     padding: 10px 30px 10px 10px;
     margin-bottom: 10px;
     margin-right: 10px;
     margin-top: 2px;
     font-size: 12px;
     background: url("dropdown.png") no-repeat;
     background-position: 85% 13px; /*Position of the background-image*/
     text-indent: 0.01px; /* Removes default arrow from firefox*/
     text-overflow: "";   /*Removes default arrow from firefox*/
}

#order_box_button {
	border: 0px solid red;
}

.pay_button {
	width: 100%;
	height: 50px;
	text-align: center;
	color: #ffffff;
	font-size: 20px;
	font-family: "Open Sans", helvetica, arial;
	background-color: #26ae5a;
	border: none;
	cursor: pointer;
  	-webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;
}

.pay_button:hover{
  background-color: #229c51;
}

#stripe_error {
	color: red;
	border: 0px solid red;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	padding-bottom: 10px;
}