// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#order_wrapper {
	width: 920px;
	margin: 0 auto;
	margin-top: 20px;
	padding: 20px;
	background-color: #ffffff;
}