// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#order_wrapper {
	width: 960px;
	margin: 0 auto;
	margin-top: 20px;
	padding: 20px 20px 0 20px;
	background-color: #ffffff;
	overflow: hidden;
	border: 0px solid red;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  	-moz-box-shadow:    0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  	box-shadow:         0px 0px 0px 1px rgba(150, 150, 150, 0.25);
}

#order_box_header {
	width: 100%;
	color: #777777;
	font-size: 25px;
	padding: 0px 0px 20px 0px;
	font-family: 'Roboto', sans-serif;
	border: 0px solid red;
	text-transform: uppercase;
	text-align: center;
	position: relative;
}

#order_box_info {
	width: 69%;
	font-family: "Open Sans", helvetica, arial;
	font-size: 14px;
	float: left;
	border: 0px solid red;
}

#order_box_info ul {
	border: 0px solid red;
	overflow: hidden;
}

#order_box_info li {
	float: left;
	width: 293px;
	height: 150px;
	padding: 90px 20px 20px 20px;
	text-align: center;
	margin: 0 20px 20px 0;
	background-color: #F5F5F5;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	position: relative;
	color: #b6b6b6;
	border: 0px solid red;
	-webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;
}

#order_box_info li:hover {
	background-color: #f0f0f0;
}

#order_box_info img {
	position: absolute;
	top: 25px;
	right: 120px;
	border: 0px solid red;
}

#order_box_info  .trial_box_ribbon {
	position: absolute;
	top: -10px;
	right: 10px;
}

#order_box_payment_form {
	width: 31%;
	float: right;
	margin: 0 auto;
	border: 0px solid red;
}

.order_box_field input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 2px;
	color: #555555;
	border: 1px solid #cecfc0;
}

.order_box_field label {
	color: #555555;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	border: 0px solid #cecfc0;
}

.order_box_field select {
	 -webkit-appearance: none;  /*Removes default chrome and safari style*/
     -moz-appearance: none;  /*Removes default style Firefox*/
     background-color: #ffffff;
     border:1px solid #cecfc0;
     padding: 10px 30px 10px 10px;
     margin-bottom: 10px;
     margin-right: 10px;
     margin-top: 2px;
     font-size: 12px;
     /*background: url("dropdown.png") no-repeat;*/
     background-position: 100% 0px; /*Position of the background-image*/
     text-indent: 0.01px; /* Removes default arrow from firefox*/
     text-overflow: "";   /*Removes default arrow from firefox*/
}

.order_box_field img select {
	 border: 1px solid red;
}


#order_box_button {
	border: 0px solid red;
}

.pay_button {
	width: 100%;
	height: 50px;
	text-align: center;
	color: #ffffff;
	font-size: 20px;
	font-family: "Open Sans", helvetica, arial;
	background-color: #26ae5a;
	border: none;
	cursor: pointer;
  	-webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;
}

.pay_button:hover{
  background-color: #229c51;
}

#order_box_please_sign_in {
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #ffffff;
	font-size: 20px;
	font-family: "Open Sans", helvetica, arial;
	background-color: #26ae5a;
	border: none;
	cursor: pointer;
  	-webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;
}

#order_box_please_sign_in:hover {
	background-color: #229c51;
}

#stripe_error {
	color: red;
	border: 0px solid red;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	padding-bottom: 0px;
}

#order_box_secure_pay_wrapper {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 20px;
  	margin-bottom: 100px;
	border: 0px solid red;
}

#order_box_secure_pay {
	width: 40%;
	float: left;
	padding: 20px 20px 17px 20px;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  	-moz-box-shadow:    0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  	box-shadow:         0px 0px 0px 1px rgba(150, 150, 150, 0.25);
	border: 0px solid red;
}

#order_box_secure_pay ul {
	overflow: hidden;
	border: 0px solid red;
}

#order_box_secure_pay li{
	float: left;
	padding: 0 9px 0 9px;
	border: 0px solid red;
}

#order_box_money_back {
	width: 57.9%;
	float: left;
	margin-left: 20px;
	padding: 20px;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  	-moz-box-shadow:    0px 0px 0px 1px rgba(150, 150, 150, 0.25);
  	box-shadow:         0px 0px 0px 1px rgba(150, 150, 150, 0.25);
	border: 0px solid red;
}

#order_box_money_back span {
	color: #555555;
	font-family: "Open Sans", helvetica, arial;
	font-size: 12px;
}

#order_box_money_back img {
	float: left;
	margin: 0 20px 0 0;
}