#link_to_teacher_sign_up_wrapper {
  width: 400px;
  margin:0 auto;
  border: 1px solid #DFE0E4;
  margin-top: 20px;
  padding: 20px 0 20px 0;
  background-color: #fff;
}

#link_to_teacher_sign_up {
  width: 360px;
  margin:0 auto;
  height: 50px;
  line-height: 50px;
  background: #26ae5a;
  font-size: 18px;
  font-family:'Open Sans',sans-serif;
  color: #fff;
  text-align: center;
  border: 0px solid red;
  -webkit-transition: background-color 150ms linear;
  -moz-transition: background-color 150ms linear;
  -o-transition: background-color 150ms linear;
  -ms-transition: background-color 150ms linear;
  transition: background-color 150ms linear;
}

a:hover #link_to_teacher_sign_up {
  background-color: #229c51;
}

#student_login{
  width:400px;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #DFE0E4;
}

#student_login_header {
  background: #316A7E;
  padding: 20px;
  border: 0px solid red;
  color: #ffffff;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

#student_login_form {
	padding: 20px;
  background-color: #ffffff;
	font-size: 13px;
  border: 0px solid red;
}

/*#triangle{
  width:0;
  border-top:12x solid transparent;
  border-right:12px solid transparent;
  border-bottom:12px solid #3399cc;
  border-left:12px solid transparent;
  margin:0 auto;
}*/

.student_login_field {
  width:100%;
  background:#fff;
  margin-bottom:15px;
  border:1px solid #ccc;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:14px;
  color:#555;
}

.login_submit_button {
  width:100%;
  height: 50px;
  background: #26ae5a;
  border:0;
  margin-top: 10px;
  font-family:'Open Sans',sans-serif;
  font-size: 18px;
  color: #ffffff;
  cursor:pointer;
  -webkit-transition: background-color 150ms linear;
  -moz-transition: background-color 150ms linear;
  -o-transition: background-color 150ms linear;
  -ms-transition: background-color 150ms linear;
  transition: background-color 150ms linear;
}

.login_submit_button:hover{
  background-color: #229c51;
}

#student_login_links {
	width: 400px;
	margin: 0 auto;
	text-align: center;
	margin-top: 10px;
	border: 0px solid red;
}

#student_login_links a {
	color: #3399CC;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	padding: 0 7px 0 7px;

}

#student_login_links a:hover {
	text-decoration: underline;
}


.terms_and_conditions {
  width: 20px;
  float: left;
  border: 0px solid red;
  position: relative;
}

.terms_and_conditions label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background: #eee;
  border:1px solid #ddd;
}

/**
 * Display the tick inside the checkbox
 */
.terms_and_conditions label:after {
  opacity: 0.2;
  content: '';
  position: absolute;
  width: 7px;
  height: 3px;
  background: transparent;
  top: 5px;
  left: 5px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/**
 * Create the hover event of the tick
 */
.terms_and_conditions label:hover::after {
  opacity: 0.5;
}

/**
 * Create the checkbox state for the tick
 */
.terms_and_conditions input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.terms_link {
  height: 20px;
  line-height: 20px;
  margin-left: 0px;
  font-size: 11px;
  font-family: 'Lato', sans-serif;
  float: left;
  border: 0px solid red;
}

.terms_link a {
  color: #29ACC0;
}

/* HISTORY */

#history_wrapper {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  overflow: hidden;
}

#history_header {
  width: 100%;
  padding: 20px 20px 15px 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaeb;
  background-color: #F6F7F8;
  font-weight: bold;
  font-size: 20px;
  overflow: hidden;
}

#history_header_small {
  width: 100%;
  padding-bottom: 3px;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  color: #999999; 
}

#history_header_small a {
  color: #346fa1; 
  -webkit-transition: color 150ms linear;
  -moz-transition: color 150ms linear;
  -o-transition: color 150ms linear;
  -ms-transition: color 150ms linear;
  transition: color 150ms linear;
}

#history_header_small a:hover {
  color: #428BCA;
}

#history_course {
  width: 76.9%;
  float: left;
  padding: 0px 0px 17px 0px;
  background-color: #ffffff;
  margin-right: 20px;
  border: 1px solid #DFE0E4;
  overflow: hidden;
}

#history_course table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 20px 0px ;
  border: 0px solid #DFE0E4;
}

#history_course th {
  padding-bottom: 5px;
  color: #278998;
  vertical-align: bottom;
  font-family: "Lato", helvetica, arial;
  font-size: 14px;
  text-align: left;
  border-bottom: 2px solid #278998;
}

#history_course td {
  padding-top: 3px;
  vertical-align: top;
  font-size: 14px;
  font-family: "Open Sans", helvetica, arial;
  border: 0px solid #DFE0E4;
}

#history_order {
  width: 21%;
  float: left;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #DFE0E4;
}

#history_order table {
  width: 100%;
}

#history_order th {
  padding-bottom: 5px;
  color: #278998;
  font-size: 14px;
  vertical-align: bottom;
  text-align: left;
  border-bottom: 2px solid #278998;
}

#history_order td {
  padding-top: 3px;
  vertical-align: top;
  font-size: 14px;
  font-family: "Open Sans", helvetica, arial;
  border: 0px solid #DFE0E4;
}

#history_no_records {
  width: 1000px;
  height: 200px;
  line-height: 198px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 40px;
  color: #DFE0E4;
  text-align: center;
  border: 1px solid #DFE0E4;
  background-color: #F6F7F8;
}