<div class="landing_image_wrapper">
    <!--<div class="content">
        <div class="content_title">
            Aircraft market 
            <div class="content_title_small">
                the land of the free 
            </div>
        </div>
    </div>-->

    <span id="landing_image" role="img" aria-label="Bicycle.">
      <span class="inner">
      </span>
    </span>

</div>