/* USER PROFILE */

.settings_container_wrapper {
	margin: 20px;
}

.user_profile_wrapper,
.user_profile_change_password_wrapper,
.user_profile_save_changes_wrapper {
	max-width: 480px;
	margin: auto;
	margin-bottom: 20px;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #DFE0E4;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.user_profile_form_header {
	font-family: "Open Sans", helvetica, arial;
	font-size: 25px;
  	color: #F05053;
  	margin-bottom: 20px;
  	text-align: center;
	border-bottom: 0px solid #f2f2f4;
	border: 0px solid red;
}

.user_profile_form_wrapper ul {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #f2f2f4;
}

.user_profile_form_wrapper ul:last-child {
	border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

.user_profile_form_wrapper li.one_column,
.user_profile_form_wrapper li.two_columns {
	width: 100%;
	display: inline-block;
	padding-bottom: 10px;
	margin-right: 6px;
}

.user_profile_form_wrapper li.two_columns {
	width: 48.8%;
}

.user_profile_form_wrapper li:last-child {
	padding-bottom: 0;
}

.user_profile_form_wrapper li:nth-child(even) {
	margin-right: 0;
}

.user_profile_form_label {
	width: 100%;
	font-size: 12px;
	margin-bottom: 5px;
	font-weight: bold;
}

.user_profile_label_small {
	font-family: "Open Sans", helvetica, arial;
	font-size: 12px;
	margin-top: 5px;
	display: block;
	font-weight: normal;
}

.one_column input,
.two_columns input,
.user_profile_about {
	width: 100%;
	height: 40px;
	padding: 10px;
	font-family: "Open Sans", helvetica, arial;
	font-size: 12px;
	border: 1px solid #DFE0E4;

	background-color: #fefafa;
  	border:  1px solid #fdeded;

  	-webkit-box-shadow: inset 0px 0px 2px 0px rgba(250,229,229,0.5);
  	-moz-box-shadow: inset 0px 0px 2px 0px rgba(250,229,229,0.5);
  	box-shadow: inset 0px 0px 2px 0px rgba(250,229,229,0.5);
}

.user_profile_about {
	height: 150px;
}
/*---------------*/

/* IMAGE UPLOAD BUTTON */

label.myLabel input[type="file"] {
    position: fixed;
    top: -1000px;
}

/***** Example custom styling *****/
.myLabel {
	width: 100%;
	height: 45px;
	line-height: 45px;
	margin-top: 10px;
	margin-bottom: 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    background: #f16164;
    display: inline-block;

    -webkit-transition: background 150ms linear;
  	-moz-transition: background 150ms linear;
  	-o-transition: background 150ms linear;
  	-ms-transition: background 150ms linear;
  	transition: background 150ms linear;

  	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.myLabel:hover {
    background: #F05053;
}
.myLabel:active {
    background: #F05053;
}

.myLabel span {
	color: #fff;
	padding-left: 25px;
	position: relative;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
}

.myLabel span img {
	position: absolute;
	top: -1px;
	left: -5px;
	border: 0px solid yellow;
}

li.preview_logo {
	max-width: 100%;
	max-height: 150px;
	border: 1px solid #ececec;
}

li.preview_logo img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

.status_avatar {
	color: #F05053;
	font-weight: normal;
}

/*----------------------*/

/* SAVE CHANGES BUTTON */

.button_wrapper {
	width: 100%;
	margin-top: 20px;
}

.user_form_update_button {
	width: 100%;
	height: 45px;
	color: #fff;
	font-family: "Open Sans", helvetica, arial;
  	font-size: 16px;
  	cursor: pointer;
	background-color: #F16164;
	border: 0;
	border-bottom: 2px solid #B14739;

	-webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;

  	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.user_form_update_button:hover {
	background-color: #F05053;
}

/* -------------- */

/* DELETE PROFILE BUTTON */

.delete_user_account_button_wrapper {
	margin-top: 40px;
	margin-bottom: 80px;
	text-align: center;
	border: 0px solid red;
}

.delete_user_account_button {
	font-family: 'PT Sans', sans-serif;
	background-color: transparent;
	cursor: pointer;
	color: #999999;
	border: 0px solid red;

	-webkit-transition: color 150ms linear;
  	-moz-transition: color 150ms linear;
  	-o-transition: color 150ms linear;
  	-ms-transition: color 150ms linear;
  	transition: color 150ms linear;
}

.delete_user_account_button:hover {
	color: #F05053;
}

/*-------------------*/

@media (max-width: 500px) {

	.user_profile_form_wrapper li.two_columns {
		width: 100% !important; /* over-ride all li styles */
	}

	.user_profile_form_header {
		font-size: 18px;
	}
}

/*-----------------*/