/* USER SHOW PAGE */

.show_page_wrapper {
	width: 960px;
	margin: auto;
	margin-top: 80px;
}

.show_page_panel {
	width: 100%;
	height: 35px;
	background-color: #fff;
	border-bottom: 1px solid #DFE0E4;
}

.show_page_panel ul {
	height: 100%;
}

.show_page_panel li {
	display: inline-block;
	height: 100%;
	margin-left: 26px;
	line-height: 35px;
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
	font-weight: bold;
	border: 0px solid red;
}

.show_page_panel a {
	color: #3F3F3F;
	-webkit-transition: color 150ms linear;
  	-moz-transition: color 150ms linear;
  	-o-transition: color 150ms linear;
  	-ms-transition: color 150ms linear;
  	transition: color 150ms linear;
}

.show_page_panel a:hover {
	color: #208999;
}

.show_user_page_header {
	width: 100%;
	min-width: 350px;
	background-color: #fff;
	height: 220px;
	background-image: url(image-path('bg_texture.png'));
	position: relative;
	border-left: 1px solid #DFE0E4;
	border-right: 1px solid #DFE0E4;
}

.show_user_page_avatar {
	text-align: center;
	position: absolute;
	top: 0;
	left: 20px;
	width: 100px;
	height: 100px;
	background-color: #fff;
	border: 0px solid red;
}

.show_user_page_avatar img {
	width: 100px;
	border: 0px solid #DFE0E4;
}

.show_user_details {
	width: 100%;
	height: 60px;
	line-height: 58px;
	background-color: #fff;
	font-family: 'PT Sans', sans-serif;
	font-size: 22px;
	letter-spacing: -1px;
	font-weight: bold;
	color: #3F3F3F;
	padding-left: 20px;
	position: relative;
	border-left: 1px solid #DFE0E4;
	border-right: 1px solid #DFE0E4;
	border-bottom: 1px solid #DFE0E4;
}

.show_user_settings {
	position: absolute;
	top: 0;
	right: 30px;
	font-size: 12px;
	border: 0px solid red;
}

.show_user_settings li {
	display: inline-block;
	margin-right: 16px;
}

.show_user_settings a {
	color: #3F3F3F;
	-webkit-transition: color 150ms linear;
  	-moz-transition: color 150ms linear;
  	-o-transition: color 150ms linear;
  	-ms-transition: color 150ms linear;
  	transition: color 150ms linear;
}

.show_user_settings a:hover {
	color: #208999;
}


/* SHOW USER ADVERTS */

.show_page_content {
	margin: 10px auto;
	overflow: hidden;
	border: 0px solid red;
}

.show_user_adverts_wrapper {
	width: 70%;
	float: right;
	border: 0px solid red;
}

.show_user_adverts_header {
	height: 40px;
	line-height: 40px;
	padding: 0 0 0 20px;
	margin-bottom: 10px;
	background-color: #fff;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
	border: 1px solid #DFE0E4;
}

.show_user_adverts {
	overflow: hidden;
	height: 127px;
	background-color: #fff;;
	margin-bottom: 10px;
	position: relative;
	border: 1px solid #DFE0E4;
}

.show_user_adverts_image {
	width: 200px;
	float: left;
	border: 0px solid red;
}

.show_user_adverts_content {
	width: 470px;
	height: 100%;
	float: right;
	border: 0px solid red;
}

a .show_user_adverts_image,
a .show_user_adverts_make,
a .show_user_adverts_model {
	color: #444444;
}

a:hover .show_user_adverts_image,
a:hover .show_user_adverts_make,
a:hover .show_user_adverts_model {
	color: #175263;
}

.show_user_adverts_make {
	width: 100%;
	padding: 15px 20px 0px 20px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	border: 0px solid red;
}

.show_user_adverts_model {
	font-size: 20px;
}

.show_user_adverts_footer {
	width: 100%;
	height: 35px;
	line-height: 35px;
	padding-left: 20px;
	font-family: "Open Sans", helvetica, arial;
	font-size: 11px;
	color: #777777;
	border-top: 1px solid #ececec;
	border: 0px solid red;
}

/*-----------------------*/

.show_user_sidebar {
	width: 29%;
	padding: 20px;
	float: left;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #777777;
	background-color: #fff;
	border: 1px solid #DFE0E4;
}

.show_user_sidebar_header {
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	font-weight: bold;
	color: #444444;
	border-bottom: 1px solid #DFE0E4;
}

.show_user_sidebar_about {
	border: 0px solid red;
}

.show_user_sidebar_about_button {
	width: 200px;
	height: 35px;
	line-height: 32px;
	text-align: center;
	color: #fff;
	margin-left: 13px;
	background-color: #26ae5a;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;
}

.show_user_sidebar_about_button:hover {
	background-color: #229c51;
}

.show_user_sidebar_about_button img {
	float: left;
	margin: 7px 0 0 10px;
	border: 0px solid red;
}