/* REGISTRATION STEPS */

ul.registration_steps {
  width: 480px;
  max-width: 90%;
  margin: auto;
  margin-top: 70px;
}

ul.registration_steps.step2 {
  width: 720px;
}

ul.registration_steps li {
  width: 50%;
  display: inline-block;
  margin-right: -4px;
  font-family: "Open Sans", helvetica, arial;
  font-size: 13px;
} 

ul.registration_steps li:first-child {
  padding-right: 5px;
}

ul.registration_steps li:last-child {
  padding-left: 5px;
}

ul.registration_steps span {
  margin-bottom: 5px;
  display: block;
  border: 2px solid #d1d2d5;
}

ul.registration_steps span.active {
  border: 2px solid #F16164;
}

/*--------------------*/

/* USER SIGN UP*/

.registration_form_wrapper {
	width: 480px;
	max-width: 90%;
	margin: auto;
  margin-top: 20px;
  margin-bottom: 60px;
	padding: 20px;
	background-color: #fff;
	overflow: hidden;
	border: 1px solid #DFE0E4;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.sign_up_section.company {
  width: 100%;
  display: none;
  border: 0px solid red;
}

.registration_form_tagline {
	padding-top: 5px;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	color: #8e8e8e;
}

.registration_form_tagline a {
	color: #8e8e8e;
}

.registration_form_tagline a:hover {
	color: #589FC3;
}

.registr_required_fields {
  font-family: "Open Sans", helvetica, arial;
  font-size: 12px;
  float: right;
  color: #F05053;
}

.registration_form_header {
  font-family: "Open Sans", helvetica, arial;
  font-size: 25px;
  color: #F05053;
  margin-bottom: 15px;
  text-align: center;
}

.auth_form {
  margin-bottom: 15px;
}

.auth_label {
  font-weight: bold;
  font-size: 12px;
  color: #444;
  border: 0px solid red;
}

.auth_field {
  width: 100%;
  margin-top: 3px;
  height: 40px;
  padding: 0 10px 0 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  background-color: #fefafa;
  border:  1px solid #fdeded;

  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(250,229,229,0.5);
  -moz-box-shadow: inset 0px 0px 2px 0px rgba(250,229,229,0.5);
  box-shadow: inset 0px 0px 2px 0px rgba(250,229,229,0.5);
}

.preview_avatar.sign_up_logo {
  max-width: 100%;
  max-height: 148px;
  margin-bottom: 20px;
  border: 0px dashed #f1f1f1;
}

.preview_avatar.sign_up_logo img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

.status_avatar.sign_up {
  color: #F05053;
  font-size: 12px;
  margin-top: 5px;
  font-weight: normal;
}

ul.account_type li {
  width: 48.8%;
  display: inline-block;
  margin-top: 3px;
  margin-right: -4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border: 0px solid red;
}

ul.account_type li:nth-child(even) {
  margin-right: 0px;
}

ul.sign_up_form li {
  width: 48.8%;
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 15px;
  border: 0px solid red;
}

ul.sign_up_form li:nth-child(even) {
  margin-right: 0px;
}

.registration_submit_button {
  width: 100%;
  height: 45px;
  cursor: pointer;
  background-color: #F16164;
  color: #fff;
  border: none;
  font-family: "Open Sans", helvetica, arial;
  font-size: 18px;
  margin-bottom: 15px;
  border-bottom: 2px solid #B14739;

  -webkit-transition: background-color 150ms linear;
  -moz-transition: background-color 150ms linear;
  -o-transition: background-color 150ms linear;
  -ms-transition: background-color 150ms linear;
  transition: background-color 150ms linear;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.registration_submit_button:hover {
  background-color: #F05053;
}

.registration_form_links {
	font-family: "Open Sans", helvetica, arial;
  	font-size: 13px;
}

.registration_form_links a {
	color: #589FC3;
}

/*----------------------*/

/* MEDIA */

@media (max-width: 520px) {

  ul.sign_up_form li {
    width: 100% !important; /* over-ride all li styles */
  }

}

/*-----------------*/