/* USER SIGN IN*/

.login_form_wrapper {
	width: 480px;
	margin: 80px auto;
	padding: 20px 40px 20px 40px;
	background-color: #fff;
	overflow: hidden;
	border: 1px solid #DFE0E4;
}

.login_remember_me {
	width: 150px;
	position: absolute;
	top: 0;
	left: 30px;
	font-family: 'PT Sans', sans-serif;
  	font-size: 13px;
  	font-weight: bold;
  	color: #999;
	border: 0px solid red;
}

/*--------------------------*/