/* USER SIGN IN*/

.login_form_wrapper {
	width: 480px;
	max-width: 90%;
	margin: 70px auto;
	padding: 20px;
	background-color: #fff;
	overflow: hidden;
	border: 1px solid #DFE0E4;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.login_remember_me {
	width: 150px;
	position: absolute;
	top: 0;
	left: 30px;
	font-family: 'PT Sans', sans-serif;
  	font-size: 13px;
  	font-weight: bold;
  	color: #999;
  	margin-bottom: 15px;
	border: 0px solid red;
}

/*--------------------------*/