<% if user_signed_in? && current_user == @user %>
	<ul class="usr_prfl_nav">
		<%= link_to user_path(current_user) do %>
			<li>My Adverts</li>
		<% end %>

		<%= link_to subscription_path do %>
			<li>Subscription</li>
		<% end %>

		<%= link_to edit_user_registration_path do %>
			<li class="last_child_helper">Settings</li>
		<% end %>
	</ul>
<% end %>