<% if user_signed_in? && current_user == @user %>
	<div class="show_page_panel">
		<ul>
		<li><%= link_to 'My Adverts', user_path(current_user) %></li>
		<li><%= link_to 'Subscription', subscription_path %></li>
		<li><%= link_to 'Settings', edit_user_registration_path %></li>
		</ul>
	</div> 
<% end %>